Repository hiero-ledger/hiero-consensus-node, pull requests merged in 2024-03, with the labels that each got.

#11787 fix: 11636 VirtualHasher performance improvements
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/schedulers/internal/ConcurrentTask.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/tasks/AbstractTask.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/config/VirtualMapConfig.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/hash/VirtualHasher.java
Labels: Performance

#11967 fix: 11964: Hashes RAM to disk threshold is incorrect for legacy MerkleDb tables, fileStore and smartContractIterableKvStore
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/config/MerkleDbConfig.java
Labels: P0, Platform Virtual Map, Platform Data Structures

#11998 fix: 11996: The fix for #11498 doesn't cover generic object keys
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/MerkleDbDataSource.java
  platform-sdk/swirlds-merkle/src/test/java/com/swirlds/virtual/merkle/TestObjectKey.java
  platform-sdk/swirlds-merkle/src/test/java/com/swirlds/virtual/merkle/TestObjectKeySerializer.java
  platform-sdk/swirlds-merkle/src/test/java/com/swirlds/virtual/merkle/map/MapTest.java
Labels: P0, Platform Virtual Map, Platform Data Structures

#11999 fix: 11997: Backport the fix for 11996 to release 0.47
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/MerkleDbDataSource.java
  platform-sdk/swirlds-merkle/src/test/java/com/swirlds/virtual/merkle/TestObjectKey.java
  platform-sdk/swirlds-merkle/src/test/java/com/swirlds/virtual/merkle/TestObjectKeySerializer.java
  platform-sdk/swirlds-merkle/src/test/java/com/swirlds/virtual/merkle/map/MapTest.java
Labels: P0, Platform Virtual Map, Platform Data Structures

#12005 fix: 12004: Backport the fix for 11996 to release 0.48
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/MerkleDbDataSource.java
  platform-sdk/swirlds-merkle/src/test/java/com/swirlds/virtual/merkle/TestObjectKey.java
  platform-sdk/swirlds-merkle/src/test/java/com/swirlds/virtual/merkle/TestObjectKeySerializer.java
  platform-sdk/swirlds-merkle/src/test/java/com/swirlds/virtual/merkle/map/MapTest.java
Labels: P1, Platform Virtual Map, Platform Data Structures

#11795 fix: add positive suite tests for fixed custom fee
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/TransferWithCustomFees.java
Labels: Test Development, Limechain, Modularization

#12072 fix: 12071: Forwardport the fix for 11964 to release 0.48
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/config/MerkleDbConfig.java
Labels: P1, Platform Virtual Map, Platform Data Structures

#11275 fix: differential testing: add singleton stores mono and modular representation
  hedera-node/cli-clients/src/main/java/com/hedera/services/cli/signedstate/DumpBlockInfoSubcommand.java
  hedera-node/cli-clients/src/main/java/com/hedera/services/cli/signedstate/DumpCongestionSubcommand.java
  hedera-node/cli-clients/src/main/java/com/hedera/services/cli/signedstate/DumpPayerRecordsSubcommand.java
  hedera-node/cli-clients/src/main/java/com/hedera/services/cli/signedstate/DumpStakingInfoSubcommand.java
  hedera-node/cli-clients/src/main/java/com/hedera/services/cli/signedstate/DumpStakingRewardsSubcommand.java
  hedera-node/cli-clients/src/main/java/com/hedera/services/cli/signedstate/DumpStateCommand.java
  hedera-node/cli-clients/src/main/java/com/hedera/services/cli/signedstate/SignedStateHolder.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/bbm/singleton/BlockInfoAndRunningHashes.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/bbm/singleton/BlockInfoDumpUtils.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/bbm/singleton/Congestion.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/bbm/singleton/CongestionDumpUtils.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/bbm/singleton/PayerRecord.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/bbm/singleton/PayerRecordsDumpUtils.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/bbm/singleton/StakingInfo.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/bbm/singleton/StakingInfoDumpUtils.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/bbm/singleton/StakingRewards.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/bbm/singleton/StakingRewardsDumpUtils.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/bbm/utils/ThingsToStrings.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/state/recordcache/RecordCacheService.java
  hedera-node/hedera-mono-service/src/main/java/com/hedera/node/app/service/mono/state/merkle/MerkleNetworkContext.java
  hedera-node/hedera-mono-service/src/main/java/com/hedera/node/app/service/mono/state/merkle/MerkleStakingInfo.java
Labels: Limechain, Modularization

#11802 fix: add negative suite tests for fixed custom fee
  hedera-node/test-clients/src/eet/java/EndToEndTests.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/TransferWithCustomFixedFees.java
  hedera-node/test-clients/src/test/java/EndToEndPackageRunner.java
Labels: Test Development, Limechain

#11973 fix: 11966: Revisit MerkleDbConfig initialization in MerkleDb classes
  platform-sdk/swirlds-benchmarks/src/jmh/java/com/swirlds/benchmark/DataFileCollectionBench.java
  platform-sdk/swirlds-benchmarks/src/jmh/java/com/swirlds/benchmark/HalfDiskMapBench.java
  platform-sdk/swirlds-benchmarks/src/jmh/java/com/swirlds/benchmark/KeyValueStoreBench.java
  platform-sdk/swirlds-jasperdb/src/hammer/java/com/swirlds/merkledb/files/DataFileCollectionCompactionHammerTest.java
  platform-sdk/swirlds-jasperdb/src/hammer/java/com/swirlds/merkledb/files/DataFileReaderHammerTest.java
  platform-sdk/swirlds-jasperdb/src/hammer/java/com/swirlds/merkledb/files/MemoryIndexDiskKeyValueStoreCompactionHammerTest.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/MerkleDbCompactionCoordinator.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/MerkleDbDataSource.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/MerkleDbStatistics.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/MerkleDbStatisticsUpdater.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/MerkleDbTableConfig.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/files/DataFileCollection.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/files/DataFileCompactor.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/files/DataFileIteratorJdb.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/files/DataFileIteratorPbj.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/files/DataFileReaderJdb.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/files/DataFileReaderPbj.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/files/hashmap/HalfDiskHashMap.java
  platform-sdk/swirlds-jasperdb/src/test/java/com/swirlds/merkledb/CompactionInterruptTest.java
  platform-sdk/swirlds-jasperdb/src/test/java/com/swirlds/merkledb/MerkleDbCompactionCoordinatorTest.java
  platform-sdk/swirlds-jasperdb/src/test/java/com/swirlds/merkledb/MerkleDbSnapshotTest.java
  platform-sdk/swirlds-jasperdb/src/test/java/com/swirlds/merkledb/MerkleDbStatisticsTest.java
  platform-sdk/swirlds-jasperdb/src/test/java/com/swirlds/merkledb/MerkleDbTableConfigTest.java
  platform-sdk/swirlds-jasperdb/src/test/java/com/swirlds/merkledb/files/DataFileCollectionCompactionTest.java
  platform-sdk/swirlds-jasperdb/src/test/java/com/swirlds/merkledb/files/DataFileCollectionJdbToPbjTest.java
  platform-sdk/swirlds-jasperdb/src/test/java/com/swirlds/merkledb/files/DataFileCollectionTest.java
  platform-sdk/swirlds-jasperdb/src/test/java/com/swirlds/merkledb/files/DataFileJdbLowLevelTest.java
  platform-sdk/swirlds-jasperdb/src/test/java/com/swirlds/merkledb/files/DataFilePbjLowLevelTest.java
  platform-sdk/swirlds-jasperdb/src/test/java/com/swirlds/merkledb/files/DataFileReaderCloseTest.java
  platform-sdk/swirlds-jasperdb/src/test/java/com/swirlds/merkledb/files/DataFileReaderPbjTest.java
  platform-sdk/swirlds-jasperdb/src/test/java/com/swirlds/merkledb/files/MemoryIndexDiskKeyValueStoreTest.java
  platform-sdk/swirlds-jasperdb/src/test/java/com/swirlds/merkledb/files/hashmap/HalfDiskHashMapTest.java
  platform-sdk/swirlds-jasperdb/src/testFixtures/java/com/swirlds/merkledb/test/fixtures/TestType.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCache.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/hash/VirtualHasher.java
Labels: Platform Virtual Map, Platform Data Structures

#12092 feat: State dumper final changes
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/bbm/StateDumper.java
Labels: Limechain, Modularization

#11897 feat: Add additional suites for FRACTIONAL_FEE plus MIXED_SCENARIO
  hedera-node/test-clients/src/eet/java/EndToEndTests.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/TransferWithCustomFractionalFees.java
  hedera-node/test-clients/src/test/java/EndToEndPackageRunner.java
Labels: Test Development, Limechain

#12263 fix: Implement modular freeze time (develop)
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/BlockRecordManager.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/impl/BlockRecordManagerImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/HandleWorkflow.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/HandleWorkflowTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/record/BlockRecordManagerTest.java
Labels: Modularization

#12207 fix: Add null check for autorenew account update
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/validators/TokenUpdateValidator.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/token/TokenUpdateSpecs.java
Labels: Bug, Limechain

#12326 fix: Xtests by passing default values to runningHashes and init platformState
  hedera-node/hedera-app/src/xtest/java/common/AbstractXTest.java
  hedera-node/hedera-app/src/xtest/java/common/BaseScaffoldingModule.java
Labels: Limechain

#11979 fix: add royalty fee suite tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/TransferWithCustomFixedFees.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/TransferWithCustomRoyaltyFees.java
Labels: Test Development, Limechain

#12411 fix: Clean up leaked virtual maps after migration
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/Hedera.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/throttle/CongestionThrottleService.java
  hedera-node/hedera-network-admin-service-impl/src/main/java/com/hedera/node/app/service/networkadmin/impl/schemas/InitialModServiceAdminSchema.java
Labels: Modularization

#12390 fix: 12388: VirtualMap / DataSource metrics should not contain certain chars in the names
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/MerkleDbStatistics.java
  platform-sdk/swirlds-jasperdb/src/test/java/com/swirlds/merkledb/MerkleDbStatisticsTest.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualMapStatistics.java
Labels: Platform Virtual Map, Platform Data Structures

#12426 fix: 12424: Backport the fix for 12388 to release 0.48
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/MerkleDbStatistics.java
  platform-sdk/swirlds-jasperdb/src/test/java/com/swirlds/merkledb/MerkleDbStatisticsTest.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualMapStatistics.java
Labels: Platform Virtual Map, Platform Data Structures

#12415 test: add tests for multiple transactions with fixed fee
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/TransferWithCustomFixedFees.java
Labels: Limechain
