Repository hiero-ledger/hiero-consensus-node, pull requests merged in 2024-09, with the labels that each got.

#15267 test: add a sigRequired true additional test
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenClaimAirdropTest.java
Labels: Token Airdrop

#15296 fix: 10342: HashListByteBuffer releases DirectByteBuffers lazily, adds memory pressure
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/AbstractLongList.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/HashListByteBuffer.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListDisk.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListHeap.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListOffHeap.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/DataFileCommon.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/DataFileWriter.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/utilities/MemoryUtils.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/LongListOffHeapTest.java
Labels: Platform Virtual Map, Platform Data Structures, Platform, Stability

#15323 chore: Use 0.54 protobufs on 0.54 release branch
  hapi/build.gradle.kts
Labels: Release

#15339 fix: Prevent designating deleted accounts as custom fee collectors
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenCreateHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/validators/CustomFeesValidator.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/validators/CustomFeesValidatorTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/token/TokenCreateSpecs.java
Labels: Bug

#15281 feat: HIP-632 alias-to-accounts and back
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/processors/HasTranslatorsModule.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/has/getevmaddressalias/EvmAddressAliasCall.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/has/getevmaddressalias/EvmAddressAliasTranslator.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/has/hederaaccountnumalias/HederaAccountNumAliasCall.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/has/hederaaccountnumalias/HederaAccountNumAliasTranslator.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/has/isvalidalias/IsValidAliasCall.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/has/isvalidalias/IsValidAliasTranslator.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hts/ReturnTypes.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/TestHelpers.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/has/evmaddressalias/EvmAddressAliasCallTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/has/evmaddressalias/EvmAddressAliasTranslatorTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/has/hederaaccountnumalias/HederaAccountNumAliasCallTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/has/hederaaccountnumalias/HederaAccountNumAliasTranslatorTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/has/isvalidalias/IsValidAliasCallTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/has/isvalidalias/IsValidAliasTranslatorTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip632/AliasTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip632/IsAuthorizedTest.java
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC632Contract/HRC632Contract.bin
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC632Contract/HRC632Contract.json
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC632Contract/HRC632Contract.sol
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC632Contract/HederaAccountService.json
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC632Contract/HederaAccountService.sol
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC632Contract/HederaResponseCodes.bin
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC632Contract/HederaResponseCodes.sol
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC632Contract/IHederaAccountService.sol
Labels: Hedera Smart Contract Service

#15165 docs: 15091: Design proposal: migrate Queue states from FCQueue to VirtualMap
  platform-sdk/docs/proposals/queuestate-fcqueue-to-virtualmap/architecture-0.54.svg
  platform-sdk/docs/proposals/queuestate-fcqueue-to-virtualmap/architecture-proposal.svg
  platform-sdk/docs/proposals/queuestate-fcqueue-to-virtualmap/map-keys.svg
  platform-sdk/docs/proposals/queuestate-fcqueue-to-virtualmap/proposal.md
  platform-sdk/docs/proposals/queuestate-fcqueue-to-virtualmap/queue-add.svg
  platform-sdk/docs/proposals/queuestate-fcqueue-to-virtualmap/queue-remove.svg
Labels: Design, Platform Data Structures, Platform

#15389 fix: 15385 Used `MerkleStateRoot.getReadablePlatformState` where possible to prevent race conditions
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/StateChangesValidator.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/ReconnectStateLoader.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/StateInitializer.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/SwirldsPlatform.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/builder/PlatformBuilder.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/builder/PlatformBuildingBlocks.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/builder/PlatformComponentBuilder.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/cli/GenesisPlatformStateCommand.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/cli/ValidateAddressBookStateCommand.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/eventhandling/DefaultTransactionHandler.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/reconnect/DefaultSignedStateValidator.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/reconnect/ReconnectLearner.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/recovery/EventRecoveryWorkflow.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/BirthRoundStateMigration.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/GenesisStateBuilder.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/MerkleRoot.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/MerkleStateRoot.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/State.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/SwirldStateManager.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/SwirldStateManagerUtils.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/TransactionHandler.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/address/AddressBookInitializer.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/service/PlatformStateService.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/signed/SignedState.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/signed/StartupStateUtils.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/snapshot/SavedStateMetadata.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/snapshot/SignedStateFileWriter.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/util/BootstrapUtils.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/AddressBookInitializerTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/SavedStateMetadataTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/consensus/RoundCalculationUtilsTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/eventhandling/TransactionHandlerTester.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/reconnect/DefaultSignedStateValidatorTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/BirthRoundStateMigrationTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/MerkleStateRootTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/SignedStateTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/StateRegistryTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/StateSigningTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/hashlogger/HashLoggerTest.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/state/BlockingSwirldState.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/state/RandomSignedStateGenerator.java
  platform-sdk/swirlds-state-api/src/main/java/com/swirlds/state/merkle/StateUtils.java
  platform-sdk/swirlds-unit-tests/core/swirlds-platform-test/src/main/java/com/swirlds/platform/test/SignedStateUtils.java
Labels: Bug, Platform

#15390 fix: Check for usability in various ops
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/BaseTokenHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/CryptoApproveAllowanceHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/CryptoDeleteAllowanceHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/CryptoUpdateHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenAccountWipeHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenAssociateToAccountHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenBurnHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenCreateHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenFreezeAccountHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenMintHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenUpdateHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/module-info.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoDeleteAllowanceHandlerTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoUpdateHandlerTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/TokenAssociateToAccountHandlerTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/TokenBurnHandlerTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/TokenFreezeAccountHandlerTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/transfer/AssociateTokenRecipientsStepTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/util/CryptoTokenHandlerTestBase.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoUpdateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/token/TokenAssociationSpecs.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/token/TokenTransactSpecs.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/token/TokenUpdateSpecs.java
Labels: Bug

#15468 fix: 15167: Remove timeout from reconnect/rehash Iterators
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNode.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/reconnect/ConcurrentBlockingIterator.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/reconnect/LearnerPullVirtualTreeView.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/reconnect/LearnerPushVirtualTreeView.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/reconnect/ConcurrentBlockingIteratorTest.java
Labels: Tech Debt Reduced, Platform Reconnect, Platform

#15350 feat: Topic get info changes
  hapi/hedera-protobufs/services/consensus_create_topic.proto
  hapi/hedera-protobufs/services/consensus_topic_info.proto
  hapi/hedera-protobufs/services/consensus_update_topic.proto
  hapi/hedera-protobufs/services/custom_fees.proto
  hapi/hedera-protobufs/services/state/consensus/topic.proto
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/handlers/ConsensusGetTopicInfoHandler.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/handlers/ConsensusUpdateTopicHandler.java
  hedera-node/hedera-consensus-service-impl/src/test/java/com/hedera/node/app/service/consensus/impl/test/handlers/ConsensusDeleteTopicTest.java
  hedera-node/hedera-consensus-service-impl/src/test/java/com/hedera/node/app/service/consensus/impl/test/handlers/ConsensusGetTopicInfoTest.java
  hedera-node/hedera-consensus-service-impl/src/test/java/com/hedera/node/app/service/consensus/impl/test/handlers/ConsensusTestBase.java
  hedera-node/hedera-consensus-service-impl/src/test/java/com/hedera/node/app/service/consensus/impl/test/handlers/ConsensusTestUtils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/queries/consensus/HapiGetTopicInfo.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/CustomFeeSpecs.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/CustomFeeTests.java
Labels: Topic Fees

#15439 fix: 15438: Eliminate busy loop in HalfDiskHashMap.endWriting()
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/config/MerkleDbConfig.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/hashmap/HalfDiskHashMap.java
Labels: Tech Debt Reduced, Performance, Platform Virtual Map, Platform Data Structures, Platform

#15512 fix: 15494: Improve VirtualLeafRecord serialization to bytes during flushes
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/MerkleDbDataSource.java
Labels: Performance, Platform Virtual Map, Platform Data Structures, Platform

#15299 chore: Add missing javadocs in Consensus Service
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/ConsensusServiceImpl.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/WritableTopicStore.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/handlers/ConsensusCreateTopicHandler.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/handlers/ConsensusDeleteTopicHandler.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/handlers/ConsensusGetTopicInfoHandler.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/handlers/ConsensusHandlers.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/handlers/ConsensusSubmitMessageHandler.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/handlers/ConsensusUpdateTopicHandler.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/schemas/V0490ConsensusSchema.java
  hedera-node/hedera-consensus-service-impl/src/main/java/module-info.java
  hedera-node/hedera-consensus-service-impl/src/test/java/com/hedera/node/app/service/consensus/impl/test/ConsensusServiceImplTest.java
  hedera-node/hedera-consensus-service-impl/src/test/java/com/hedera/node/app/service/consensus/impl/test/handlers/ConsensusTestBase.java
  hedera-node/hedera-consensus-service-impl/src/test/java/com/hedera/node/app/service/consensus/impl/test/handlers/ConsensusTestUtils.java
  hedera-node/hedera-consensus-service-impl/src/test/java/com/hedera/node/app/service/consensus/impl/test/schemas/V0490ConsensusSchemaTest.java
  hedera-node/hedera-consensus-service/src/main/java/com/hedera/node/app/service/consensus/ConsensusService.java
  hedera-node/hedera-consensus-service/src/main/java/com/hedera/node/app/service/consensus/ConsensusServiceDefinition.java
  hedera-node/hedera-consensus-service/src/main/java/module-info.java
Labels: HapiThursday

#15170 docs: Update Tss-Library proposal
  platform-sdk/docs/proposals/TSS-Library/TSS-Library-Test-Plan.md
  platform-sdk/docs/proposals/TSS-Library/TSS-Library.md
  platform-sdk/docs/proposals/TSS-Library/img.png
  platform-sdk/docs/proposals/TSS-Library/img_2.svg
  platform-sdk/docs/proposals/TSS-Library/img_7.svg
  platform-sdk/docs/proposals/TSS-Library/img_8.svg
  platform-sdk/docs/proposals/TSS-Library/img_9.svg
  platform-sdk/docs/proposals/TSS-Library/native/Architecture.java
  platform-sdk/docs/proposals/TSS-Library/native/OperatingSystem.java
  platform-sdk/docs/proposals/TSS-Library/pairings-api/BilinearPairing.java
  platform-sdk/docs/proposals/TSS-Library/pairings-api/BilinearPairingProvider.java
  platform-sdk/docs/proposals/TSS-Library/pairings-api/BilinearPairingService.java
  platform-sdk/docs/proposals/TSS-Library/pairings-api/Curve.java
  platform-sdk/docs/proposals/TSS-Library/pairings-api/Field.java
  platform-sdk/docs/proposals/TSS-Library/pairings-api/FieldElement.java
  platform-sdk/docs/proposals/TSS-Library/pairings-api/Group.java
  platform-sdk/docs/proposals/TSS-Library/pairings-api/GroupElement.java
  platform-sdk/docs/proposals/TSS-Library/pairings-api/PairingResult.java
  platform-sdk/docs/proposals/TSS-Library/signature-lib/GroupAssignment.java
  platform-sdk/docs/proposals/TSS-Library/signature-lib/PairingPrivateKey.java
  platform-sdk/docs/proposals/TSS-Library/signature-lib/PairingPublicKey.java
  platform-sdk/docs/proposals/TSS-Library/signature-lib/PairingSignature.java
  platform-sdk/docs/proposals/TSS-Library/signature-lib/SignatureSchema.java
  platform-sdk/docs/proposals/TSS-Library/tss/TssMessage.java
  platform-sdk/docs/proposals/TSS-Library/tss/TssParticipantDirectory.java
  platform-sdk/docs/proposals/TSS-Library/tss/TssPrivateShare.java
  platform-sdk/docs/proposals/TSS-Library/tss/TssPublicShare.java
  platform-sdk/docs/proposals/TSS-Library/tss/TssService.java
  platform-sdk/docs/proposals/TSS-Library/tss/TssShareId.java
  platform-sdk/docs/proposals/TSS-Library/tss/TssShareSignature.java
Labels: Platform
