Repository hiero-ledger/hiero-consensus-node, pull requests merged in 2024-06, with the labels that each got.

#13615 docs: File Service design doc
  hedera-node/docs/design/services/file-service/file-service.md
  hedera-node/docs/design/services/services.md
Labels: Design

#12787 docs: add design document for HIP-904 token cancel airdrop transaction
  hedera-node/docs/design/services/token-service/airdrops/token-cancel-airdrop.md
Labels: Limechain, Design

#13664 fix: 13531: Rehash for 172129258 round has failed
  platform-sdk/swirlds-benchmarks/src/jmh/java/com/swirlds/benchmark/VirtualMapBaseBench.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNode.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/VirtualMapHashingTest.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#13429 feat: HIP-904: adapt auto creation logic unlimited associations
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/BaseTokenHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/transfer/AssociateTokenRecipientsStep.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/transfer/AutoAccountCreator.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/util/TokenUtil.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/opcodes/Create2OperationSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/traceability/TraceabilitySuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/AutoAccountCreationSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/AutoAccountCreationUnlimitedAssociationsSuite.java
Labels: Limechain

#13352 feat: Implement TokenRejectHandler business logic and E2E tests
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/CommonUtils.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/ApiPermissionConfig.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/LedgerConfig.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/TokensConfig.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/BaseTokenHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/CryptoTransferHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenHandlers.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenRejectHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/transfer/AdjustFungibleTokenChangesStep.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/transfer/NFTOwnersChangeStep.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/transfer/TransferContext.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/transfer/TransferContextImpl.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/util/CryptoTransferHelper.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/util/TokenHandlerHelper.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/TokenHandlersTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/TokenRejectHandlerTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/transfer/AdjustFungibleTokenChangesStepTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/transfer/CustomFeeAssessmentStepTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/transfer/NFTOwnersChangeStepTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/transfer/StepsBase.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/util/CryptoTokenHandlerTestBase.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/util/CryptoTransferHelperTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/util/TokenHandlerHelperTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/HapiTxnOp.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/TxnVerbs.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/HapiTokenReject.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/TokenRejectSuite.java
Labels: Limechain

#13675 fix: 13674: Backport the fix for 13531 to release 0.51
  platform-sdk/swirlds-benchmarks/src/jmh/java/com/swirlds/benchmark/VirtualMapBaseBench.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNode.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/VirtualMapHashingTest.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#13657 fix: Use the correct PRNG contract address
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/PrngSystemContract.java
Labels: Limechain

#13350 feat: HIP-904: Adapt creation flows to support unlimited auto associations and adjust fees
  hedera-node/hapi-fees/src/main/java/com/hedera/node/app/hapi/fees/usage/crypto/CryptoOpsUsage.java
  hedera-node/hapi-fees/src/test/java/com/hedera/node/app/hapi/fees/pricing/CryptoFeeSchedulesTest.java
  hedera-node/hapi-fees/src/test/java/com/hedera/node/app/hapi/fees/usage/crypto/CryptoOpsUsageTest.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/TransactionConfigModule.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/infra/HevmTransactionFactory.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/TestHelpers.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/TransactionConfigModuleTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/infra/HevmTransactionFactoryTest.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/CryptoCreateHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/validators/CryptoCreateValidator.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoCreateHandlerTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/hapi/ContractCreateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/hapi/ContractUpdateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/AutoAccountCreationSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/AutoAccountCreationUnlimitedAssociationsSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoCreateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoTransferSuite.java
  hedera-node/test-clients/src/main/resource/contract/contracts/EmptyOne/EmptyOne.bin
  hedera-node/test-clients/src/main/resource/contract/contracts/EmptyOne/EmptyOne.json
  hedera-node/test-clients/src/main/resource/contract/contracts/EmptyOne/EmptyOne.sol
  hedera-node/test-clients/src/main/resource/contract/contracts/EmptyTwo/EmptyTwo.bin
  hedera-node/test-clients/src/main/resource/contract/contracts/EmptyTwo/EmptyTwo.json
  hedera-node/test-clients/src/main/resource/contract/contracts/EmptyTwo/EmptyTwo.sol
Labels: Limechain

#13676 fix: (cherry-pick) Use restart method to all token schemas
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/schemas/InitialModServiceTokenSchema.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/schemas/StakingInfoManagementSchema.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/schemas/V0500TokenSchema.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/schemas/V0500TokenSchemaTest.java
Labels: Modularization

#13661 feat: HIP-904 Adapt update flows to support unlimited auto associations and adjust fee calculations
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/handlers/ContractUpdateHandler.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/handlers/ContractUpdateHandlerTest.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/CryptoUpdateHandler.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoUpdateHandlerTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/hapi/ContractUpdateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoUpdateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/leaky/LeakyCryptoTestsSuite.java
Labels: Limechain

#13206 docs: update token claim airdrop design doc
  hedera-node/docs/design/services/token-service/airdrops/token-claim-airdrop.md
Labels: Limechain, Design

#13739 docs: Added design doc for Schedule Service
  hedera-node/docs/design/services/schedule-service/schedule-service.md
  hedera-node/docs/design/services/services.md
Labels: Design, HapiThursday

#12792 docs: add design doc for pending state
  hedera-node/docs/design/services/token-service/airdrops/airdrop-pending-state.md
Labels: Limechain, Design

#13711 feat: 13473 node get info handler
  hedera-node/hedera-addressbook-service-impl/build.gradle.kts
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/handlers/NodeDeleteHandler.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/handlers/NodeGetInfoHandler.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/NodeGetInfoHandlerTest.java
Labels: Dynamic Address Book

#13682 refactor: Extract removing of leading '0x' logic
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/infra/EthereumCallDataHydration.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/infra/HevmTransactionFactory.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/utils/ConversionUtils.java
Labels: Limechain

#13779 feat: Implemented V052AddressBookSchema and unit tests.
  hapi/build.gradle.kts
  hedera-node/hedera-addressbook-service-impl/build.gradle.kts
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/AddressBookServiceImpl.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/handlers/NodeUpdateHandler.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/schemas/V050AddressBookSchema.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/schemas/V052AddressBookSchema.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/module-info.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/schemas/V052AddressBookSchemaTest.java
  hedera-node/hedera-app-spi/src/testFixtures/java/com/hedera/node/app/spi/fixtures/info/FakeNetworkInfo.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/info/NodeInfoImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/info/SelfNodeInfoImpl.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/components/IngestComponentTest.java
  hedera-node/hedera-app/src/testFixtures/java/com/hedera/node/app/fixtures/AppTestBase.java
  platform-sdk/swirlds-state-api/src/main/java/com/swirlds/state/spi/info/NodeInfo.java
Labels: Dynamic Address Book

#13759 test: HIP-904 Try contract update with zero max auto associations value
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/hapi/ContractUpdateSuite.java
Labels: Limechain

#13832 fix: Fix hollow account completion when completing with nft transfer
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/CryptoTransferHandler.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoTransferSuite.java
Labels: Bug, Limechain

#13852 docs: Added Network and Freeze service design doc
  hedera-node/docs/design/services/network-admin-service/network-admin-service.md
  hedera-node/docs/design/services/services.md
Labels: HapiThursday

#13837 fix: Fix hollow account completion when completing with nft transfer …
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/CryptoTransferHandler.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoTransferSuite.java
Labels: Bug, Limechain

#13754 chore: platform design proposal template
  platform-sdk/docs/proposals/template.md
Labels: Platform

#13887 feat: Generate config.txt and s-public-alias.pem file per node during Freeze PREPARE_UPGRADE and unit tests
  hapi/build.gradle.kts
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/ReadableNodeStoreImpl.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/WritableNodeStore.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/handlers/NodeCreateHandler.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/handlers/NodeUpdateHandler.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/NodeCreateHandlerTest.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/NodeUpdateHandlerTest.java
  hedera-node/hedera-addressbook-service/build.gradle.kts
  hedera-node/hedera-addressbook-service/src/main/java/com/hedera/node/app/service/addressbook/ReadableNodeStore.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/state/listeners/ReconnectListener.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/state/listeners/WriteStateToDiskListener.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/dispatcher/ReadableStoreFactory.java
  hedera-node/hedera-app/src/main/java/module-info.java
  hedera-node/hedera-mono-service/src/main/java/com/hedera/node/app/service/mono/pbj/PbjConverter.java
  hedera-node/hedera-network-admin-service-impl/src/main/java/com/hedera/node/app/service/networkadmin/impl/handlers/FreezeHandler.java
  hedera-node/hedera-network-admin-service-impl/src/main/java/com/hedera/node/app/service/networkadmin/impl/handlers/FreezeUpgradeActions.java
  hedera-node/hedera-network-admin-service-impl/src/main/java/com/hedera/node/app/service/networkadmin/impl/handlers/ReadableFreezeUpgradeActions.java
  hedera-node/hedera-network-admin-service-impl/src/main/java/module-info.java
  hedera-node/hedera-network-admin-service-impl/src/test/java/com/hedera/node/app/service/networkadmin/impl/test/handlers/FreezeHandlerTest.java
  hedera-node/hedera-network-admin-service-impl/src/test/java/com/hedera/node/app/service/networkadmin/impl/test/handlers/FreezeUpgradeActionsTest.java
  hedera-node/hedera-network-admin-service-impl/src/test/java/com/hedera/node/app/service/networkadmin/impl/test/handlers/ReadableFreezeUpgradeActionsTest.java
Labels: Dynamic Address Book

#12794 docs: add a design doc for TokenAirdropTransaction
  hedera-node/docs/design/services/token-service/airdrops/token-airdrop-transaction.md
Labels: Limechain, Design

#13806 build: Verify the HAPI version matches the tag during release
  .github/workflows/node-flow-deploy-release-artifact.yaml
Labels: New Feature, github_actions

#13968 perf: Create platform ForkJoinPool with asyncMode=true
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/concurrent/internal/DefaultExecutorFactory.java
Labels: Performance

#13687 feat: HIP-904 Support unlimited max auto associations and adjust fees
  hedera-node/configuration/mainnet/bootstrap.properties
  hedera-node/configuration/preprod/application.properties
  hedera-node/configuration/preprod/bootstrap.properties
  hedera-node/configuration/previewnet/application.properties
  hedera-node/configuration/previewnet/bootstrap.properties
  hedera-node/configuration/testnet/bootstrap.properties
  hedera-node/hapi-fees/src/main/java/com/hedera/node/app/hapi/fees/usage/crypto/CryptoOpsUsage.java
  hedera-node/hapi-fees/src/test/java/com/hedera/node/app/hapi/fees/pricing/CryptoFeeSchedulesTest.java
  hedera-node/hapi-fees/src/test/java/com/hedera/node/app/hapi/fees/usage/crypto/CryptoOpsUsageTest.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/EntitiesConfig.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/TransactionConfigModule.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/handlers/ContractUpdateHandler.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/infra/HevmTransactionFactory.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/TestHelpers.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/TransactionConfigModuleTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/handlers/ContractUpdateHandlerTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/infra/HevmTransactionFactoryTest.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/api/TokenServiceApiImpl.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/BaseTokenHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/CryptoCreateHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/CryptoUpdateHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/transfer/AssociateTokenRecipientsStep.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/transfer/AutoAccountCreator.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/validators/CryptoCreateValidator.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoCreateHandlerTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoUpdateHandlerTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/validators/CryptoCreateValidatorTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/hapi/ContractCreateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/hapi/ContractUpdateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/traceability/TraceabilitySuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/AutoAccountCreationSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/AutoAccountCreationUnlimitedAssociationsSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoCreateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoTransferSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoUpdateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/LeakyCryptoTestsSuite.java
  hedera-node/test-clients/src/main/resource/bootstrap.properties
  hedera-node/test-clients/src/main/resource/contract/contracts/EmptyOne/EmptyOne.bin
  hedera-node/test-clients/src/main/resource/contract/contracts/EmptyOne/EmptyOne.json
  hedera-node/test-clients/src/main/resource/contract/contracts/EmptyOne/EmptyOne.sol
  hedera-node/test-clients/src/main/resource/contract/contracts/EmptyTwo/EmptyTwo.bin
  hedera-node/test-clients/src/main/resource/contract/contracts/EmptyTwo/EmptyTwo.json
  hedera-node/test-clients/src/main/resource/contract/contracts/EmptyTwo/EmptyTwo.sol
Labels: Limechain, New Feature

#13962 fix: negative Id for StakedNodeId in token service. less than -1
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/validators/StakingValidator.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoUpdateSuite.java
Labels: Bug

#13909 fix: HIP-904 add throttles for token associate in crypto transfer
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/throttle/ThrottleAccumulator.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/throttle/ThrottleServiceManager.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/flow/dispatch/logic/DispatchUsageManager.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/throttle/ThrottleAccumulatorTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/flow/dispatch/logic/DispatchUsageManagerTest.java
  hedera-node/hedera-app/src/test/resources/bootstrap/schedule-create-throttles.json
  hedera-node/hedera-app/src/test/resources/bootstrap/throttles.json
Labels: Limechain

#13958 docs: Added design doc for Util Service
  hedera-node/docs/design/services/services.md
  hedera-node/docs/design/services/util-service/util-service.md
Labels: HapiThursday

#13545 test: 013376- Add end to end tests for crypto create max auto associations
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/opcodes/Create2OperationSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoCreateSuite.java
Labels: Test Development, Limechain

#13874 chore: add hapi test framework for dynamic address book transactions
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/CommonPbjConverters.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/module-info.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/Hedera.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/config/ServicesConfigExtension.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/metrics/StoreMetricsServiceImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/services/ServiceScopeLookup.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/store/WritableStoreFactory.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/dispatcher/TransactionDispatcher.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/dispatcher/TransactionHandlers.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/HandlersInjectionModule.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/dispatcher/WritableStoreFactoryImplTest.java
  hedera-node/hedera-network-admin-service-impl/src/main/java/com/hedera/node/app/service/networkadmin/impl/ReadableFreezeStoreImpl.java
  hedera-node/hedera-network-admin-service-impl/src/main/java/com/hedera/node/app/service/networkadmin/impl/WritableFreezeStore.java
  hedera-node/test-clients/build.gradle.kts
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/HapiPropertySource.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/HapiSpec.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/HapiSpecSetup.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/infrastructure/HapiSpecRegistry.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/TxnFactory.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/TxnUtils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/TxnVerbs.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/node/HapiNodeCreate.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/node/HapiNodeDelete.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/node/HapiNodeUpdate.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/EmbeddedVerbs.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/UtilVerbs.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/embedded/MutateNodeOp.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/embedded/ViewAccountOp.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/embedded/ViewNodeOp.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/addressbook/NodeCreateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/addressbook/NodeDeleteSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/addressbook/NodeUpdateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoCreateSuite.java
  hedera-node/test-clients/src/main/java/module-info.java
  hedera-node/test-clients/src/main/resource/spec-default.properties
Labels: Dynamic Address Book

#13988 chore: Removing the sample block node.
  block-node/blocknode-core-spi/build.gradle.kts
  block-node/blocknode-core-spi/src/main/java/com/hedera/node/blocknode/core/spi/DummyCoreSpi.java
  block-node/blocknode-core-spi/src/main/java/module-info.java
  block-node/blocknode-core-spi/src/test/java/com/hedera/node/blocknode/core/spi/test/DummyCoreSpiTest.java
  block-node/blocknode-core-spi/src/test/java/module-info.java
  block-node/blocknode-core/build.gradle.kts
  block-node/blocknode-core/src/main/java/com/hedera/node/blocknode/core/Example.java
  block-node/blocknode-core/src/main/java/module-info.java
  block-node/blocknode-core/src/test/java/com/hedera/node/blocknode/core/test/ExampleTest.java
  block-node/blocknode-core/src/test/java/module-info.java
  block-node/blocknode-filesystem-api/build.gradle.kts
  block-node/blocknode-filesystem-api/src/main/java/com/hedera/node/blocknode/filesystem/api/DummyFileSystemApi.java
  block-node/blocknode-filesystem-api/src/main/java/module-info.java
  block-node/blocknode-filesystem-api/src/test/java/com/hedera/node/blocknode/filesystem/api/test/DummyFileSystemApiTest.java
  block-node/blocknode-filesystem-api/src/test/java/module-info.java
  block-node/blocknode-filesystem-local/build.gradle.kts
  block-node/blocknode-filesystem-local/src/main/java/com/hedera/node/blocknode/filesystem/local/LocalFileSystem.java
  block-node/blocknode-filesystem-local/src/main/java/module-info.java
  block-node/blocknode-filesystem-local/src/test/java/com/hedera/node/blocknode/filesystem/local/test/LocalFileSystemTest.java
  block-node/blocknode-filesystem-local/src/test/java/module-info.java
  block-node/blocknode-filesystem-s3/build.gradle.kts
  block-node/blocknode-filesystem-s3/src/main/java/com/hedera/node/blocknode/filesystem/s3/S3FileSystem.java
  block-node/blocknode-filesystem-s3/src/main/java/module-info.java
  block-node/blocknode-filesystem-s3/src/test/java/com/hedera/node/blocknode/filesystem/s3/test/S3FileSystemTest.java
  block-node/blocknode-filesystem-s3/src/test/java/module-info.java
  block-node/blocknode-grpc-api/build.gradle.kts
  block-node/blocknode-grpc-api/src/main/java/com/hedera/node/blocknode/grpc/api/DummyGrpcApi.java
  block-node/blocknode-grpc-api/src/main/java/module-info.java
  block-node/blocknode-grpc-api/src/test/java/com/hedera/node/blocknode/core/grpc/api/test/DummyGrpcApiTest.java
  block-node/blocknode-grpc-api/src/test/java/module-info.java
  block-node/blocknode-state/build.gradle.kts
  block-node/blocknode-state/src/main/java/com/hedera/node/blocknode/state/BlockNodeState.java
  block-node/blocknode-state/src/main/java/module-info.java
  block-node/blocknode-state/src/test/java/com/hedera/node/blocknode/state/test/BlockNodeStateTest.java
  block-node/blocknode-state/src/test/java/module-info.java
  settings.gradle.kts
Labels: Block Node

#14021 chore: change proto version
  hapi/build.gradle.kts
Labels: Dynamic Address Book

#13736 test: Add maxAutoAssociations test scenarios for crypto update
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoUpdateSuite.java
Labels: Limechain

#13665 test: Add contract creation MaxAutoAssociations tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/UtilVerbs.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/hapi/ContractCreateSuite.java
Labels: Test Development, Limechain

#14020 fix: 13929: Investigate ValidateLeafIndexHalfDiskHashMap failure
  platform-sdk/swirlds-jasperdb/src/hammer/java/com/swirlds/merkledb/files/CloseFlushTest.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/MerkleDbDataSource.java
  platform-sdk/swirlds-jasperdb/src/test/java/com/swirlds/merkledb/MerkleDbDataSourceTest.java
  platform-sdk/swirlds-merkle/build.gradle.kts
  platform-sdk/swirlds-merkle/src/test/java/com/swirlds/virtual/merkle/reconnect/BreakableDataSource.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/reconnect/VirtualMapReconnectTestBase.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/datasource/VirtualDataSource.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/merkle/RecordAccessorImplTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/reconnect/ReconnectHashListenerTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/reconnect/VirtualMapReconnectTestBase.java
  platform-sdk/swirlds-virtualmap/src/testFixtures/java/com/swirlds/virtualmap/test/fixtures/InMemoryDataSource.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#13803 fix: 13802: Make MerkleRoot and SwirldState usage more consistent
  hedera-node/cli-clients/src/main/java/com/hedera/services/cli/signedstate/SignedStateHolder.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/Hedera.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/ServicesMain.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/ServicesMainTest.java
  platform-sdk/platform-apps/demos/CryptocurrencyDemo/src/main/java/com/swirlds/demo/crypto/CryptocurrencyDemoMain.java
  platform-sdk/platform-apps/demos/HelloSwirldDemo/src/main/java/com/swirlds/demo/hello/HelloSwirldDemoMain.java
  platform-sdk/platform-apps/demos/HelloSwirldDemo/src/main/java/module-info.java
  platform-sdk/platform-apps/demos/StatsDemo/src/main/java/com/swirlds/demo/stats/StatsDemoMain.java
  platform-sdk/platform-apps/demos/StatsDemo/src/main/java/module-info.java
  platform-sdk/platform-apps/tests/AddressBookTestingTool/src/main/java/com/swirlds/demo/addressbook/AddressBookTestingToolMain.java
  platform-sdk/platform-apps/tests/ConsistencyTestingTool/src/main/java/com/swirlds/demo/consistency/ConsistencyTestingToolMain.java
  platform-sdk/platform-apps/tests/ISSTestingTool/src/main/java/com/swirlds/demo/iss/ISSTestingToolMain.java
  platform-sdk/platform-apps/tests/MigrationTestingTool/src/main/java/com/swirlds/demo/migration/MigrationTestingToolMain.java
  platform-sdk/platform-apps/tests/PlatformTestingTool/src/main/java/com/swirlds/demo/platform/PlatformTestingToolMain.java
  platform-sdk/platform-apps/tests/StatsSigningTestingTool/src/main/java/com/swirlds/demo/stats/signing/StatsSigningTestingToolMain.java
  platform-sdk/platform-apps/tests/StressTestingTool/src/main/java/com/swirlds/demo/stress/StressTestingToolMain.java
  platform-sdk/swirlds-base/src/main/java/com/swirlds/base/function/CheckedBiFunction.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/Browser.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/builder/PlatformBuilder.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/cli/CompareStatesCommand.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/cli/GenesisPlatformStateCommand.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/cli/ValidateAddressBookStateCommand.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/recovery/EventRecoveryWorkflow.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/GenesisStateBuilder.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/editor/StateEditor.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/signed/StartupStateUtils.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/snapshot/SignedStateFileReader.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/snapshot/SignedStateFileUtils.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/SwirldMain.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/SignedStateFileReadWriteTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/StateFileManagerTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/signed/StartupStateUtilsTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/turtle/runner/TurtleNode.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/turtle/runner/TurtleTestingToolState.java
Labels: Platform Data Structures, Platform

#14063 chore: Updated codeowners for devops-ci
  .github/CODEOWNERS
Labels: DevOps

#14044 fix: update bootstrap.throttleDefsJson.resource path for bootstrap.properties for dev and preprod
  hedera-node/configuration/dev/bootstrap.properties
  hedera-node/configuration/preprod/bootstrap.properties
Labels: Bug

#14047 feat: added admin_key to nodeCreate, nodeUpdate and unit tests
  hapi/build.gradle.kts
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/CommonPbjConverters.java
  hedera-node/hedera-addressbook-service-impl/build.gradle.kts
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/handlers/NodeCreateHandler.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/handlers/NodeDeleteHandler.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/handlers/NodeUpdateHandler.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/validators/AddressBookValidator.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/AddressBookTestBase.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/NodeCreateHandlerTest.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/NodeDeleteHandlerTest.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/NodeUpdateHandlerTest.java
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/validation/AttributeValidator.java
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/validation/Validations.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/authorization/PrivilegesVerifier.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/validation/AttributeValidatorImpl.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/authorization/PrivilegesVerifierTest.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/AccountsConfig.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/NodesConfig.java
  hedera-node/hedera-network-admin-service-impl/src/main/java/com/hedera/node/app/service/networkadmin/impl/handlers/ReadableFreezeUpgradeActions.java
  hedera-node/hedera-network-admin-service-impl/src/test/java/com/hedera/node/app/service/networkadmin/impl/test/handlers/ReadableFreezeUpgradeActionsTest.java
Labels: Dynamic Address Book

#14068 perf: Create platform ForkJoinPool with asyncMode=true
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/concurrent/internal/DefaultExecutorFactory.java
Labels: Performance

#14077 test: Lower TPS used CreateFilesBeforeReconnect
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/reconnect/CreateFilesBeforeReconnect.java
Labels: Test Development
