Repository hiero-ledger/hiero-consensus-node, pull requests merged in 2024-08, with the labels that each got.

#14492 fix: Cherry pick docker rate fix into release-0.53
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/zxc-publish-production-image.yaml
  .github/workflows/zxc-verify-docker-build-determinism.yaml
Labels: github_actions

#14513 ci: fix gradle publish failures in release-0.52 for hedera.com.evm
  gradle/plugins/src/main/kotlin/com.hedera.gradle.evm-publish.gradle.kts
  gradle/plugins/src/main/kotlin/com.hedera.gradle.jpms-module-dependencies.gradle.kts
Labels: github_actions

#14538 fix: Fixes issue with newVersion not being specified in versionAsSpecified Task
  gradle/plugins/src/main/kotlin/com.hedera.gradle.root.gradle.kts
Labels: github_actions

#14546 ci: fix gradle publish failures in release-0.52 for hedera.com.evm
  gradle/plugins/src/main/kotlin/com.hedera.gradle.evm-publish.gradle.kts
  gradle/plugins/src/main/kotlin/com.hedera.gradle.jpms-module-dependencies.gradle.kts
Labels: github_actions

#14455 feat: Airdrops with treasury and custom fee receivers
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenAirdropHandler.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropTest.java
Labels: Token Airdrop

#14544 ci: Cherry pick release fixes into develop
  gradle/plugins/src/main/kotlin/com.hedera.gradle.evm-publish.gradle.kts
  gradle/plugins/src/main/kotlin/com.hedera.gradle.jpms-module-dependencies.gradle.kts
  gradle/plugins/src/main/kotlin/com.hedera.gradle.root.gradle.kts
Labels: github_actions

#14490 fix: 14489 cherry pick docker rate limit fix in release052
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/zxc-publish-production-image.yaml
  .github/workflows/zxc-verify-docker-build-determinism.yaml
Labels: github_actions

#14599 fix(bug): Removed daemon config changes
  .github/workflows/zxc-publish-production-image.yaml
  .github/workflows/zxc-verify-docker-build-determinism.yaml
Labels: Bug, github_actions

#14602 fix(bug): Removed daemon config changes (#14599)
  .github/workflows/zxc-publish-production-image.yaml
  .github/workflows/zxc-verify-docker-build-determinism.yaml
Labels: Bug, github_actions

#14605 fix(bug): Removed daemon config changes (#14599)
  .github/workflows/zxc-publish-production-image.yaml
  .github/workflows/zxc-verify-docker-build-determinism.yaml
Labels: Bug, github_actions

#14484 docs: HIP-1010 Provide design document for UpdateTokenCustomFees
  hedera-node/docs/design/services/smart-contract-service/update_token_custom_fees_sc.md
Labels: Limechain

#14487 test: Test plan tests airdrops
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/util/AirdropHandlerHelper.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/validators/CryptoTransferValidator.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropTest.java
Labels: Token Airdrop

#14656 feat: cherry-pick: added X509Certificate validation for NodeCreate and NodeUpdate
  hedera-node/hedera-addressbook-service-impl/build.gradle.kts
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/handlers/NodeCreateHandler.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/handlers/NodeUpdateHandler.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/validators/AddressBookValidator.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/module-info.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/CertificatePemTest.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/AddressBookTestBase.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/NodeCreateHandlerTest.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/NodeUpdateHandlerTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip869/NodeCreateTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip869/NodeDeleteTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip869/NodeUpdateTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip869/UpdateAccountEnabledTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/regression/system/DabEnabledUpgradeTest.java
Labels: Dynamic Address Book

#14654 fix: 14567: Interrupt reading from data files gracefully when the data source is closed
  platform-sdk/swirlds-jasperdb/src/hammer/java/com/swirlds/merkledb/MerkleDbDataSourceHammerTest.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/MerkleDbCompactionCoordinator.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/MerkleDbDataSource.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/collections/AbstractLongList.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/collections/LongListDisk.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/collections/LongListOffHeap.java
  platform-sdk/swirlds-jasperdb/src/main/java/com/swirlds/merkledb/files/hashmap/HalfDiskHashMap.java
Labels: Platform Virtual Map, Platform Data Structures, Platform, Stability

#14593 chore: migrate ghaction-setup-docker to step-security maintained
  .github/workflows/zxc-publish-production-image.yaml
  .github/workflows/zxc-verify-docker-build-determinism.yaml
Labels: github_actions

#14532 test: Add test validating that BLOCKHASH returns the latest 256 blocks
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/records/RecordsSuite.java
  hedera-node/test-clients/src/main/resource/contract/contracts/EmitBlockTimestamp/EmitBlockTimestamp.bin
  hedera-node/test-clients/src/main/resource/contract/contracts/EmitBlockTimestamp/EmitBlockTimestamp.json
  hedera-node/test-clients/src/main/resource/contract/contracts/EmitBlockTimestamp/EmitBlockTimestamp.sol
Labels: Limechain, Hedera Smart Contract Service

#14376 feat: implement token claim airdrop pre handle pure checks
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenClaimAirdropHandler.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoTransferHandlerPureChecksTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoTransferHandlerTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoTransferHandlerTestBase.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/TokenClaimAirdropHandlerTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/TokenRejectHandlerTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenClaimAirdropTest.java
Labels: Token Airdrop

#14730 test: AIRDROP-15 for hip-904 test plan
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropTest.java
Labels: Token Airdrop

#14806 fix: reject tokens only with royalty with fallback fee
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/validators/TokenAirdropValidator.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropTest.java
Labels: Token Airdrop

#14798 feat: Add `StreamMode` to support blocks and records
  hapi/build.gradle.kts
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/config/BootstrapConfigProviderImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/config/ServicesConfigExtension.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/impl/BlockRecordManagerImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/HandleWorkflow.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/dispatch/ChildDispatchFactory.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/stack/Savepoint.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/stack/SavepointStackImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/stack/savepoints/AbstractSavepoint.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/steps/UserTxn.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/HandleWorkflowTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/stack/SavepointStackImplTest.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/BlockStreamConfig.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/types/BlockStreamWriterMode.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/types/StreamMode.java
  hedera-node/hedera-config/src/testFixtures/java/com/hedera/node/config/testfixtures/HederaTestConfigBuilder.java
Labels: Block Streams

#14824 ci: gradlew tasks call is throwing illegal argument exceptions
  gradle/plugins/src/main/kotlin/com.hedera.gradle.root.gradle.kts
Labels: github_actions

#14848 fix: Call correct translator for `gasRequired` in `UpdateTokenCustomFeesTranslator`
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hts/updatetokencustomfees/UpdateTokenCustomFeesTranslator.java
Labels: Limechain

#14684 test: Receiver signature required tests
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenAirdropHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/transfer/TransferExecutor.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/util/AirdropHandlerHelper.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/util/CryptoTransferValidationHelper.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/TokenAirdropHandlerTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/transfer/StepsBase.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/util/CryptoTokenHandlerTestBase.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropTest.java
Labels: Token Airdrop

#14849 test: 14820 14821 token dissociate hapi tests for token claim
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenClaimAirdropTest.java
Labels: Token Airdrop

#14729 feat: TokenCancelAirdrop implementation
  hapi/build.gradle.kts
  hedera-node/configuration/mainnet/upgrade/feeSchedules.json
  hedera-node/configuration/mainnet/upgrade/throttles.json
  hedera-node/configuration/testnet/upgrade/feeSchedules.json
  hedera-node/configuration/testnet/upgrade/throttles.json
  hedera-node/hapi-fees/src/main/resources/canonical-prices.json
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/CommonPbjConverters.java
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/CommonUtils.java
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/exception/UnknownHederaFunctionality.java
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/forensics/TransactionParts.java
  hedera-node/hapi-utils/src/main/java/module-info.java
  hedera-node/hapi-utils/src/test/java/com/hedera/node/app/hapi/utils/CommonUtilsTest.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/services/ServiceScopeLookup.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/dispatcher/TransactionDispatcher.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/authorization/PrivilegesVerifierTest.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/TokensConfig.java
  hedera-node/hedera-file-service-impl/src/main/resources/genesis/feeSchedules.json
  hedera-node/hedera-file-service-impl/src/main/resources/genesis/throttles-dev.json
  hedera-node/hedera-file-service-impl/src/main/resources/genesis/throttles.json
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenCancelAirdropHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/util/PendingAirdropUpdater.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/TokenCancelAirdropHandlerPureChecksTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/TokenCancelAirdropHandlerTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/util/TestStoreFactory.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/LeakyEmbeddedHapiTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/LeakyHapiTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/extensions/NetworkTargetingExtension.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/TransactionBodyValidator.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/HapiSpec.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/SysFileOverrideOp.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/UtilVerbs.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/LeakyCryptoTestsSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/MiscCryptoSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropBase.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenCancelAirdropDisabledTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenCancelAirdropTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/leaky/LeakyContractTestsSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/regression/TargetNetworkPrep.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/schedule/FutureSchedulableOpsTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/utils/sysfiles/serdes/FeesJsonToGrpcBytes.java
  hedera-node/test-clients/src/main/resource/scheduled-contract-fees.json
Labels: Token Airdrop

#14688 chore: Fix compiler warnings in consensus-service and consensus-service-impl
  hedera-node/hedera-consensus-service-impl/build.gradle.kts
  hedera-node/hedera-consensus-service-impl/src/main/java/module-info.java
  hedera-node/hedera-consensus-service/build.gradle.kts
Labels: HapiThursday

#14692 chore: Fix compiler warnings in schedule service
  hedera-node/hedera-schedule-service-impl/build.gradle.kts
  hedera-node/hedera-schedule-service-impl/src/main/java/module-info.java
  hedera-node/hedera-schedule-service/build.gradle.kts
Labels: HapiThursday

#14869 chore: Fix compiler warnings in test-clients
  hedera-node/hapi-utils/src/test/java/com/hedera/node/app/hapi/utils/fee/CryptoFeeBuilderTest.java
  hedera-node/hedera-app/src/main/java/module-info.java
  hedera-node/test-clients/build.gradle.kts
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/TestBase.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/utils/WorkingDirUtils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/HapiSpec.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/assertions/TransferListAsserts.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/keys/deterministic/Bip0039.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/queries/contract/HapiGetContractRecords.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/queries/crypto/HapiGetAccountRecords.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/queries/meta/HapiGetTxnRecord.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/crypto/HapiCryptoTransfer.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/HapiTokenCancelAirdrop.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/HapiTokenClaimAirdrop.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/HapiTokenReject.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/HapiSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoTransferSuite.java
  hedera-node/test-clients/src/main/java/module-info.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/accounts/SendCommand.java
Labels: HapiThursday

#14867 chore: Fix compiler warnings in util-service and util-service-impl
  hedera-node/hedera-util-service-impl/build.gradle.kts
  hedera-node/hedera-util-service-impl/src/main/java/module-info.java
  hedera-node/hedera-util-service/build.gradle.kts
Labels: HapiThursday

#14685 chore: Fix compiler warnings in admin-service and admin-service-impl
  hedera-node/hedera-network-admin-service-impl/build.gradle.kts
  hedera-node/hedera-network-admin-service-impl/src/main/java/module-info.java
  hedera-node/hedera-network-admin-service/build.gradle.kts
Labels: HapiThursday

#14863 fix: SELFDESTRUCT now deletes contracts properly
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/operations/AbstractCustomCreateOperation.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/processors/CustomContractCreationProcessor.java
  hedera-node/test-clients/SpecCookbook.md
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/dsl/SpecEntity.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/opcodes/SelfDestructSuite.java
Labels: Hedera Smart Contract Service

#14674 chore: Fix hapi-fees compiler warnings
  hedera-node/hapi-fees/build.gradle.kts
  hedera-node/hapi-fees/src/main/java/com/hedera/node/app/hapi/fees/usage/token/TokenOpsProducer.java
  hedera-node/hapi-fees/src/main/java/com/hedera/node/app/hapi/fees/usage/token/TokenOpsUsageUtils.java
  hedera-node/hapi-fees/src/main/java/module-info.java
Labels: HapiThursday

#14888 fix: 14886 Fixed ReconnectTest
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/reconnect/ReconnectTest.java
Labels: Platform

#14897 fix: node exits after repeating unsuccessful reconnects
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/merkle/impl/internal/AbstractMerkleNode.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/State.java
Labels: Regression, Platform Reconnect

#14880 fix: node exits after repeating unsuccessful reconnects
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/State.java
Labels: Platform Reconnect

#14890 fix(0.53): cherrypick selfdestruct fix
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/operations/AbstractCustomCreateOperation.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/processors/CustomContractCreationProcessor.java
  hedera-node/test-clients/SpecCookbook.md
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/dsl/SpecEntity.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/opcodes/SelfDestructSuite.java
Labels: Hedera Smart Contract Service

#14844 fix: Remove allowances support from airdrop transaction
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenAirdropHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/validators/CryptoTransferValidator.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/validators/TokenAirdropValidator.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropTest.java
Labels: Token Airdrop

#14910 chore: add AllowanceStrategy enum
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenAirdropHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/validators/CryptoTransferValidator.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/validators/TokenAirdropValidator.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropTest.java
Labels: Token Airdrop

#14932 fix: When airdrop to contract return NOT_SUPPORTED
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenAirdropHandler.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/AirdropSigReqsTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropTest.java
Labels: Token Airdrop

#14934 test: claim multiple tokens send to 1 receiver
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenClaimAirdropTest.java
Labels: Token Airdrop

#14922 fix: remove unused property
  hedera-node/configuration/dev/settings.txt
Labels: Bug

#14931 ci: resolve codecov, codacy, publish-unit-test-result reporting issues
  .github/workflows/node-zxc-compile-application-code.yaml
  codecov.yml
Labels: github_actions

#14832 docs: 14825: Design proposal: MerkleDb to store binary data rather than strictly typed objects
  platform-sdk/docs/proposals/virtualmegamap-binary-merkledb/architecture-0.53.svg
  platform-sdk/docs/proposals/virtualmegamap-binary-merkledb/architecture-proposal.svg
  platform-sdk/docs/proposals/virtualmegamap-binary-merkledb/proposal.md
Labels: Design, Platform Virtual Map, Platform Data Structures, Platform

#14928 feat: Add transaction-specific translators for create transactions
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/translators/BlockStreamTransactionTranslator.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/translators/ConsensusTopicCreateTranslator.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/translators/CryptoCreateTranslator.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/translators/FileCreateTranslator.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/translators/ScheduleCreateTranslator.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/translators/TokenCreateTranslator.java
Labels: Block Streams

#14965 fix: reverted the changes to wait unitl appropriate change cherry picked from release 0.53
  hedera-node/configuration/dev/settings.txt
Labels: Bug

#14968 test: added Token Claim Airdrop Tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenClaimAirdropTest.java
Labels: Token Airdrop

#15003 fix: 13901: VirtualPipeline back-pressure is too harsh
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/pipeline/VirtualPipeline.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/pipeline/VirtualPipelineTests.java
Labels: Performance, Platform Virtual Map, Platform Data Structures

#15006 test: Airdrop Cancel additional tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropBase.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenCancelAirdropTest.java
Labels: Token Airdrop

#15062 test: add non-priority token airdrop tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropTest.java
Labels: Token Airdrop

#15037 chore: remove spaces from png file names
  hedera-node/docs/design/app/images/HandleWorkflow.drawio.png
  hedera-node/docs/design/app/images/IngestWorkflow.drawio.png
  hedera-node/docs/design/app/images/Pre-HandleTransactionWorkflow.drawio.png
  hedera-node/docs/design/app/images/QueryWorkflow.drawio.png
  hedera-node/docs/design/app/images/SignatureExpansion.drawio.png
  hedera-node/docs/design/app/images/TransactionDispatcher.drawio
  hedera-node/docs/design/app/signatures.md
  hedera-node/docs/design/app/workflows.md
Labels: HapiThursday

#15074 test: added Token Claim Airdrop Test
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenClaimAirdropTest.java
Labels: Token Airdrop

#15064 ci: update test meta data used in report generation
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/testreader/testMetadata.csv
Labels: Feature Enhancement

#15092 test: add test to ensure immutable contracts cannot be changed
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/handlers/ContractUpdateHandler.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/handlers/ContractUpdateHandlerTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/hapi/ContractUpdateSuite.java
Labels: Hedera Smart Contract Service

#15079 feat: add exceed max airdrops validation
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenAirdropHandler.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropWithOverriddenMaxAllowedPendingAirdropsTest.java
Labels: Token Airdrop

#14961 feat: add file block item writer
  hapi/build.gradle.kts
  hapi/src/main/java/module-info.java
  hedera-dependency-versions/build.gradle.kts
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/BlockItemWriter.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/FileBlockItemWriter.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/impl/FileBlockItemWriterTest.java
  settings.gradle.kts
Labels: Block Streams

#15105 test: Add contract as receiver tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropBase.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropTest.java
Labels: Token Airdrop

#15052 chore: Fix compiler issues in services-cli
  hedera-node/cli-clients/build.gradle.kts
  hedera-node/cli-clients/src/main/java/com/hedera/services/cli/signedstate/DumpFilesSubcommand.java
  hedera-node/cli-clients/src/main/java/module-info.java
Labels: HapiThursday

#14945 test: Claim after edit of autoAssociations while in pending
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropBase.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenClaimAirdropTest.java
Labels: Token Airdrop

#15084 test: Additional airdrop negative tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenClaimAirdropTest.java
Labels: Token Airdrop

#15089 feat: add streaming tree hasher implementation
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/StreamingTreeHasher.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/BlockImplUtils.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/ConcurrentStreamingTreeHasher.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/impl/BlockImplUtilsTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/impl/ConcurrentStreamingTreeHasherTest.java
Labels: Block Streams

#15054 chore: Fix hapi utils compiler issues
  hedera-node/hapi-utils/build.gradle.kts
  hedera-node/hapi-utils/src/main/java/module-info.java
  hedera-node/hapi-utils/src/test/java/com/hedera/node/app/hapi/utils/fee/CryptoFeeBuilderTest.java
  hedera-node/hapi-utils/src/test/java/com/hedera/node/app/hapi/utils/fee/FeeBuilderTest.java
Labels: HapiThursday

#15157 ci: resolves release issue preventing the publication of the docker images
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/zxc-publish-production-image.yaml
  .github/workflows/zxc-verify-docker-build-determinism.yaml
Labels: Bug, P0

#15158 ci: resolves release issue preventing the publication of the docker images
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/zxc-publish-production-image.yaml
  .github/workflows/zxc-verify-docker-build-determinism.yaml
Labels: Bug, P0

#15159 ci: resolves release issue preventing the publication of the docker images
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/zxc-publish-production-image.yaml
  .github/workflows/zxc-verify-docker-build-determinism.yaml
Labels: Bug, P0

#15174 fix: compile error from simultaneous merges
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/StateChangesValidator.java
Labels: Bug

#15171 ci: fix build application workflow
  .github/workflows/node-flow-build-application.yaml
Labels: P1, Bug

#15162 fix: fixed nextNodeId is decremented when the last node is removed
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/NodeUpdateHandlerTest.java
  hedera-node/hedera-addressbook-service/src/main/java/com/hedera/node/app/service/addressbook/AddressBookHelper.java
  hedera-node/hedera-network-admin-service-impl/src/main/java/com/hedera/node/app/service/networkadmin/impl/handlers/ReadableFreezeUpgradeActions.java
  hedera-node/hedera-network-admin-service-impl/src/test/java/com/hedera/node/app/service/networkadmin/impl/test/handlers/ReadableFreezeUpgradeActionsTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip869/NodeUpdateTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/regression/system/DabEnabledUpgradeTest.java
Labels: Dynamic Address Book

#15206 fix: publishToSonatype failing due to hedera.evm overwriting itself in MC
  gradle/plugins/src/main/kotlin/com.hedera.gradle.evm-publish.gradle.kts
  hedera-node/hedera-evm-impl/build.gradle.kts
Labels: github_actions

#15175 fix: hedera-evm and hedera-evm-impl are overwriting each other in MC
  gradle/plugins/src/main/kotlin/com.hedera.gradle.evm-publish.gradle.kts
  hedera-node/hedera-evm-impl/build.gradle.kts
Labels: github_actions

#15219 refactor: Rename DeleteCapableTransactionRecordBuilder
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/workflows/record/DeleteCapableTransactionStreamBuilder.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/utils/FrameUtils.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/records/ContractDeleteStreamBuilder.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/records/ContractOperationStreamBuilder.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/records/ContractUpdateStreamBuilder.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/scope/HandleHederaNativeOperationsTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/utils/FrameUtilsTest.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/api/TokenServiceApiImpl.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/staking/StakingRewardsDistributor.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/staking/StakingRewardsHandlerImpl.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/staking/StakingRewardsHandlerImplTest.java
  hedera-node/hedera-token-service/src/main/java/com/hedera/node/app/service/token/api/TokenServiceApi.java
  hedera-node/hedera-token-service/src/main/java/com/hedera/node/app/service/token/records/CryptoDeleteStreamBuilder.java
Labels: Block Streams

#15224 feat: Miscellaneous minor updates
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/ConcurrentStreamingTreeHasher.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/impl/producers/StreamFileProducerConcurrent.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/roster/RosterServiceImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/roster/schemas/V0540RosterSchema.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/state/HederaRecordCache.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/state/listeners/WriteStateToDiskListener.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/state/recordcache/RecordCacheImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/DispatchHandleContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/DispatchProcessor.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/dispatch/RecordFinalizer.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/record/RecordStreamBuilder.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/impl/ConcurrentStreamingTreeHasherTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/state/recordcache/RecordCacheImplTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/DispatchHandleContextTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/DispatchProcessorTest.java
  hedera-node/hedera-file-service-impl/src/main/java/com/hedera/node/app/service/file/impl/FileServiceImpl.java
Labels: Block Streams

#15225 chore: Mirroring state changes update to block stream for roster values
  hapi/hedera-protobufs/block/stream/output/state_changes.proto
Labels: Block Streams

#15230 chore: Update tests to use latest valid block stream info protobuf
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/BlockStreamServiceTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/schemas/V0540BlockStreamSchemaTest.java
Labels: Block Streams

#15106 test: added more tests in TokenClaimAirdropTest
  hedera-node/hedera-addressbook-service/src/main/java/com/hedera/node/app/service/addressbook/AddressBookHelper.java
  hedera-node/hedera-addressbook-service/src/main/java/com/hedera/node/app/service/addressbook/ReadableNodeStore.java
  hedera-node/hedera-network-admin-service-impl/src/test/java/com/hedera/node/app/service/networkadmin/impl/test/handlers/FreezeHandlerTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenClaimAirdropTest.java
Labels: Token Airdrop

#15233 feat: Various block stream modifications
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/workflows/record/DeleteCapableTransactionStreamBuilder.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/impl/BlockRecordInfoUtils.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/roster/RosterServiceImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/roster/schemas/V0540RosterSchema.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/state/HederaRecordCache.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/HandleWorkflow.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/record/SystemSetup.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/steps/NodeStakeUpdates.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/impl/BlockImplUtilsTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/schemas/V0540BlockStreamSchemaTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/roster/RosterServiceImplTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/roster/schemas/V0540RosterSchemaTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/steps/NodeStakeUpdatesTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/steps/SystemSetupTest.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/staking/EndOfStakingPeriodUpdater.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/staking/EndOfStakingPeriodUpdaterTest.java
Labels: Block Streams

#15184 feat: add block stream state changes listeners
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/Hedera.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/HederaInjectionComponent.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/BoundaryStateChangeListener.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/KVStateChangeListener.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/services/MigrationStateChanges.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/services/OrderedServiceMigrator.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/services/ServiceMigrator.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/state/MerkleStateLifecyclesImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/HandleWorkflow.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/stack/SavepointStackImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/steps/UserTxn.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/standalone/impl/StandaloneDispatchFactory.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/BlockStreamServiceTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/impl/BoundaryStateChangeListenerTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/impl/KVStateChangeListenerTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/components/IngestComponentTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/state/merkle/DependencyMigrationTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/HandleWorkflowTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/stack/SavepointStackImplTest.java
  hedera-node/hedera-app/src/testFixtures/java/com/hedera/node/app/fixtures/state/FakeState.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/StateChangesValidator.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/MerkleStateLifecycles.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/MerkleStateRoot.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/MerkleStateRootTest.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/state/FakeMerkleStateLifecycles.java
  platform-sdk/swirlds-state-api/src/main/java/com/swirlds/state/State.java
  platform-sdk/swirlds-state-api/src/main/java/com/swirlds/state/StateChangeListener.java
  platform-sdk/swirlds-state-api/src/test/java/com/swirlds/state/spi/StateTest.java
  platform-sdk/swirlds-state-api/src/testFixtures/java/com/swirlds/state/test/fixtures/StateTestBase.java
Labels: Block Streams

#15240 chore: Fix compiler warnings in `hedera-config`
  hedera-node/hedera-config/build.gradle.kts
  hedera-node/hedera-config/src/testFixtures/java/module-info.java
Labels: HapiThursday

#15242 chore: Fix compiler warnings in `hedera-app-spi`
  hedera-node/hedera-app-spi/build.gradle.kts
  hedera-node/hedera-app-spi/src/testFixtures/java/module-info.java
Labels: HapiThursday

#15238 test: Airdrop to contract tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropTest.java
Labels: Token Airdrop

#15226 feat: BlockStreamManager impl for Block Streams
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/records/BlockRecordInfo.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/Hedera.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/HederaInjectionComponent.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/BlockStreamManager.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/BlockStreamModule.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/BlockStreamManagerImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/BoundaryStateChangeListener.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/impl/BlockRecordInfoImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/impl/BlockRecordManagerImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/HandleWorkflow.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/stack/SavepointStackImpl.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/HandleWorkflowTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/record/BlockRecordManagerTest.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/scope/HandleHederaOperations.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/scope/QueryHederaOperations.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/hevm/HevmBlockValues.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/scope/HandleHederaOperationsTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/scope/QueryHederaOperationsTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/hevm/HandleContextHevmBlocksTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/hevm/QueryContextHevmBlocksTest.java
  hedera-node/hedera-util-service-impl/src/main/java/com/hedera/node/app/service/util/impl/handlers/UtilPrngHandler.java
  hedera-node/hedera-util-service-impl/src/test/java/com/hedera/node/app/service/util/impl/test/handlers/UtilPrngHandlerTest.java
Labels: Block Streams

#15232 feat: add enableDAB flag to enable and disable DAB features
  hedera-node/configuration/dev/application.properties
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/handlers/NodeCreateHandler.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/handlers/NodeDeleteHandler.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/handlers/NodeUpdateHandler.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/NodeCreateHandlerTest.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/NodeDeleteHandlerTest.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/NodeUpdateHandlerTest.java
  hedera-node/hedera-addressbook-service/src/main/java/com/hedera/node/app/service/addressbook/AddressBookHelper.java
  hedera-node/hedera-addressbook-service/src/main/java/module-info.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/state/listeners/ReconnectListener.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/state/listeners/WriteStateToDiskListener.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/NodesConfig.java
  hedera-node/hedera-network-admin-service-impl/src/main/java/com/hedera/node/app/service/networkadmin/impl/handlers/FreezeHandler.java
  hedera-node/hedera-network-admin-service-impl/src/main/java/com/hedera/node/app/service/networkadmin/impl/handlers/FreezeUpgradeActions.java
  hedera-node/hedera-network-admin-service-impl/src/main/java/com/hedera/node/app/service/networkadmin/impl/handlers/ReadableFreezeUpgradeActions.java
  hedera-node/hedera-network-admin-service-impl/src/main/java/module-info.java
  hedera-node/hedera-network-admin-service-impl/src/test/java/com/hedera/node/app/service/networkadmin/impl/test/handlers/FreezeUpgradeActionsTest.java
  hedera-node/hedera-network-admin-service-impl/src/test/java/com/hedera/node/app/service/networkadmin/impl/test/handlers/ReadableFreezeUpgradeActionsTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip869/NodeCreateTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip869/NodeDeleteTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip869/NodeUpdateTest.java
Labels: Dynamic Address Book

#15260 feat: cherry-pick: add enableDAB flag to enable and disable DAB features (#15232)
  hedera-node/configuration/dev/application.properties
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/handlers/NodeCreateHandler.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/handlers/NodeDeleteHandler.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/handlers/NodeUpdateHandler.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/NodeCreateHandlerTest.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/NodeDeleteHandlerTest.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/NodeUpdateHandlerTest.java
  hedera-node/hedera-addressbook-service/src/main/java/com/hedera/node/app/service/addressbook/AddressBookHelper.java
  hedera-node/hedera-addressbook-service/src/main/java/module-info.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/state/listeners/ReconnectListener.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/state/listeners/WriteStateToDiskListener.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/NodesConfig.java
  hedera-node/hedera-network-admin-service-impl/src/main/java/com/hedera/node/app/service/networkadmin/impl/handlers/FreezeHandler.java
  hedera-node/hedera-network-admin-service-impl/src/main/java/com/hedera/node/app/service/networkadmin/impl/handlers/FreezeUpgradeActions.java
  hedera-node/hedera-network-admin-service-impl/src/main/java/com/hedera/node/app/service/networkadmin/impl/handlers/ReadableFreezeUpgradeActions.java
  hedera-node/hedera-network-admin-service-impl/src/main/java/module-info.java
  hedera-node/hedera-network-admin-service-impl/src/test/java/com/hedera/node/app/service/networkadmin/impl/test/handlers/FreezeUpgradeActionsTest.java
  hedera-node/hedera-network-admin-service-impl/src/test/java/com/hedera/node/app/service/networkadmin/impl/test/handlers/ReadableFreezeUpgradeActionsTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip869/NodeCreateTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip869/NodeDeleteTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip869/NodeUpdateTest.java
Labels: Dynamic Address Book

#15269 chore: Use protos v0.54.0 for release 0.54
  settings.gradle.kts
Labels: Release

#15258 chore: Schedule creation of the `release/0.54` branch
  .github/workflows/config/node-release.yaml
Labels: Release

#15203 test: add contract as receiver tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropBase.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropTest.java
Labels: Token Airdrop

#15266 fix: write s-public-alias.pem file for each node to a configurable location
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/NetworkAdminConfig.java
  hedera-node/hedera-network-admin-service-impl/src/main/java/com/hedera/node/app/service/networkadmin/impl/handlers/ReadableFreezeUpgradeActions.java
  hedera-node/hedera-network-admin-service-impl/src/test/java/com/hedera/node/app/service/networkadmin/impl/test/handlers/ReadableFreezeUpgradeActionsTest.java
Labels: Dynamic Address Book

#13747 docs: tss ledger id platform design proposal
  platform-sdk/docs/proposals/TSS-Ledger-Id/Groth21-re-keying-shares-of-shares.drawio.svg
  platform-sdk/docs/proposals/TSS-Ledger-Id/TSS-Ledger-Id.md
  platform-sdk/docs/proposals/TSS-Ledger-Id/TSS-Roster-Lifecycle.drawio.svg
  platform-sdk/docs/proposals/TSS-Ledger-Id/TSS-Wiring-Diagram.drawio.svg
Labels: Platform

#15268 chore: 11771 Added more unit tests for `WritablePlatformStateStore`
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/service/PbjConverterTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/service/WritablePlatformStateStoreTest.java
Labels: Test Development
