Repository hiero-ledger/hiero-consensus-node, pull requests merged in 2024-12, with the labels that each got.

#16864 fix: 16863 Fixed MapValueFCQTests failures
  platform-sdk/platform-apps/tests/PlatformTestingTool/src/timingSensitive/java/com/swirlds/demo/merkle/map/MapValueFCQTests.java
  platform-sdk/swirlds-platform-core/src/testFixtures/resources/com/swirlds/platform/crypto/agrCerts.data
  platform-sdk/swirlds-platform-core/src/testFixtures/resources/com/swirlds/platform/crypto/sigCerts.data
Labels: P0

#16835 chore: Updating action to step security maintained version.
  .github/workflows/zxc-jrs-regression.yaml
Labels: github_actions

#16874 ci: Downgrade codecov-action to a stable version
  .github/workflows/node-zxc-compile-application-code.yaml
Labels: github_actions

#15575 feat: 15448: In-memory virtual maps support
  platform-sdk/swirlds-benchmarks/src/jmh/java/com/swirlds/benchmark/VirtualMapBench.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/VirtualMapSerializationTests.java
  platform-sdk/swirlds-virtualmap/src/hammer/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCacheHammerTest.java
  platform-sdk/swirlds-virtualmap/src/jmh/java/com/swirlds/virtualmap/internal/cache/ConcurrentArrayBench.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/cache/ConcurrentArray.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCache.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualMapStatistics.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNode.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/pipeline/VirtualPipeline.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/pipeline/VirtualRoot.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/VirtualMapStatisticsTest.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/cache/ConcurrentArrayTest.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCacheTest.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNodeTest.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/pipeline/DummyVirtualRoot.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/pipeline/NoOpVirtualRoot.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/pipeline/VirtualPipelineTests.java
Labels: Performance, Platform Virtual Map, Platform Data Structures, Platform

#16786 chore: Mirroring the changes from protobuf PR 453
  hapi/hedera-protobufs/block/block_service.proto
Labels: Block Node

#16077 feat: SCSC metrics for #TXs that fail pureCheck
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/AppContext.java
  hedera-node/hedera-app-spi/src/main/java/module-info.java
  hedera-node/hedera-app/src/jmh/java/com/hedera/node/app/blocks/BlockStreamManagerBenchmark.java
  hedera-node/hedera-app/src/jmh/java/com/hedera/node/app/blocks/StandaloneRoundManagement.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/Hedera.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/services/AppContextImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/standalone/TransactionExecutors.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/components/IngestComponentTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/standalone/TransactionExecutorsTest.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/ContractsConfig.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/ContractServiceComponent.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/ContractServiceImpl.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/metrics/ContractMetrics.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/handlers/AbstractContractTransactionHandler.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/handlers/ContractCallHandler.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/handlers/ContractCreateHandler.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/handlers/EthereumTransactionHandler.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/module-info.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/ContractServiceImplTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/metrics/ContractMetricsTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/handlers/ContractCallHandlerTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/handlers/ContractCreateHandlerTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/handlers/EthereumTransactionHandlerTest.java
Labels: Hedera Smart Contract Service

#16881 feat: cherry pick smart contract service P1 metrics to release 0.57
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/AppContext.java
  hedera-node/hedera-app-spi/src/main/java/module-info.java
  hedera-node/hedera-app/src/jmh/java/com/hedera/node/app/blocks/BlockStreamManagerBenchmark.java
  hedera-node/hedera-app/src/jmh/java/com/hedera/node/app/blocks/StandaloneRoundManagement.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/Hedera.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/services/AppContextImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/standalone/TransactionExecutors.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/components/IngestComponentTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/standalone/TransactionExecutorsTest.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/ContractsConfig.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/ContractServiceComponent.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/ContractServiceImpl.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/metrics/ContractMetrics.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/handlers/AbstractContractTransactionHandler.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/handlers/ContractCallHandler.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/handlers/ContractCreateHandler.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/handlers/EthereumTransactionHandler.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/module-info.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/ContractServiceImplTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/metrics/ContractMetricsTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/handlers/ContractCallHandlerTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/handlers/ContractCreateHandlerTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/handlers/EthereumTransactionHandlerTest.java
Labels: Hedera Smart Contract Service

#16882 ci: add org to snyk action
  .github/workflows/node-zxc-compile-application-code.yaml
Labels: github_actions

#16773 build(deps): bump slackapi/slack-github-action from 1.25.0 to 2.0.0
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/node-zxcron-release-branching.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: github_actions

#16890 test: Long term schedule sign tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermSignTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableHip423Tests.java
Labels: HIP-423

#16920 ci: Add env token for Check PR Title step to pull-request-formatting
  .github/workflows/flow-pull-request-formatting.yaml
Labels: github_actions

#16912 fix: 16911 - VirtualNodeCacheHammerTest fails after #15448 [TEST_ONLY]
  platform-sdk/swirlds-virtualmap/build.gradle.kts
  platform-sdk/swirlds-virtualmap/src/hammer/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCacheHammerTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCacheTest.java
Labels: Test Development, Platform Virtual Map, Platform Data Structures, Platform

#16797 test: Schedule Create POSITIVE tests from test plan
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/schedule/HapiScheduleCreate.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/LongTermScheduleUtils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermCreateTests.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermExecutionTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermSignTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableHip423Tests.java
Labels: HIP-423

#16918 ci: Add PagerDuty integration to XTS suite and promote build candidate
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
Labels: github_actions

#16903 fix: move initialization of P1 smart contract metrics
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/Hedera.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/metrics/ContractMetrics.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/metrics/ContractMetricsTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoDeleteAllowanceSuite.java
Labels: Hedera Smart Contract Service

#16945 fix: cherry pick to 0.57 of #16903 - a fix for smart contracts P1 metrics
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/Hedera.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/metrics/ContractMetrics.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/metrics/ContractMetricsTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoDeleteAllowanceSuite.java
Labels: Hedera Smart Contract Service

#16944 ci: Remove erroneous commas in pager duty workflow alert
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
Labels: github_actions

#16838 test: System admin exempt from long term schedule throttles
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableHip423Tests.java
Labels: HIP-423

#16965 fix: schedule sign throttles
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/throttle/ThrottleAccumulator.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/throttle/ThrottleAccumulatorTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableHip423Tests.java
Labels: HIP-423

#16921 perf: log4j overhead for inactive markers is too high
  hedera-node/data/config/node-admin-keys.json
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/ConsensusImpl.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/consensus/CandidateWitness.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/consensus/RoundElections.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gossip/shadowgraph/ShadowgraphSynchronizer.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gossip/shadowgraph/SyncUtils.java
Labels: Performance

#16959 fix: Fix ScheduleSign throttles
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/throttle/ThrottleAccumulator.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/throttle/ThrottleAccumulatorTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableHip423Tests.java
Labels: HIP-423

#16836 docs: add README file for ISSTestingTool and enhance logs to capture round number
  platform-sdk/platform-apps/tests/ISSTestingTool/README.md
  platform-sdk/platform-apps/tests/ISSTestingTool/src/main/java/com/swirlds/demo/iss/ISSTestingToolState.java
Labels: Platform

#16962 fix: ThreadLocal issue in LongListDisk when multiple lists are used
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/LongListDiskTest.java
Labels: Bug, Platform Virtual Map, Platform Data Structures, Platform

#16960 chore: Update com.goterl:lazysodium-java
  hedera-dependency-versions/build.gradle.kts
Labels: dependencies, Java

#17016 test: fixed 16947 leaking file descriptors in swirlds-platform-core tests
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/StateFileManagerTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/signed/StartupStateUtilsTests.java
Labels: Stability

#17044 test: fixed 16948 leaking file descriptors
  platform-sdk/swirlds-common/src/test/java/com/swirlds/common/io/utility/FileUtilsTests.java
  platform-sdk/swirlds-unit-tests/core/swirlds-platform-test/src/test/java/com/swirlds/platform/test/event/preconsensus/PcesFileTests.java
Labels: Stability

#17045 test: fixed file-leaks in tests 16946
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/VirtualMapSerializationTests.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/files/DataFileCollectionTest.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/files/MemoryIndexDiskKeyValueStoreTest.java
Labels: Stability

#17071 ci: Change secrets for protobufs access
  .github/workflows/node-flow-deploy-release-artifact.yaml
Labels: github_actions

#16899 feat: adapt PlatformWiring to expect system transactions as a return parameter from TransactionPrehandler and StateHasher
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/eventhandling/DefaultTransactionHandler.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/eventhandling/DefaultTransactionPrehandler.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/eventhandling/TransactionPrehandler.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/SwirldStateManager.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/iss/DefaultIssDetector.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/PlatformCoordinator.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/PlatformWiring.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/components/StateAndRound.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/StateFileManagerTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/signed/DefaultStateHasherTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/signed/StateGarbageCollectorTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/system/state/notifications/StateHashedNotificationTest.java
  platform-sdk/swirlds-unit-tests/core/swirlds-platform-test/src/test/java/com/swirlds/platform/test/state/IssDetectorTests.java
Labels: Platform

#17046 fix: BLOBBASEFEE opcode (Cancun) to return 1 Wei not 0 Wei
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/utils/FrameBuilder.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/utils/FrameBuilderTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/ethereum/HelloWorldEthereumSuite.java
  hedera-node/test-clients/src/main/resources/contract/contracts/BlockQueries/BlockQueries.bin
  hedera-node/test-clients/src/main/resources/contract/contracts/BlockQueries/BlockQueries.json
  hedera-node/test-clients/src/main/resources/contract/contracts/BlockQueries/BlockQueries.sol
Labels: Hedera Smart Contract Service

#17128 fix: unit tests in IssDetectorTests
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/PlatformWiring.java
  platform-sdk/swirlds-unit-tests/core/swirlds-platform-test/src/test/java/com/swirlds/platform/test/state/IssDetectorTests.java
Labels: Platform

#17129 perf: enable compaction during reconnects
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/MerkleDb.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNode.java
Labels: Performance

#17091 chore: Update hedera-services to rename develop as main
  .github/workflows/flow-artifact-determinism.yaml
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/node-zxcron-develop-fsts-regression.yaml
  .github/workflows/node-zxf-snyk-monitor.yaml
  .github/workflows/platform-zxcron-develop-jrs-regression.yaml
  .github/workflows/zxc-jrs-regression.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-collect-workflow-logs.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
  docs/branch-naming-conventions.md
  docs/continuous-integration-testing-overview.md
  docs/glossary.md
  docs/maintainers-guide.md
  gradle/development-branch.txt
  hedera-node/docs/design/app/workflows.md
  hedera-node/docs/design/services/smart-contract-service/cancun-fork-support.md
  hedera-node/docs/design/services/smart-contract-service/contract-accounts-nonces.md
  hedera-node/docs/dev/JRS-GettingStarted.md
  platform-sdk/README.md
  platform-sdk/description.txt
  platform-sdk/docs/core/address-book-management.md
  platform-sdk/docs/core/wiring-diagram.svg
  platform-sdk/docs/proposals/README.md
  platform-sdk/docs/proposals/metric-labels/README.md
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/model/diagram/HyperlinkBuilder.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/cli/JrsTestReaderReportCommand.java
Labels: github_actions

#17158 chore: Update workrflow names to point to main instead of develop
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/node-zxcron-main-fsts-regression.yaml
  .github/workflows/platform-zxcron-main-jrs-regression.yaml
Labels: github_actions

#17160 ci: Update Check Integration/XTS Job State to include GH_TOKEN
  .github/workflows/node-flow-deploy-release-artifact.yaml
Labels: github_actions

#17161 ci: add id_token write permission to node-flow-deploy-release-artifact.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
Labels: github_actions

#16698 chore: Refactor hapi tests to use `hapiTest(...)` instead of `defaultHapiSpec(...)` (Part 3)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/ethereum/EthereumSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/ethereum/HelloWorldEthereumSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/ethereum/NonceSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/FeeScheduleUpdateWaiverTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/file/DiverseStateCreation.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/file/DiverseStateValidation.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/file/ExchangeRateControlSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/file/FileCreateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/file/FileDeleteSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/file/FileUpdateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/file/MidnightUpdateRateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/file/PermissionSemanticsSpec.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/file/negative/UpdateFailuresSpec.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/file/positive/SysDelSysUndelSpec.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/freeze/UpdateServerFiles.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/freeze/UpgradeSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/DisabledLongTermExecutionScheduleTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip869/NodeCreateTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip869/NodeDeleteTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip869/NodeUpdateTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/AirdropsDisabledTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/issues/Issue1765Suite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/issues/Issue2098Spec.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/issues/Issue2143Spec.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/issues/Issue2319Spec.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/issues/IssueRegressionTests.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/misc/CannotDeleteSystemEntitiesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/misc/ConsensusQueriesStressTests.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/misc/CryptoQueriesStressTests.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/misc/FileQueriesStressTests.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/misc/InvalidgRPCValuesTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/misc/PerpetualTransfers.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/records/ContractRecordsSanityCheckSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/records/DuplicateManagementTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/records/FileRecordsSanityCheckSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/records/RecordCreationSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/records/TokenBalanceValidation.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/regression/AddressAliasIdFuzzing.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/regression/CompletedHollowAccountOperationsFuzzing.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/regression/HollowAccountCompletionFuzzing.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/regression/HollowAccountFuzzing.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/regression/UmbrellaRedux.java
Labels: HapiThursday

#17179 feat: support universal fallback for throttles.json genesis loading
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/BootstrapConfig.java
  hedera-node/hedera-file-service-impl/src/main/java/com/hedera/node/app/service/file/impl/schemas/V0490FileSchema.java
Labels: Feature Enhancement, P0
