Repository hiero-ledger/hiero-consensus-node, pull requests merged in 2024-11, with the labels that each got.

#16179 test: Port long term scheduled transactions test from mono codebase
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/DisabledLongTermExecutionScheduleTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/LongTermScheduleUtils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermExecutionTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermSignTest.java
Labels: HIP-423

#16336 ci: Updating workflow action to step-security version.
  .github/workflows/node-zxc-compile-application-code.yaml
Labels: github_actions

#16344 ci: Re-enable jenkins integration flow
  .github/CODEOWNERS
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/node-zxf-deploy-integration.yaml
Labels: Bug, github_actions

#16376 ci: fix JSON field names
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
Labels: github_actions

#16388 ci: add spaces to JSON message cleanup
  .github/workflows/node-flow-build-application.yaml
Labels: github_actions

#16218 fix: isAuthorizedRaw fails when given an auto-created account with EC…
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/has/isauthorizedraw/IsAuthorizedRawCall.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/has/isvalidalias/IsValidAliasCall.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/utils/ConversionUtils.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/has/isauthorizedraw/IsAuthorizedRawCallTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/UtilOp.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/UtilStateChange.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoUpdateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip632/IsAuthorizedTest.java
Labels: Hedera Smart Contract Service

#16405 fix: Cherry pick (0.56): `isAuthorizedRaw` bug fix
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/has/isauthorizedraw/IsAuthorizedRawCall.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/has/isvalidalias/IsValidAliasCall.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/utils/ConversionUtils.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/has/isauthorizedraw/IsAuthorizedRawCallTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/UtilOp.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/UtilStateChange.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoUpdateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip632/IsAuthorizedTest.java
Labels: Hedera Smart Contract Service

#16424 perf: Improve health monitor efficiency
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/component/ComponentWiring.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/schedulers/builders/TaskSchedulerBuilder.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/schedulers/builders/internal/AbstractTaskSchedulerBuilder.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/schedulers/builders/internal/StandardTaskSchedulerBuilder.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/schedulers/internal/SequentialThreadTaskScheduler.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/PlatformSchedulersConfig.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/PlatformWiring.java
Labels: Performance

#16039 docs: Add services configuration design doc
  hedera-node/docs/design/services/service-configuration.md
Labels: HapiThursday

#16314 feat: ScheduleService iterator over all ExecutableTxn
  hedera-node/hedera-schedule-service-impl/src/main/java/com/hedera/node/app/service/schedule/impl/ReadableScheduleStoreImpl.java
  hedera-node/hedera-schedule-service-impl/src/main/java/com/hedera/node/app/service/schedule/impl/ScheduleServiceImpl.java
  hedera-node/hedera-schedule-service-impl/src/main/java/com/hedera/node/app/service/schedule/impl/WritableScheduleStoreImpl.java
  hedera-node/hedera-schedule-service-impl/src/test/java/com/hedera/node/app/service/schedule/impl/ReadableScheduleStoreTest.java
  hedera-node/hedera-schedule-service-impl/src/test/java/com/hedera/node/app/service/schedule/impl/ScheduleServiceImplTest.java
  hedera-node/hedera-schedule-service/src/main/java/com/hedera/node/app/service/schedule/ReadableScheduleStore.java
  hedera-node/hedera-schedule-service/src/main/java/com/hedera/node/app/service/schedule/ScheduleService.java
Labels: HIP-423

#16495 feat: NodeUpdate needs only admin key to sign
  hapi/hedera-protobufs/services/address_book_service.proto
  hapi/hedera-protobufs/services/node_update.proto
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/handlers/NodeUpdateHandler.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/authorization/PrivilegesVerifier.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/authorization/PrivilegesVerifierTest.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/ApiPermissionConfig.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip869/NodeUpdateTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip869/UpdateAccountEnabledTest.java
Labels: Dynamic Address Book

#16016 chore: Hedera app compiler warning fixes
  hedera-node/hedera-app/build.gradle.kts
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/impl/producers/formats/v6/SidecarWriterV6.java
  hedera-node/hedera-app/src/main/java/module-info.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/state/merkle/SerializationTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/prehandle/PreHandleWorkflowImplTest.java
  hedera-node/hedera-token-service-impl/src/main/java/module-info.java
  hedera-node/hedera-token-service/src/main/java/module-info.java
Labels: HapiThursday

#16501 fix: rework counters to allow delta increments/decrements
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/counters/BackpressureBlocker.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/counters/BackpressureObjectCounter.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/counters/MultiObjectCounter.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/counters/NoOpObjectCounter.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/counters/ObjectCounter.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/counters/StandardObjectCounter.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/schedulers/builders/internal/StandardTaskSchedulerBuilder.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/schedulers/internal/SequentialThreadTaskScheduler.java
Labels: Performance

#16423 perf: Improve health monitor efficiency
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/component/ComponentWiring.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/counters/BackpressureBlocker.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/counters/BackpressureObjectCounter.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/counters/MultiObjectCounter.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/counters/NoOpObjectCounter.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/counters/ObjectCounter.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/counters/StandardObjectCounter.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/schedulers/builders/TaskSchedulerBuilder.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/schedulers/builders/internal/AbstractTaskSchedulerBuilder.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/schedulers/builders/internal/StandardTaskSchedulerBuilder.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/schedulers/internal/SequentialThreadTaskScheduler.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/PlatformSchedulersConfig.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/PlatformWiring.java
Labels: Performance

#16502 feat: (cherry-pick) NodeUpdate needs only admin key to sign
  hapi/hedera-protobufs/services/address_book_service.proto
  hapi/hedera-protobufs/services/node_update.proto
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/handlers/NodeUpdateHandler.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/authorization/PrivilegesVerifier.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/authorization/PrivilegesVerifierTest.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/ApiPermissionConfig.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip869/NodeUpdateTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip869/UpdateAccountEnabledTest.java
Labels: Dynamic Address Book

#16099 chore: Updates to match recent changes to the Block Stream definition
  hapi/hedera-protobufs/block/block_service.proto
  hapi/hedera-protobufs/block/stream/output/block_header.proto
  hapi/hedera-protobufs/block/stream/output/consensus_service.proto
  hapi/hedera-protobufs/block/stream/output/schedule_service.proto
  hapi/hedera-protobufs/block/stream/output/smart_contract_service.proto
  hapi/hedera-protobufs/block/stream/output/transaction_result.proto
  hapi/hedera-protobufs/services/auxiliary/tss/tss_message.proto
  hapi/hedera-protobufs/services/basic_types.proto
  hapi/hedera-protobufs/services/state/blockstream/block_stream_info.proto
  hapi/hedera-protobufs/services/state/recordcache/recordcache.proto
  hapi/hedera-protobufs/services/state/roster/ledger_id.proto
  hapi/hedera-protobufs/services/state/roster/roster.proto
  hapi/hedera-protobufs/services/state/tss/tss_vote_map_key.proto
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/BlockItemsTranslator.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/BlockStreamBuilder.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/GrpcBlockItemWriter.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/TranslationContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/contexts/AirdropOpContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/contexts/BaseOpContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/contexts/ContractOpContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/contexts/CryptoOpContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/contexts/FileOpContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/contexts/MintOpContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/contexts/NodeOpContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/contexts/ScheduleOpContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/contexts/SubmitOpContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/contexts/SupplyChangeOpContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/contexts/TokenOpContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/contexts/TopicOpContext.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/BlockItemsTranslatorTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/BlockStreamBuilderTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/impl/TranslationContextTest.java
Labels: Block Streams

#16497 ci: Fix dry-run-enabled parameter passing
  .github/workflows/node-flow-deploy-preview.yaml
Labels: github_actions

#16542 ci: Add XTS Dry Run Workflow
  .github/workflows/zxf-dry-run-extended-test-suite.yaml
Labels: github_actions

#16522 ci: Add workflow run id, url and commit author to slack report
  .github/workflows/zxcron-extended-test-suite.yaml
Labels: github_actions

#16526 feat: Added 056 AddressBook schema
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/AddressBookServiceImpl.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/schemas/V056AddressBookSchema.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/AddressBookServiceImplTest.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/schemas/V056AddressBookSchemaTest.java
  hedera-node/hedera-addressbook-service/src/main/java/com/hedera/node/app/service/addressbook/AddressBookService.java
Labels: Dynamic Address Book

#16571 ci: 16558 update docs to include citr xts
  docs/continuous-integration-testing-overview.md
Labels: github_actions

#16546 ci: Add log artifact on XTS failure
  .github/workflows/zxcron-extended-test-suite.yaml
Labels: github_actions

#16586 fix: Cherry-pick pom name field fix
  gradle/plugins/src/main/kotlin/com.hedera.gradle.maven-publish.gradle.kts
Labels: Bug, Release, P0

#16610 chore: Modified block stream handling for record file data
  hapi/hedera-protobufs/block/stream/output/block_header.proto
  hapi/hedera-protobufs/block/stream/output/smart_contract_service.proto
  hapi/hedera-protobufs/block/stream/record_file_item.proto
Labels: Block Node

#16626 build(bug): description field in pom.xml was not populated
  gradle/plugins/src/main/kotlin/com.hedera.gradle.maven-publish.gradle.kts
Labels: Bug, Release, P0

#16613 chore: Refactor hapi tests to use `hapiTest(...)` instead of `defaultHapiSpec(...)` (Part 1)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/consensus/SubmitMessageSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/consensus/TopicCreateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/consensus/TopicDeleteSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/consensus/TopicUpdateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/classiccalls/FailureCharacterizationSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/evm/Evm46ValidationSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/hapi/ContractCallHapiOnlySuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/hapi/ContractCallLocalSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/hapi/ContractCallSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/hapi/ContractCreateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/hapi/ContractDeleteSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/hapi/ContractGetBytecodeSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/hapi/ContractGetInfoSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/hapi/ContractStateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/hapi/ContractUpdateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/opcodes/Create2OperationSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/opcodes/CreateOperationSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/opcodes/DelegateCallOperationSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/opcodes/GlobalPropertiesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/ApproveAllowanceSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/AssociatePrecompileSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/AssociatePrecompileV2SecurityModelSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/ContractBurnHTSSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/ContractBurnHTSV2SecurityModelSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/ContractHTSSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/ContractMintHTSSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/ContractMintHTSV2SecurityModelSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/CreatePrecompileSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/CryptoTransferHTSSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/token/Hip17UnhappyTokensSuite.java
Labels: HapiThursday

#16628 build(bug): cherry pick #16626 into release 0.56
  gradle/plugins/src/main/kotlin/com.hedera.gradle.maven-publish.gradle.kts
Labels: Bug, Release, P0

#16617 ci: Update increment action to step-security maintained version
  .github/workflows/zxcron-promote-build-candidate.yaml
Labels: github_actions

#16449 ci: Add hedera-services -> hedera-protobufs auto-update functionality
  .github/workflows/node-flow-deploy-release-artifact.yaml
Labels: github_actions

#16651 feat: Add validate-poms plugin and update developers section in pom gen
  gradle/plugins/build.gradle.kts
  gradle/plugins/src/main/kotlin/com.hedera.gradle.maven-publish.gradle.kts
Labels: Feature Enhancement

#16647 fix: correct a missing conversion between `AddressBook` cert hash hex-string-as-bytes and actual SHA2-384 hash bytes for `Node` entries.
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/schemas/V053AddressBookSchema.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/schemas/V056AddressBookSchema.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/schemas/V053AddressBookSchemaTest.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/schemas/V056AddressBookSchemaTest.java
  hedera-node/hedera-file-service-impl/src/main/java/com/hedera/node/app/service/file/impl/schemas/V0490FileSchema.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip993/SystemFileExportsTest.java
Labels: Dynamic Address Book

#16659 fix: correct a missing conversion between AddressBook cert hash hex-string-as-bytes and actual SHA2-384 hash bytes for Node entries.
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/schemas/V053AddressBookSchema.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/schemas/V053AddressBookSchemaTest.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/steps/NodeMetadataHelper.java
  hedera-node/hedera-file-service-impl/src/main/java/com/hedera/node/app/service/file/impl/schemas/V0490FileSchema.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip993/SystemFileExportsTest.java
Labels: Dynamic Address Book

#16687 build(deps): Revert bump gradle/actions from 3.4.2 to 4.2.1 (#16655)
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/node-zxc-compile-application-code.yaml
  .github/workflows/node-zxf-snyk-monitor.yaml
  .github/workflows/zxc-jrs-regression.yaml
  .github/workflows/zxc-verify-docker-build-determinism.yaml
  .github/workflows/zxc-verify-gradle-build-determinism.yaml
Labels: P1, Bug, github_actions

#16629 chore: Refactor hapi tests to use `hapiTest(...)` instead of `defaultHapiSpec(...)` (Part 2)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/DeleteTokenPrecompileSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/DissociatePrecompileSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/FreezeUnfreezeTokenPrecompileSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/GrantRevokeKycSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/PauseUnpauseTokenAccountPrecompileSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/PrngPrecompileSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/TokenAndTypeCheckSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/TokenExpiryInfoSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/TokenInfoHTSSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/TokenRejectSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/WipeTokenAccountPrecompileSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/records/RecordsSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/traceability/TraceabilitySuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/AutoAccountCreationSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/AutoAccountUpdateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoApproveAllowanceSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoCornerCasesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoCreateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoDeleteAllowanceSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoDeleteSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoGetInfoRegression.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoGetRecordsRegression.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoRecordsSanityCheckSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoTransferSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoUpdateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/HollowAccountFinalizationSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/MiscCryptoSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/NftTransferSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/QueryPaymentSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/TransferWithCustomFixedFees.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/TransferWithCustomFractionalFees.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/TransferWithCustomRoyaltyFees.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/TxnRecordRegression.java
Labels: HapiThursday

#16715 fix: 15638 Added missing contructor registry initialization to test and demo apps
  platform-sdk/platform-apps/demos/CryptocurrencyDemo/src/main/java/com/swirlds/demo/crypto/CryptocurrencyDemoMain.java
  platform-sdk/platform-apps/demos/HelloSwirldDemo/src/main/java/com/swirlds/demo/hello/HelloSwirldDemoMain.java
  platform-sdk/platform-apps/demos/StatsDemo/src/main/java/com/swirlds/demo/stats/StatsDemoMain.java
  platform-sdk/platform-apps/tests/AddressBookTestingTool/src/main/java/com/swirlds/demo/addressbook/AddressBookTestingToolMain.java
  platform-sdk/platform-apps/tests/AddressBookTestingTool/src/main/java/com/swirlds/demo/addressbook/AddressBookTestingToolState.java
  platform-sdk/platform-apps/tests/ISSTestingTool/src/main/java/com/swirlds/demo/iss/ISSTestingToolMain.java
  platform-sdk/platform-apps/tests/ISSTestingTool/src/main/java/com/swirlds/demo/iss/ISSTestingToolState.java
  platform-sdk/platform-apps/tests/MigrationTestingTool/src/main/java/com/swirlds/demo/migration/MigrationTestingToolMain.java
  platform-sdk/platform-apps/tests/PlatformTestingTool/src/main/java/com/swirlds/demo/platform/PlatformTestingToolMain.java
  platform-sdk/platform-apps/tests/PlatformTestingTool/src/main/java/com/swirlds/demo/platform/PlatformTestingToolState.java
  platform-sdk/platform-apps/tests/StatsSigningTestingTool/src/main/java/com/swirlds/demo/stats/signing/StatsSigningTestingToolMain.java
  platform-sdk/platform-apps/tests/StressTestingTool/src/main/java/com/swirlds/demo/stress/StressTestingToolMain.java
Labels: Bug, Platform

#16671 perf: eliminate busy wait in SequentialThreadTaskScheduler
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/schedulers/builders/internal/StandardTaskSchedulerBuilder.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/schedulers/internal/SequentialThreadTaskScheduler.java
Labels: Performance

#16622 docs: Removed incorrect specification for node id in receipt
  hapi/hedera-protobufs/services/node_delete.proto
  hapi/hedera-protobufs/services/node_update.proto
  hapi/hedera-protobufs/services/transaction_receipt.proto
Labels: Dynamic Address Book

#16747 fix: Revert build(deps) bump slackapi/slack-github-action from 1.25.0 to 2.0.0
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/node-zxcron-release-branching.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: github_actions

#16719 chore: Modify and mount default block streams output directory
  hedera-node/configuration/compose/node.properties
  hedera-node/configuration/dev/application.properties
  hedera-node/configuration/dev/node.properties
  hedera-node/data/config/node.properties
  hedera-node/docker/.dockerignore
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/BlockStreamConfig.java
  hedera-node/infrastructure/docker/containers/local-node/network-node-base/Dockerfile
  hedera-node/infrastructure/docker/containers/production-next/consensus-node/Dockerfile
  hedera-node/infrastructure/docker/containers/production/network-node-base/Dockerfile
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/subprocess/ProcessUtils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/TransactionRecordParityValidator.java
Labels: Release

#16757 fix: 16657: State validation fails for round 191161423 on LSE
  platform-sdk/swirlds-merkle/src/timingSensitive/java/com/swirlds/virtual/merkle/reconnect/BreakableDataSource.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/hash/VirtualHasher.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/AbstractHashListener.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/reconnect/ReconnectNodeRemover.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/hash/VirtualHasherTest.java
Labels: Platform Reconnect, Platform Virtual Map, Platform Data Structures, Platform

#16760 ci: Update slack reporting for XTS failure and CITR build promotion
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: github_actions

#16706 ci: Change from setup-gradle action to ./gradlew command usage
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/node-zxc-compile-application-code.yaml
  .github/workflows/node-zxf-snyk-monitor.yaml
  .github/workflows/zxc-jrs-regression.yaml
  .github/workflows/zxc-verify-docker-build-determinism.yaml
  .github/workflows/zxc-verify-gradle-build-determinism.yaml
Labels: github_actions

#16802 ci: Update panel-config for node-jrs-panel in XTS suite
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxf-dry-run-extended-test-suite.yaml
  hedera-dependency-versions/build.gradle.kts
  hedera-node/hedera-app/src/main/java/module-info.java
Labels: github_actions

#15416 chore: add VERSION file in deterministic container image
  .github/workflows/zxc-verify-docker-build-determinism.yaml
  hedera-node/infrastructure/docker/containers/production-next/consensus-node/Dockerfile
Labels: Feature Enhancement
