Repository hiero-ledger/hiero-consensus-node, pull requests merged in 2024-10, with the labels that each got.

#15363 ci: continuous integration tests and release initial phase 1 changes
  .github/workflows/flow-node-performance-tests.yaml
  .github/workflows/flow-pull-request-formatting.yaml
  .github/workflows/node-flow-deploy-preview.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/node-flow-pull-request-checks.yaml
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/node-zxc-compile-application-code.yaml
  .github/workflows/node-zxc-deploy-preview.yaml
  .github/workflows/node-zxcron-develop-fsts-regression.yaml
  .github/workflows/node-zxcron-release-branching.yaml
  .github/workflows/node-zxcron-release-fsts-regression.yaml
  .github/workflows/node-zxf-snyk-monitor.yaml
  .github/workflows/platform-zxc-launch-jrs-workflow.yaml
  .github/workflows/platform-zxcron-develop-jrs-regression.yaml
  .github/workflows/platform-zxcron-release-jrs-regression.yaml
  .github/workflows/zxc-jrs-regression.yaml
  .github/workflows/zxc-publish-production-image.yaml
  .github/workflows/zxc-verify-docker-build-determinism.yaml
  .github/workflows/zxc-verify-gradle-build-determinism.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: github_actions

#15768 ci: Remove unnecessary check in node-flow-deploy-release-artifact
  .github/workflows/node-flow-deploy-release-artifact.yaml
Labels: github_actions

#15539 feat: Update ConsensusUpdateTopicHandler with new custom fee functionality
  hapi/hedera-protobufs/services/response_code.proto
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/handlers/ConsensusCreateTopicHandler.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/handlers/ConsensusUpdateTopicHandler.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/validators/ConsensusCustomFeesValidator.java
  hedera-node/hedera-consensus-service-impl/src/test/java/com/hedera/node/app/service/consensus/impl/test/handlers/ConsensusUpdateTopicHandlerTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/queries/consensus/HapiGetTopicInfo.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/consensus/HapiTopicUpdate.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip991/TopicCustomFeeBase.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip991/TopicCustomFeeTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip991/TopicCustomFeeUpdateTest.java
Labels: Topic Fees

#15800 chore: Add configuration properties for HIP-904 System Contracts
  hedera-node/configuration/dev/application.properties
  hedera-node/configuration/previewnet/application.properties
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/ContractsConfig.java
Labels: Hedera Smart Contract Service

#15831 fix: Handle non-existent token IDs in token fee schedule updates
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenFeeScheduleUpdateHandler.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/TokenFeeScheduleUpdateHandlerTest.java
Labels: Bug

#15832 fix: Cherry-Pick: Handle non-existent token IDs in token fee schedule updates
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenFeeScheduleUpdateHandler.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/TokenFeeScheduleUpdateHandlerTest.java
Labels: Bug

#15914 fix(container): adds resiliency to the deterministic image entrypoint script
  hedera-node/infrastructure/docker/containers/production-next/consensus-node/Dockerfile
  hedera-node/infrastructure/docker/containers/production-next/consensus-node/entrypoint.sh
Labels: P1, Feature Enhancement

#15909 test: Hip 991 topic fees create tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip991/TopicCustomFeeCreateTest.java
Labels: Test Development, Topic Fees

#15900 fix: Add query handling metrics upload
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/OpWorkflowMetrics.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/HandleWorkflow.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/throttle/DispatchUsageManager.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/query/QueryWorkflowImpl.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/HandleWorkflowTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/metrics/OpWorkflowMetricsTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/throttle/DispatchUsageManagerTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/query/QueryWorkflowImplTest.java
Labels: Bug

#15937 fix: Cherry-Pick (0.54): Airdrop transfer list size validation
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/validators/TokenAirdropValidator.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/TokenAirdropHandlerTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenClaimAirdropTest.java
Labels: Bug

#15928 ci: Move jenkins checks into its own workflow that executes when node-zxc-build-release artifact completes
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/node-zxf-deploy-integration.yaml
Labels: github_actions

#15901 fix: Cherry-Pick: Add query handling metrics upload
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/OpWorkflowMetrics.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/HandleWorkflow.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/throttle/DispatchUsageManager.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/query/QueryWorkflowImpl.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/HandleWorkflowTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/metrics/OpWorkflowMetricsTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/throttle/DispatchUsageManagerTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/query/QueryWorkflowImplTest.java
Labels: Bug

#15956 ci: Add skipped status as possible triggering conclusion
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: github_actions

#15957 ci: ensure prepare xts branch launches when node deploy production build finishes
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: github_actions

#15960 fix: 15959: Add more logging for 12311
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/DataFileReader.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/DataFileWriter.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/hashmap/Bucket.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/hashmap/HalfDiskHashMap.java
Labels: Platform Data Structures, Platform, Stability

#15965 ci: Checkout the code with GH_ACCESS_TOKEN and persist the credentials
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: github_actions

#15967 ci: Updated XTS job to check statuses and added gpg key to prepare XTS
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: github_actions

#15968 ci: Update tag scheme in prepare XTS flow
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: github_actions

#15970 ci: Add message parameter to forced tag step
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: github_actions

#15974 ci: Fix issue with zxf prepare extended test suite
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: github_actions

#15943 fix: ensure configuration loading and name resolution is resilient
  example-apps/swirlds-platform-base-example/src/main/java/com/swirlds/platform/base/example/ext/BaseContextFactory.java
  gradle/plugins/src/main/kotlin/com.hedera.gradle.java.gradle.kts
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/config/ConfigProviderBase.java
  hedera-node/infrastructure/docker/containers/production-next/consensus-node/entrypoint.sh
  platform-sdk/swirlds-base/build.gradle.kts
  platform-sdk/swirlds-base/src/main/java/com/swirlds/base/utility/FileSystemUtils.java
  platform-sdk/swirlds-base/src/main/java/com/swirlds/base/utility/NetworkUtils.java
  platform-sdk/swirlds-base/src/main/java/com/swirlds/base/utility/Retry.java
  platform-sdk/swirlds-base/src/test/java/com/swirlds/base/utility/FileSystemUtilsTest.java
  platform-sdk/swirlds-base/src/test/java/com/swirlds/base/utility/NetworkUtilsTest.java
  platform-sdk/swirlds-base/src/test/java/com/swirlds/base/utility/RetryTest.java
  platform-sdk/swirlds-config-extensions/src/main/java/com/swirlds/config/extensions/sources/AbstractFileConfigSource.java
  platform-sdk/swirlds-config-impl/build.gradle.kts
  platform-sdk/swirlds-config-impl/src/jmh/java/com/swirlds/config/benchmark/ConfigBenchmark.java
  platform-sdk/swirlds-logging/src/main/java/com/swirlds/logging/api/internal/DefaultLoggingSystem.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/config/legacy/LegacyConfigPropertiesLoader.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/address/AddressBookUtils.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/config/legacy/LegacyConfigPropertiesLoaderTest.java
Labels: P1, Bug

#15995 fix: 15994: Need more logging in AbstractHashListener
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/AbstractHashListener.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/FullLeafRehashHashListener.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNode.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/reconnect/ReconnectHashListener.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/reconnect/ReconnectHashListenerTest.java
Labels: Platform Reconnect, Platform Data Structures, Platform, Observability

#15265 chore: Fix compiler warnings in token service
  hedera-node/hedera-token-service-impl/build.gradle.kts
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenDissociateFromAccountHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/module-info.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/staking/StakeRewardCalculatorImplTest.java
  hedera-node/hedera-token-service/build.gradle.kts
  hedera-node/hedera-token-service/src/main/java/module-info.java
Labels: HapiThursday

#15522 test: add block contents validator
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/BlockContentsValidator.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/streams/StreamValidationOp.java
Labels: Block Streams

#15927 fix: update the Schema class import statement
  platform-sdk/swirlds-state-api/src/main/java/com/swirlds/state/spi/ReadableKVState.java
Labels: Good First Issue, hacktoberfest

#16045 chore: cherry-pick, do not update file 102 during the first transaction after a freeze upgrade when DAB is disabled
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/record/SystemSetup.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/steps/SystemSetupTest.java
Labels: Dynamic Address Book

#16050 chore: cherry-pick, Do not update file 102 during the first transaction after a freeze upgrade when DAB is disabled
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/record/SystemSetup.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/steps/SystemSetupTest.java
Labels: Dynamic Address Book

#16036 ci: Updating workflow permissions as per step-security recommendations.
  .github/workflows/node-zxcron-release-fsts-regression.yaml
  .github/workflows/node-zxf-deploy-integration.yaml
  .github/workflows/platform-zxc-launch-jrs-workflow.yaml
  .github/workflows/platform-zxcron-release-jrs-regression.yaml
Labels: github_actions

#15971 ci: Enable build promotion tagging and XTS completion
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/node-zxf-deploy-integration.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: github_actions

#15435 docs: Provide Design document for HIP-904 System Contracts flows
  hedera-node/docs/design/services/smart-contract-service/frictionless-airdrops-system-contracts.md
Labels: Hedera Smart Contract Service

#15136 feat: HIP-1028 Implement Create and Update calls with metadata
  hedera-node/configuration/dev/application.properties
  hedera-node/configuration/previewnet/application.properties
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/contracts/ParsingConstants.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/ContractsConfig.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/processors/CustomMessageCallProcessor.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hts/ReturnTypes.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hts/create/ClassicCreatesCall.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hts/create/CreateDecoder.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hts/create/CreateDecoderFunction.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hts/create/CreateSyntheticTxnFactory.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hts/create/CreateTranslator.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hts/tokenkey/TokenKeyTranslator.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hts/update/UpdateDecoder.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hts/update/UpdateDecoderFunction.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hts/update/UpdateTranslator.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/utils/TokenCreateWrapper.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/utils/TokenKeyWrapper.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hts/create/ClassicCreatesCallTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hts/create/CreateDecoderTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hts/create/CreateTestHelper.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hts/create/CreateTranslatorTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hts/tokenkey/TokenKeyTranslatorTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hts/update/UpdateDecoderTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hts/update/UpdateTranslatorTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/dsl/operations/transactions/AuthorizeContractOperation.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/dsl/operations/transactions/CallContractOperation.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/token/GetTokenKeyPrecompileTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/token/TokenMetadataTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/utils/contracts/precompile/HTSPrecompileResult.java
  hedera-node/test-clients/src/main/resources/contract/contracts/CreateTokenVTwo/CreateTokenVTwo.bin
  hedera-node/test-clients/src/main/resources/contract/contracts/CreateTokenVTwo/CreateTokenVTwo.json
  hedera-node/test-clients/src/main/resources/contract/contracts/CreateTokenVTwo/CreateTokenVTwo.sol
Labels: Limechain

#16140 ci: Add logic to only delete xts-candidate tag if it already exists
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: github_actions

#16154 ci: Fix ZXCron Promote Build Candidate Checkout Tagged Code step
  .github/workflows/zxcron-promote-build-candidate.yaml
Labels: github_actions

#16159 ci: Fix bug with deleting xts-candidate tag prior to creation or use
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: Bug, github_actions

#16175 ci: Fix cron jobs to use github token for gh cli calls and specify java version
  .github/workflows/flow-artifact-determinism.yaml
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-adhoc-artifact.yaml
  .github/workflows/node-flow-fsts-custom-regression.yaml
  .github/workflows/node-flow-pull-request-checks.yaml
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/node-zxc-compile-application-code.yaml
  .github/workflows/platform-pull-request-extended-checks.yaml
  .github/workflows/zxc-verify-docker-build-determinism.yaml
  .github/workflows/zxc-verify-gradle-build-determinism.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
Labels: github_actions

#16188 ci: disable release 0.53 regression
  .github/workflows/node-zxcron-release-fsts-regression.yaml
  .github/workflows/platform-zxcron-release-jrs-regression.yaml
Labels: Feature Enhancement

#16213 ci: Update github token permissions
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: github_actions

#16211 fix: resolve issues with isLocal flakiness due to DNS resolution
  hedera-node/infrastructure/docker/containers/production-next/consensus-node/Dockerfile
  hedera-node/infrastructure/docker/containers/production-next/consensus-node/entrypoint.sh
  platform-sdk/swirlds-base/src/main/java/com/swirlds/base/utility/NetworkUtils.java
  platform-sdk/swirlds-base/src/main/java/com/swirlds/base/utility/Retry.java
  platform-sdk/swirlds-base/src/main/java/com/swirlds/base/utility/ThrowableFunction.java
  platform-sdk/swirlds-base/src/test/java/com/swirlds/base/utility/NetworkUtilsTest.java
  platform-sdk/swirlds-base/src/test/java/com/swirlds/base/utility/RetryTest.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/address/AddressBookNetworkUtils.java
Labels: P1, Bug

#16215 ci: Updating workflow to skip codacy checks on forked PRs.
  .github/workflows/node-zxc-compile-application-code.yaml
Labels: github_actions

#16330 ci: Update the XTS workflows to prevent double tagging on commits
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: github_actions

#15541 feat: Implement gRPC publishBlockStream streaming of blocks
  gradle/plugins/src/main/kotlin/com.hedera.gradle.jpms-modules.gradle.kts
  hapi/src/main/java/module-info.java
  hedera-dependency-versions/build.gradle.kts
  hedera-node/hedera-app/build.gradle.kts
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/BlockItemWriter.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/BlockStreamModule.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/BlockStreamManagerImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/GrpcBlockItemWriter.java
  hedera-node/hedera-app/src/main/java/module-info.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/impl/GrpcBlockItemWriterTest.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/BlockStreamConfig.java
Labels: Block Streams
