Repository hiero-ledger/hiero-consensus-node, pull requests merged in 2025-09, with the labels that each got.

#20912 ci: Enable AdHocSD runners for Single Day Performance and Longevity Tests
  .github/workflows/zxc-single-day-longevity-nlg-test.yaml
  .github/workflows/zxc-single-day-performance-test.yaml
  .github/workflows/zxf-single-day-longevity-test-controller-adhoc.yaml
  .github/workflows/zxf-single-day-performance-test-controller-adhoc.yaml
Labels: github_actions

#20752 ci: Add json-rpc-relay-regression workflow and add it to the XTS test suite
  .github/workflows/zxc-json-rpc-relay-regression.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxf-dry-run-extended-test-suite.yaml
Labels: github_actions

#20931 ci: add missing secret to mirror node regression workflow call
  .github/workflows/zxf-dry-run-extended-test-suite.yaml
Labels: github_actions

#20914 chore: state validator keeps all read entities in memory, exhausts the Java heap
  hedera-state-validator/src/main/java/com/hedera/statevalidation/validators/servicesstate/TokenRelationsIntegrity.java
  hedera-state-validator/src/main/java/module-info.java
Labels: Performance, Hedera State Validator

#20955 ci(fix): Fix bug - SDPT/SDLT fail to create rootly incidents/alerts
  .github/workflows/zxc-single-day-longevity-nlg-test.yaml
  .github/workflows/zxc-single-day-performance-test.yaml
  .github/workflows/zxf-single-day-longevity-test-controller-adhoc.yaml
  .github/workflows/zxf-single-day-longevity-test-controller.yaml
  .github/workflows/zxf-single-day-performance-test-controller-adhoc.yaml
  .github/workflows/zxf-single-day-performance-test-controller.yaml
Labels: Bug, github_actions

#20959 chore: cherry pick required citr changes
  .github/workflows/flow-generate-release-notes.yaml
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/support/scripts/process_json_release_notes.py
  .github/workflows/zxc-execute-performance-test.yaml
  .github/workflows/zxc-single-day-longevity-nlg-test.yaml
  .github/workflows/zxc-single-day-performance-test.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
  .github/workflows/zxf-single-day-canonical-test.yaml
  .github/workflows/zxf-single-day-longevity-test-controller-adhoc.yaml
  .github/workflows/zxf-single-day-longevity-test-controller.yaml
  .github/workflows/zxf-single-day-performance-test-controller-adhoc.yaml
  .github/workflows/zxf-single-day-performance-test-controller.yaml
Labels: github_actions

#20976 ci(fix): Add missing secrets to XTS Dry Run workflow
  .github/workflows/zxf-dry-run-extended-test-suite.yaml
Labels: github_actions

#21071 chore(ci): Bump version to 0.66.0-SNAPSHOT
  version.txt
Labels: Release

#21055 chore: Update incident_types
  .github/workflows/zxc-single-day-longevity-nlg-test.yaml
  .github/workflows/zxc-single-day-performance-test.yaml
  .github/workflows/zxf-single-day-canonical-test.yaml
Labels: github_actions

#20875 chore: rename all instances of longevity-nlg-test to longevity-test
  .github/workflows/zxc-single-day-longevity-test.yaml
  .github/workflows/zxf-single-day-longevity-test-controller-adhoc.yaml
  .github/workflows/zxf-single-day-longevity-test-controller.yaml
Labels: github_actions

#21091 ci(fix): Fix bug with control characters being interpreted in json output
  .github/workflows/zxcron-extended-test-suite.yaml
Labels: github_actions

#21139 ci(fix): Solo version mismatch causing errors in regression panels
  .github/workflows/zxc-single-day-longevity-test.yaml
  .github/workflows/zxc-single-day-performance-test.yaml
  .github/workflows/zxc-tck-regression.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxf-dry-run-extended-test-suite.yaml
Labels: github_actions

#21141 ci(fix): Add granularity to failure-modes in zxc-compile-application
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-zxc-compile-application-code.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
Labels: github_actions

#21149 ci: rename release workflows
  .github/workflows/flow-increment-next-main-release.yaml
  .github/workflows/flow-trigger-release.yaml
Labels: github_actions

#21218 fix: compaction is not properly interrupted upon closing MerkleDbDataSource
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/MerkleDbCompactionCoordinator.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/DataFileCompactor.java
Labels: Platform Virtual Map

#21222 ci: Add input `enable-promotion` to XTS workflow
  .github/workflows/zxcron-extended-test-suite.yaml
Labels: github_actions

#21101 chore(cherry pick): add CI-related PRs to release 0.66 branch
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/node-zxc-compile-application-code.yaml
  .github/workflows/zxc-single-day-longevity-test.yaml
  .github/workflows/zxc-single-day-performance-test.yaml
  .github/workflows/zxc-tck-regression.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-dry-run-extended-test-suite.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
  .github/workflows/zxf-single-day-canonical-test.yaml
  .github/workflows/zxf-single-day-longevity-test-controller-adhoc.yaml
  .github/workflows/zxf-single-day-longevity-test-controller.yaml
  .github/workflows/zxf-single-day-performance-test-controller-adhoc.yaml
  .github/workflows/zxf-single-day-performance-test-controller.yaml
Labels: github_actions

#21245 chore(cherry-pick): additional CI changes for 0.66 release
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/zxc-single-day-performance-test.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
Labels: github_actions

#21257 ci(main): Split CITR eXtended Test Suite into component parts
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxf-dry-run-extended-test-suite.yaml
Labels: github_actions
