Repository hiero-ledger/hiero-consensus-node, pull requests merged in 2025-04, with the labels that each got.

#18503 chore: 13214 custom fee assessor v3
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/transfer/CustomFeeAssessmentStepTest.java
Labels: Test Development

#18596 chore: update new git-semver version
  .github/workflows/flow-trigger-release.yaml
Labels: github_actions

#18592 fix: 18571: Current path range should be respected when path to hash and path to KV indices are restored
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/MerkleDbDataSource.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/MerkleDbDataSourceTest.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#18603 chore: replace action with a step-security maintained version
  .github/workflows/zxc-jrs-regression.yaml
Labels: Audit, github_actions

#18659 fix: memory leak in HalfDiskHashMap.endWriting()
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/hashmap/HalfDiskHashMap.java
Labels: Performance

#18669 chore: update codeowners with new team names
  .github/CODEOWNERS
Labels: github_actions

#18677 chore: Remove XTS tests from PR checks
  .github/workflows/node-flow-pull-request-checks.yaml
  docs/continuous-integration-testing-overview.md
Labels: github_actions

#18683 chore: Update reporting to include commits in releases
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
Labels: github_actions

#18687 fix: Add guard around LATEST_XTS_PASS_TAG
  .github/workflows/zxcron-extended-test-suite.yaml
Labels: Bug, github_actions

#18689 chore: Fix commit list output for XTS and REPORT BUILD PROMOTION
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
Labels: github_actions

#18691 ci: Fix XTS and build promotion slack reporting
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
Labels: github_actions

#18693 ci: Add Workflow Run URL to slack output in promote build candidate
  .github/workflows/zxcron-promote-build-candidate.yaml
Labels: github_actions

#18611 feat: Use existing key to create an account
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/accounts/CreateCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/CreateSuite.java
  hedera-node/test-clients/yahcli/README.md
  hedera-node/test-clients/yahcli/run/build.sh
  hedera-node/test-clients/yahcli/run/publish.sh
Labels: Yahcli

#18625 feat: 18593: Need a mechanism to repair key to path mapping from data files at startup
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/MerkleDb.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/MerkleDbDataSource.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/config/MerkleDbConfig.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/hashmap/HalfDiskHashMap.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/hashmap/ParsedBucket.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/files/hashmap/HalfDiskHashMapTest.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/MerkleDbDataSourceTest.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/MerkleDbTest.java
Labels: Platform Virtual Map, Platform Data Structures, Platform, Stability

#18736 fix: 18720: Backport the fix for 18571 to release 0.61
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/MerkleDbDataSource.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/MerkleDbDataSourceTest.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#18706 chore: Update CODEOWNERS for tools-and-libs rename
  .github/CODEOWNERS
Labels: Audit

#18708 fix: 18658: ReconnectNodeRemover.setPathInformation() may cause OOM
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/hash/VirtualHashListener.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/hash/VirtualHasher.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/AbstractHashListener.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/FullLeafRehashHashListener.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNode.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/reconnect/ReconnectHashLeafFlusher.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/reconnect/ReconnectHashListener.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/reconnect/ReconnectNodeRemover.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/reconnect/ReconnectHashLeafFlusherTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/reconnect/ReconnectHashListenerTest.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/hash/VirtualHasherTest.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/reconnect/VirtualMapReconnectTestBase.java
Labels: Platform Reconnect, Platform, Stability, Scalability

#18790 fix: Update flow-pull-request-formatting.yaml
  .github/workflows/flow-pull-request-formatting.yaml
Labels: dependencies

#18785 chore: Simplified implementation of TransactionGenerator
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundMigrationTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/HappyPathTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/SandboxTest.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/module-info.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/TransactionGenerator.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/internal/Distributor.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/internal/FixedRate.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/internal/UniformDistributor.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNetwork.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleTransactionGenerator.java
Labels: Tech Debt Reduced

#18796 fix: 18795: HDHM repair mechanism can be improved to clean stale buckets
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/hashmap/HalfDiskHashMap.java
Labels: Platform Virtual Map, Platform Data Structures, Platform, Stability

#17864 test: solder test input wire for TurleTests to StateSignatureCollector output wire
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNode.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/PlatformWiring.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/turtle/consensus/ConsensusRoundsTestCollector.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/turtle/consensus/DefaultConsensusRoundsTestCollector.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/turtle/runner/Turtle.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/turtle/runner/TurtleNode.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/turtle/signedstate/DefaultSignedStatesTestCollector.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/turtle/signedstate/SignedStatesTestCollector.java
Labels: Test Development, Platform

#18814 fix: 18813: VirtualMapLargeReconnectTest.multipleAbortedReconnectsCanSucceed is unstable
  platform-sdk/swirlds-merkle/src/timingSensitive/java/com/swirlds/virtual/merkle/reconnect/BreakableDataSource.java
  platform-sdk/swirlds-merkle/src/timingSensitive/java/com/swirlds/virtual/merkle/reconnect/BrokenBuilder.java
  platform-sdk/swirlds-merkle/src/timingSensitive/java/com/swirlds/virtual/merkle/reconnect/VirtualMapReconnectTestBase.java
Labels: Test Development, Platform Reconnect, Platform Virtual Map, Platform Data Structures, Platform, Stability

#18825 ci: Update slack channel for XTS failures
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
Labels: github_actions

#18847 chore: revert adding input wire for collecting reserved signed states to fix Turtle tests
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNode.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/PlatformWiring.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/turtle/consensus/ConsensusRoundsHolder.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/turtle/consensus/ConsensusRoundsListContainer.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/turtle/runner/Turtle.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/turtle/runner/TurtleNode.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/turtle/signedstate/DefaultSignedStatesTestCollector.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/turtle/signedstate/SignedStatesTestCollector.java
Labels: Test Development, Platform

#18857 fix: 18856: ReconnectHashLeafFlusher uses a wrong config
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNode.java
Labels: Platform Reconnect, Platform

#18859 fix: 18844: HDHM repair mechanism should not be enabled for snapshots
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/MerkleDb.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/MerkleDbDataSource.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#18743 feat: decouple backend throttle config from front end and add support for burst
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/throttles/LeakyBucketDeterministicThrottle.java
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/throttles/LeakyBucketThrottle.java
  hedera-node/hapi-utils/src/test/java/com/hedera/node/app/hapi/utils/throttles/LeakyBucketDeterministicThrottleTest.java
  hedera-node/hapi-utils/src/test/java/com/hedera/node/app/hapi/utils/throttles/LeakyBucketThrottleTest.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/throttle/ThrottleAccumulator.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/throttle/ThrottleAccumulatorTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/throttle/impl/NetworkUtilizationManagerImplTest.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/ContractsConfig.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableHip423Tests.java
Labels: Hedera Smart Contract Service

#18906 fix: 18903: Tighten HDHM repair checks
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/hashmap/HalfDiskHashMap.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/files/hashmap/HalfDiskHashMapTest.java
Labels: Platform Virtual Map, Platform Data Structures, Platform, Stability

#18799 fix: 18771: Backport fixes for 18593, 18795, 18844, and 18903 to release 0.61
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/MerkleDb.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/MerkleDbDataSource.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/config/MerkleDbConfig.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/hashmap/HalfDiskHashMap.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/hashmap/ParsedBucket.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/files/hashmap/HalfDiskHashMapTest.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/MerkleDbDataSourceTest.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/MerkleDbTest.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#18618 test: display branched events inside HashgraphGui
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gui/BranchedEventMetadata.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gui/GuiEventStorage.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gui/hashgraph/HashgraphPictureOptions.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gui/hashgraph/internal/EventSelector.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gui/hashgraph/internal/GenerationCoordinates.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gui/hashgraph/internal/HashgraphGuiControls.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gui/hashgraph/internal/HashgraphPicture.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gui/hashgraph/internal/PictureMetadata.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/event/source/ForkingEventSource.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/gui/GeneratorEventProvider.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/gui/HashgraphGui.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/gui/TestGuiSource.java
Labels: Test Development, Platform

#18873 chore: replace crazy-max/ghaction-import-gpg with step-security version
  .github/workflows/node-zxc-build-release-artifact.yaml
Labels: Audit, github_actions

#18967 chore: Generate list of PR checks that can and cannot be run by forked PRs
  .github/workflows/docs/forked_prs.md
  .github/workflows/docs/required_checks.md
Labels: Improvement, github_actions

#18892 refactor: introduce KeyRole enum and refactor role key management in HapiSpecRegistry
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/dsl/utils/KeyMetadata.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/infrastructure/HapiSpecRegistry.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/keys/KeyRole.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/queries/schedule/HapiGetScheduleInfo.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/queries/token/HapiGetTokenInfo.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/contract/HapiContractUpdate.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/schedule/HapiScheduleCreate.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/HapiTokenBurn.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/HapiTokenCreate.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/HapiTokenDelete.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/HapiTokenFeeScheduleUpdate.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/HapiTokenFreeze.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/HapiTokenKycGrant.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/HapiTokenKycRevoke.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/HapiTokenMint.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/HapiTokenPause.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/HapiTokenUnfreeze.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/HapiTokenUnpause.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/HapiTokenUpdate.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/HapiTokenUpdateNfts.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/token/HapiTokenWipe.java
Labels: HapiThursday
