Repository hiero-ledger/hiero-consensus-node, pull requests merged in 2025-01, with the labels that each got.

#17181 feat: support universal fallback for throttles.json genesis loading
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/BootstrapConfig.java
  hedera-node/hedera-file-service-impl/src/main/java/com/hedera/node/app/service/file/impl/schemas/V0490FileSchema.java
Labels: New Feature, P0

#17235 chore: Cherry pick fixes for update of default branch to main (#17200)
  .github/workflows/flow-artifact-determinism.yaml
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/node-zxcron-main-fsts-regression.yaml
  .github/workflows/node-zxf-snyk-monitor.yaml
  .github/workflows/platform-zxcron-main-jrs-regression.yaml
  .github/workflows/zxc-jrs-regression.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-collect-workflow-logs.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
  docs/branch-naming-conventions.md
  docs/continuous-integration-testing-overview.md
  docs/glossary.md
  docs/maintainers-guide.md
  hedera-node/docs/design/app/workflows.md
  hedera-node/docs/design/services/smart-contract-service/cancun-fork-support.md
  hedera-node/docs/design/services/smart-contract-service/contract-accounts-nonces.md
  hedera-node/docs/dev/JRS-GettingStarted.md
  platform-sdk/README.md
  platform-sdk/description.txt
  platform-sdk/docs/core/address-book-management.md
  platform-sdk/docs/core/wiring-diagram.svg
  platform-sdk/docs/proposals/README.md
  platform-sdk/docs/proposals/metric-labels/README.md
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/wiring/model/diagram/HyperlinkBuilder.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/cli/JrsTestReaderReportCommand.java
Labels: Release

#16892 test: Token bulk operations and fees tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/BulkOperationsBase.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/TokenServiceFeesSuite.java
Labels: HapiThursday

#17237 fix: 17218: Learner: ERROR "NullPointerException: Cannot invoke "com.swirlds.virtualmap.internal.cache.VirtualNodeCache$Mutation.isDeleted()"
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCache.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNode.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNodeTest.java
Labels: Bug, Regression, Platform Virtual Map, Platform Data Structures, Platform

#12112 feat: node starts without checking internal hostname
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/ServicesMain.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/info/DiskStartupNetworks.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/ServicesMainTest.java
  hedera-node/infrastructure/docker/containers/production-next/consensus-node/Dockerfile
  hedera-node/infrastructure/docker/containers/production-next/consensus-node/entrypoint.sh
  hedera-node/infrastructure/docker/containers/production/jrs-ar-network-node/Dockerfile
  hedera-node/infrastructure/docker/containers/production/jrs-ar-network-node/entrypoint.sh
  hedera-node/infrastructure/docker/containers/production/jrs-network-node/Dockerfile
  hedera-node/infrastructure/docker/containers/production/jrs-network-node/entrypoint.sh
  hedera-node/infrastructure/docker/containers/production/main-network-node/Dockerfile
  hedera-node/infrastructure/docker/containers/production/main-network-node/entrypoint.sh
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/platform/NodeIdConverter.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/Browser.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/builder/PlatformBuilder.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/config/BasicConfig.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/config/PlatformConfigurationExtension.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/crypto/CryptoStatic.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/crypto/EnhancedKeyStoreLoader.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gossip/config/NetworkEndpointConverter.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gui/SwirldsGui.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/recovery/internal/RecoveryPlatform.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/address/AddressBookNetworkUtils.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/address/Address.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/util/BootstrapUtils.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/crypto/CryptoArgsProvider.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/crypto/EnhancedKeyStoreLoaderTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/roster/RosterUtilsTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/util/AddressBookNetworkUtilsTests.java
Labels: Feature Enhancement, P0

#17254 perf: improve BlockStreamManagerImpl
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/BlockStreamManagerImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/FileBlockItemWriter.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/impl/BlockStreamManagerImplTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/impl/FileBlockItemWriterTest.java
Labels: Performance

#16844 feat: add Bytes support for transaction iteration in ConsensusEvent and its ancestors
  platform-sdk/platform-apps/tests/ISSTestingTool/build.gradle.kts
  platform-sdk/platform-apps/tests/ISSTestingTool/src/main/java/com/swirlds/demo/iss/ISSTestingToolMain.java
  platform-sdk/platform-apps/tests/ISSTestingTool/src/main/java/com/swirlds/demo/iss/ISSTestingToolState.java
  platform-sdk/platform-apps/tests/ISSTestingTool/src/test/java/com/swirlds/demo/iss/ISSTestingToolStateTest.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/SwirldMain.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/transaction/Transaction.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/transaction/TransactionWrapper.java
Labels: Platform

#17197 refactor: adapt AddressBookTestingTool to support transaction Bytes
  platform-sdk/platform-apps/tests/AddressBookTestingTool/build.gradle.kts
  platform-sdk/platform-apps/tests/AddressBookTestingTool/src/main/java/com/swirlds/demo/addressbook/AddressBookTestingToolMain.java
  platform-sdk/platform-apps/tests/AddressBookTestingTool/src/main/java/com/swirlds/demo/addressbook/AddressBookTestingToolState.java
  platform-sdk/platform-apps/tests/AddressBookTestingTool/src/test/java/com/swirlds/demo/addressbook/AddressBookTestingToolStateTest.java
Labels: Platform

#17296 fix: 17283: Backport the fix for #17218 to release 0.58
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCache.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNodeTest.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#17351 chore: Remove TssKeys from CryptoStatic
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/crypto/CryptoStatic.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/crypto/KeysAndCerts.java
  platform-sdk/swirlds-platform-core/src/main/java/module-info.java
Labels: Platform

#17225 feat: adapt StressTestingTool to work with Bytes representation of a transaction
  platform-sdk/platform-apps/tests/StressTestingTool/build.gradle.kts
  platform-sdk/platform-apps/tests/StressTestingTool/src/main/java/com/swirlds/demo/stress/StressTestingToolMain.java
  platform-sdk/platform-apps/tests/StressTestingTool/src/main/java/com/swirlds/demo/stress/StressTestingToolState.java
  platform-sdk/platform-apps/tests/StressTestingTool/src/main/java/com/swirlds/demo/stress/TransactionPool.java
  platform-sdk/platform-apps/tests/StressTestingTool/src/test/java/com/swirlds/demo/stress/StressTestingToolStateTest.java
Labels: Platform

#17381 chore: Update codeowners/docs to include platform-ci name change
  .github/CODEOWNERS
  docs/maintainers-guide.md
Labels: Audit

#17144 refactor: adapt StatsSigningTestingTool to work with Bytes wrapper for transactions
  platform-sdk/platform-apps/tests/StatsSigningTestingTool/build.gradle.kts
  platform-sdk/platform-apps/tests/StatsSigningTestingTool/src/main/java/com/swirlds/demo/stats/signing/StatsSigningTestingToolMain.java
  platform-sdk/platform-apps/tests/StatsSigningTestingTool/src/main/java/com/swirlds/demo/stats/signing/StatsSigningTestingToolStateLifecycles.java
  platform-sdk/platform-apps/tests/StatsSigningTestingTool/src/main/java/com/swirlds/demo/stats/signing/SttTransactionPool.java
  platform-sdk/platform-apps/tests/StatsSigningTestingTool/src/main/java/com/swirlds/demo/stats/signing/TransactionCodec.java
  platform-sdk/platform-apps/tests/StatsSigningTestingTool/src/test/java/com/swirlds/demo/stats/signing/StatsSigningTestingToolStateTest.java
Labels: Platform

#15509 docs: System contract ABI guidelines document
  hedera-node/docs/design/services/smart-contract-service/system-contract-abi-guidelines.md
Labels: Hedera Smart Contract Service

#15514 docs: Update consensus-service design doc
  hedera-node/docs/design/services/consensus-service/consensus-service.md
  hedera-node/docs/design/services/consensus-service/topic-custom-fees.md
Labels: Topic Fees

#17401 feat: add a new service template
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/services_template.yml
Labels: Base Config

#17327 docs: Updated documentation to incorporate CITR & Semantic Release
  docs/README.md
  docs/continuous-release.md
  docs/maintainers-guide.md
Labels: Release

#17227 ci: Add pre-commit yaml configuration
  .pre-commit-config.yaml
Labels: DevOps

#15603 feat: Update ConsensusSubmitMessageHandler with new custom fee functionality
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/handlers/ConsensusSubmitMessageHandler.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/handlers/customfee/ConsensusCustomFeeAssessor.java
  hedera-node/hedera-consensus-service-impl/src/main/java/module-info.java
  hedera-node/hedera-consensus-service-impl/src/test/java/com/hedera/node/app/service/consensus/impl/test/handlers/ConsensusSubmitMessageHandlerTest.java
  hedera-node/hedera-consensus-service-impl/src/test/java/com/hedera/node/app/service/consensus/impl/test/handlers/ConsensusTestBase.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip991/TopicCustomFeeBase.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip991/TopicCustomFeeSubmitMessageTest.java
Labels: Topic Fees

#17085 test: Hip 991 submit message additional tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip991/TopicCustomFeeSubmitMessageTest.java
Labels: Topic Fees

#17022 test: Add message submit tests 129-145
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/handlers/ConsensusSubmitMessageHandler.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip991/TopicCustomFeeBase.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip991/TopicCustomFeeSubmitMessageTest.java
Labels: Test Development, Topic Fees

#17185 test: Hip 991 submit message last tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip991/TopicCustomFeeSubmitMessageTest.java
Labels: Topic Fees

#17407 feat: Add fee for topic with custom fee creation
  hapi/hedera-protobufs/services/basic_types.proto
  hedera-node/configuration/mainnet/upgrade/feeSchedules.json
  hedera-node/configuration/previewnet/upgrade/feeSchedules.json
  hedera-node/configuration/testnet/upgrade/feeSchedules.json
  hedera-node/hapi-fees/src/main/resources/canonical-prices.json
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/CommonPbjConverters.java
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/fee/ConsensusServiceFeeBuilder.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/handlers/ConsensusCreateTopicHandler.java
  hedera-node/hedera-file-service-impl/src/main/resources/genesis/feeSchedules.json
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/consensus/HapiTopicCreate.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/ConsensusServiceFeesSuite.java
Labels: Topic Fees

#17184 test: HIP-991 submit message neg tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip991/TopicCustomFeeBase.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip991/TopicCustomFeeSubmitMessageTest.java
Labels: Topic Fees

#17475 fix: 17219: WARN EXCEPTION "virtual-map: cache-cleaner StandardFuture: Future has already been cancelled"
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/cache/ConcurrentArray.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCache.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#17473 fix: 17467: Back out changes for 15448 from release 0.58
  platform-sdk/swirlds-benchmarks/src/jmh/java/com/swirlds/benchmark/VirtualMapBench.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/VirtualMapSerializationTests.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCache.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNode.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/pipeline/VirtualPipeline.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/pipeline/VirtualRoot.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCacheTest.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNodeTest.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/pipeline/DummyVirtualRoot.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/pipeline/NoOpVirtualRoot.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/pipeline/VirtualPipelineTests.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#17511 fix(ci): Add conditionals on Write Artifact Version Descriptor
  .github/workflows/zxc-verify-docker-build-determinism.yaml
Labels: github_actions

#17518 docs(release): Update release process documentation
  docs/assets/release-flow-with-release-branch.png
  docs/continuous-release.md
Labels: Release

#17437 perf: `MerkleHashBuilder` does not scale
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/BlockStreamManagerImpl.java
  hedera-node/hedera-app/src/main/java/module-info.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/concurrent/AbstractTask.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/merkle/crypto/MerkleCryptographyFactory.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/merkle/crypto/internal/MerkleCryptoEngine.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/merkle/hash/FutureMerkleHash.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/merkle/hash/MerkleHashBuilder.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/schedulers/internal/ConcurrentTask.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/schedulers/internal/SequentialTask.java
  platform-sdk/swirlds-component-framework/src/main/java/module-info.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/hashmap/HalfDiskHashMap.java
  platform-sdk/swirlds-merkledb/src/main/java/module-info.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/config/VirtualMapConfig.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/hash/VirtualHasher.java
  platform-sdk/swirlds-virtualmap/src/main/java/module-info.java
Labels: Performance

#16994 fix: LongList read from file
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/AbstractLongList.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListDisk.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListHeap.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListOffHeap.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/AbstractLongListTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/LongListAdHocTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/LongListDiskTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/LongListHeapTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/LongListOffHeapTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/LongListTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/LongListValidRangeTest.java
  platform-sdk/swirlds-merkledb/src/test/resources/test_data/LongListHalfEmpty_10k_10pc_v1.ll
  platform-sdk/swirlds-merkledb/src/test/resources/test_data/LongList_unsupported_version.ll
Labels: Platform Virtual Map, Platform Data Structures, Platform

#17072 feat: Suppress child records
  hapi/hedera-protobufs/block/stream/output/consensus_service.proto
  hapi/hedera-protobufs/block/stream/output/transaction_output.proto
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/workflows/DispatchOptions.java
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/workflows/HandleContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/BlockItemsTranslator.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/BlockStreamBuilder.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/DispatchHandleContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/dispatch/ChildDispatchFactory.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/steps/UserTxnFactory.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/standalone/impl/StandaloneDispatchFactory.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/DispatchHandleContextTest.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/handlers/ConsensusSubmitMessageHandler.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/records/ConsensusSubmitMessageStreamBuilder.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/api/TokenServiceApiProvider.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/transfer/CustomFeeAssessmentStep.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/transfer/customfees/CustomFeeAssessor.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/transfer/customfees/CustomFixedFeeAssessor.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoTransferHandlerTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/TokenAirdropHandlerTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/transfer/CustomFeeAssessmentStepTest.java
  hedera-node/hedera-token-service/src/main/java/com/hedera/node/app/service/token/records/CryptoTransferStreamBuilder.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/translators/impl/SubmitMessageTranslator.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip991/TopicCustomFeeBase.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip991/TopicCustomFeeSubmitMessageTest.java
Labels: Topic Fees

#17525 refactor: use preferred headlong API when decoding RLP
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/ethereum/EthTxData.java
  hedera-node/hapi-utils/src/test/java/com/hedera/node/app/hapi/utils/ethereum/EthTxDataTest.java
Labels: Hedera Smart Contract Service

#17547 chore: update the production image base OS layer
  hedera-node/infrastructure/docker/containers/production/network-node-base/Dockerfile
Labels: P2, Feature Enhancement

#17406 refactor: system transactions
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/ServicesMain.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/standalone/impl/StandaloneDispatchFactory.java
  platform-sdk/platform-apps/tests/ConsistencyTestingTool/src/main/java/com/swirlds/demo/consistency/ConsistencyTestingToolRound.java
  platform-sdk/platform-apps/tests/ConsistencyTestingTool/src/test/java/com/swirlds/demo/consistency/ConsistencyTestingToolRoundTests.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/Browser.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/builder/ApplicationCallbacks.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/builder/PlatformBuilder.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/cli/DiagramCommand.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/components/consensus/DefaultConsensusEngine.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/components/transaction/TransactionSupplier.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/components/transaction/system/SystemTransactionExtractionUtils.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/PlatformEvent.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/creation/tipset/TipsetEventCreator.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/hashing/PbjStreamHasher.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/resubmitter/DefaultTransactionResubmitter.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/validation/DefaultInternalEventValidator.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/eventhandling/DefaultTransactionHandler.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/eventhandling/DefaultTransactionPrehandler.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/eventhandling/TransactionPrehandler.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/metrics/AddedEventMetrics.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/pool/DefaultTransactionPool.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/pool/TransactionPool.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/pool/TransactionPoolNexus.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/SwirldStateManager.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/TransactionHandler.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/iss/DefaultIssDetector.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/signed/DefaultStateSignatureCollector.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/signed/StateSignatureCollector.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/events/EventMetadata.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/events/UnsignedEvent.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/transaction/Transaction.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/transaction/TransactionWrapper.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/transaction/TransactionWrapperUtils.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/util/TransactionUtils.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/PlatformCoordinator.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/PlatformWiring.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/components/StateAndRound.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/StateFileManagerTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/event/stale/TransactionResubmitterTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/pool/TransactionPoolTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/StateSignatureCollectorTester.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/signed/DefaultStateHasherTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/signed/StateGarbageCollectorTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/system/state/notifications/StateHashedNotificationTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/util/TransactionUtilsTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/wiring/PlatformWiringTests.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/event/RandomEventUtils.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/event/TestingEventBuilder.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/module-info.java
  platform-sdk/swirlds-unit-tests/core/swirlds-platform-test/src/test/java/com/swirlds/platform/test/components/SystemTransactionExtractionUtilsTests.java
  platform-sdk/swirlds-unit-tests/core/swirlds-platform-test/src/test/java/com/swirlds/platform/test/event/tipset/TipsetEventCreatorTests.java
  platform-sdk/swirlds-unit-tests/core/swirlds-platform-test/src/test/java/com/swirlds/platform/test/state/IssDetectorTests.java
Labels: Platform

#17293 feat: Implement ECDSA key support for yahcli accounts create
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/keys/Ed25519Utils.java
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/keys/KeyUtils.java
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/keys/Secp256k1Utils.java
  hedera-node/hapi-utils/src/test/java/com/hedera/node/app/hapi/utils/keys/Ed25519UtilsTest.java
  hedera-node/hapi-utils/src/test/java/com/hedera/node/app/hapi/utils/keys/KeyUtilsTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/StreamFileAccess.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/HapiSpecSetup.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/infrastructure/HapiSpecRegistry.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/keys/KeyFactory.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/inventory/NewSpecKey.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/inventory/SpecKeyFromFile.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/Utils.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/accounts/CreateCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/keys/ExtractDetailsCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/keys/NewPemCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/config/ConfigManager.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/CreateSuite.java
  hedera-node/test-clients/yahcli/run/build.sh
  hedera-node/test-clients/yahcli/run/publish.sh
Labels: Yahcli

#17583 ci: Fix Check Integration Job State step to detect properly
  .github/workflows/node-flow-deploy-release-artifact.yaml
Labels: github_actions

#17598 perf: performance regression in `BlockStreamManagerImpl.endRound()`
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/BlockStreamManagerImpl.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/impl/BlockStreamManagerImplTest.java
Labels: Performance

#17623 fix: 17619: Back out changes for 15448 from release 0.59
  platform-sdk/swirlds-benchmarks/src/jmh/java/com/swirlds/benchmark/VirtualMapBench.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/VirtualMapSerializationTests.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCache.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNode.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/pipeline/VirtualPipeline.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/pipeline/VirtualRoot.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCacheTest.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNodeTest.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/pipeline/DummyVirtualRoot.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/pipeline/NoOpVirtualRoot.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/pipeline/VirtualPipelineTests.java
Labels: Platform Virtual Map, Platform Data Structures, Platform
