Repository hiero-ledger/hiero-consensus-node, pull requests merged in 2025-06, with the labels that each got.

#19530 chore: Add error reporting to node-flow-build-application cleanup Hedera Services text in workflows
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/node-zxcron-release-branching.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: github_actions

#19551 fix: Add continue-on-error logic to failure reporting in workflows
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
Labels: github_actions

#19538 chore: Add error reporting to flow-deploy-release-artifact and fixes
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
Labels: github_actions

#19557 fix: 19425: Audit Foundation / Data XTS tests
  platform-sdk/swirlds-merkledb/build.gradle.kts
  platform-sdk/swirlds-merkledb/src/hammer/java/com/swirlds/merkledb/MerkleDbDataSourceHammerTest.java
  platform-sdk/swirlds-merkledb/src/hammer/java/com/swirlds/merkledb/files/DataFileReaderHammerTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/CompactionInterruptTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/DataSourceValidatorTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/MerkleDbCompactionCoordinatorTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/MerkleDbDataSourceSnapshotMergeTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/MerkleDbDataSourceTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/MerkleDbSnapshotTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/MerkleDbTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/MigrationTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/files/CloseFlushTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/files/DataFileCollectionCompactionTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/files/DataFileCollectionTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/files/MemoryIndexDiskKeyValueStoreTest.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/resources/log4j2-test.xml
  platform-sdk/swirlds-virtualmap/build.gradle.kts
  platform-sdk/swirlds-virtualmap/src/hammer/java/com/swirlds/virtualmap/internal/cache/MTModifyTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/VirtualMapHashingTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/VirtualMapLifecycleTests.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/VirtualMapRandomTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/VirtualMapStatisticsTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/VirtualMapTests.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/VirtualMapValidator.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/cache/ConcurrentArrayTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/hash/VirtualHasherHugeTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/hash/VirtualHasherTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/hash/VirtualHasherTestBase.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNodeHashingTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNodeTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/pipeline/DummyVirtualRoot.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/pipeline/NoOpVirtualRoot.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/pipeline/VirtualPipelineTests.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/reconnect/ConcurrentBitSetQueueTests.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/reconnect/ConcurrentBlockingIteratorTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/reconnect/ConcurrentNodeStatusTrackerTests.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/reconnect/RandomVirtualMapReconnectTests.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/reconnect/VirtualMapLargeReconnectTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/reconnect/VirtualMapReconnectTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/reconnect/VirtualMapReconnectTestBase.java
  platform-sdk/swirlds-virtualmap/src/test/resources/virtualRootNode_ver1/rootNode.bin
  platform-sdk/swirlds-virtualmap/src/test/resources/virtualRootNode_ver2/rootNode.bin
Labels: Test Development, Tech Debt Reduced, Platform

#19534 fix: 19459: VirtualHasher: split hashing tasks into leaves and chunks
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/hash/VirtualHasher.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/hash/VirtualHasherHugeTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/hash/VirtualHasherTest.java
Labels: Tech Debt Reduced, Platform Virtual Map, Platform Data Structures, Platform

#19455 chore: mirror pr-19436
  .github/workflows/zxc-tck-regression.yaml
Labels: github_actions

#19639 ci: write workflow to update GS_STATE variable
  .github/workflows/zxf-update-gs-state-variable.yaml
Labels: github_actions

#19645 ci: fix typo in status reporting
  .github/workflows/node-flow-deploy-release-artifact.yaml
Labels: github_actions

#19586 fix: Timing issue on main in flow-build-application
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/node-zxf-deploy-integration.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: Bug, github_actions

#19659 fix: Issue with dry-run-enabled in node-flow-deploy-release-artifact
  .github/workflows/node-flow-deploy-release-artifact.yaml
Labels: Bug, github_actions

#19674 chore: Update failure reporting to go to multiple slack channels
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
Labels: github_actions

#19677 fix: Pass ref to publish-production-image to fix cache keys mismatch
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/zxc-publish-production-image.yaml
Labels: Bug, github_actions

#19693 chore: Remove pager duty alerts for CITR workflows
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
Labels: github_actions

#19747 chore: Update solo to use v0.37.1
  .github/workflows/zxc-tck-regression.yaml
Labels: github_actions

#19777 chore: Added new inputs ref/ref-name to AdHoc workflow
  .github/workflows/node-flow-deploy-adhoc-artifact.yaml
Labels: github_actions

#19778 chore: Update artifact caching to the upload/download-artifact actions
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/zxc-publish-production-image.yaml
Labels: github_actions

#19721 fix: Ignore ID literals for individual input parameters
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/accounts/BalanceCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/accounts/InfoCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/accounts/RekeyCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/accounts/SendCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/accounts/StakeCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/accounts/UpdateCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/files/SysFileDownloadCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/files/SysFileUploadCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/nodes/CreateCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/nodes/DeleteCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/nodes/UpdateCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/schedules/SignCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/system/FreezeUpgradeCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/system/PrepareUpgradeCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/system/TelemetryUpgradeCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/config/ConfigManager.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/Utils.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/util/ParseUtils.java
  hedera-node/test-clients/yahcli/run/build.sh
  hedera-node/test-clients/yahcli/run/publish.sh
Labels: Yahcli

#19812 chore: Revert build: bump org.hiero.gradle.build to 0.4.3
  hiero-dependency-versions/build.gradle.kts
  platform-sdk/base-crypto/src/main/java/module-info.java
  platform-sdk/consensus-otter-tests/build.gradle.kts
  platform-sdk/platform-apps/tests/StatsSigningTestingTool/src/main/java/module-info.java
  platform-sdk/swirlds-common/build.gradle.kts
  settings.gradle.kts
Labels: github_actions

#19828 chore: Add report to TCK Regression Panel to show status in slack
  .github/workflows/zxc-tck-regression.yaml
Labels: github_actions

#19845 chore: Add always condition to reporting job
  .github/workflows/zxc-tck-regression.yaml
Labels: github_actions

#19869 chore: Cherry pick changes that update publishing mech to use central publishing portal (#19567)
  .github/workflows/node-flow-deploy-adhoc-artifact.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/node-zxc-build-release-artifact.yaml
  gradle/aggregation/build.gradle.kts
Labels: github_actions

#19893 ci: fix typo in secret
  .github/workflows/node-zxc-build-release-artifact.yaml
Labels: github_actions

#19894 ci: fix typo in secret
  .github/workflows/node-zxc-build-release-artifact.yaml
Labels: github_actions

#19879 ci: develop workflow for single day performance test in CN
  .github/workflows/zxc-execute-performance-test.yaml
  .github/workflows/zxc-single-day-performance-test.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-dry-run-extended-test-suite.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
  .github/workflows/zxf-single-day-performance-test-controller.yaml
Labels: github_actions

#19896 chore: Fix trigger to zxf-single-day-performance-test-controller
  .github/workflows/zxcron-promote-build-candidate.yaml
Labels: github_actions
