Repository hiero-ledger/hiero-consensus-node, pull requests merged in 2025-02, with the labels that each got.

#17600 ci(chore): Update zxcron-release-branching.yaml to inline archived flow
  .github/workflows/node-zxcron-release-branching.yaml
Labels: github_actions

#17720 fix: 17062: VirtualMap metrics are wrong after reconnect
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/reconnect/RandomVirtualMapReconnectTests.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNode.java
Labels: Platform Reconnect, Platform Virtual Map, Platform Data Structures, Platform, Observability

#17719 fix: 17713: Back out changes for 15448 from release 0.60
  platform-sdk/swirlds-benchmarks/src/jmh/java/com/swirlds/benchmark/VirtualMapBench.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/VirtualMapSerializationTests.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCache.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNode.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/pipeline/VirtualPipeline.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/pipeline/VirtualRoot.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCacheTest.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNodeTest.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/pipeline/DummyVirtualRoot.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/pipeline/NoOpVirtualRoot.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/pipeline/VirtualPipelineTests.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#17612 fix: register systemTransactionEncoderCallback on missing places
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/ServicesMain.java
  platform-sdk/platform-apps/demos/CryptocurrencyDemo/src/main/java/com/swirlds/demo/crypto/CryptocurrencyDemoMain.java
  platform-sdk/platform-apps/demos/CryptocurrencyDemo/src/main/java/com/swirlds/demo/crypto/CryptocurrencyDemoStateLifecycles.java
  platform-sdk/platform-apps/demos/CryptocurrencyDemo/src/main/java/module-info.java
  platform-sdk/platform-apps/demos/HelloSwirldDemo/src/main/java/com/swirlds/demo/hello/HelloSwirldDemoMain.java
  platform-sdk/platform-apps/demos/HelloSwirldDemo/src/main/java/com/swirlds/demo/hello/HelloSwirldDemoStateLifecycles.java
  platform-sdk/platform-apps/demos/HelloSwirldDemo/src/main/java/module-info.java
  platform-sdk/platform-apps/demos/StatsDemo/src/main/java/com/swirlds/demo/stats/StatsDemoMain.java
  platform-sdk/platform-apps/demos/StatsDemo/src/main/java/module-info.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/builder/ApplicationCallbacks.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/SwirldMain.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/turtle/runner/TurtleNode.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/turtle/runner/TurtleTests.java
Labels: Bug, Platform

#17740 fix: solder missing wire for state signature collecting
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/PlatformWiring.java
Labels: Bug, Platform

#17747 fix: 17746: MerkleHashTests.exceptionIsRethrownTest fails after 17625
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/merkle/hash/MerkleHashBuilder.java
  platform-sdk/swirlds-merkle/src/test/java/com/swirlds/merkle/test/MerkleHashTests.java
Labels: Platform

#17586 fix: EIP-155 support in isAuthorized/isAuthorizedRaw
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/has/isauthorized/IsAuthorizedCall.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/has/isauthorizedraw/IsAuthorizedRawCall.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/utils/SignatureMapUtils.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/has/isauthorizedraw/IsAuthorizedRawCallTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/utils/SignatureMapUtilsTest.java
Labels: Hedera Smart Contract Service

#17765 fix: revert unnecessary output wire
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/PlatformWiring.java
Labels: Platform

#17738 chore: Pass FixedCustomFees to CustomFeeAssessmentStep via dispatch metadata
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/workflows/DispatchOptions.java
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/workflows/HandleContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/dispatch/ChildDispatchFactory.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/steps/UserTxnFactory.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/handlers/ConsensusSubmitMessageHandler.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/handlers/customfee/ConsensusCustomFeeAssessor.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/api/TokenServiceApiProvider.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/transfer/CustomFeeAssessmentStep.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/transfer/customfees/CustomFeeAssessor.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/transfer/customfees/CustomFixedFeeAssessor.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoTransferHandlerTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/TokenAirdropHandlerTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/transfer/CustomFeeAssessmentStepTest.java
Labels: HapiThursday

#17755 fix: 16784: Drop VirtualMap.getForModify() API
  hedera-node/docs/design/app/states.md
  hedera-node/docs/design/services/token-service/airdrops/airdrop-pending-state.md
  hedera-node/docs/dev/rebuilt-data-structures.md
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/WritableNodeStore.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/WritableNodeStoreTest.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/stack/WritableKVStateStack.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/state/merkle/SerializationTest.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/WritableTopicStore.java
  hedera-node/hedera-consensus-service-impl/src/main/java/com/hedera/node/app/service/consensus/impl/handlers/ConsensusSubmitMessageHandler.java
  hedera-node/hedera-file-service-impl/src/main/java/com/hedera/node/app/service/file/impl/WritableFileStore.java
  hedera-node/hedera-schedule-service-impl/src/main/java/com/hedera/node/app/service/schedule/impl/WritableScheduleStoreImpl.java
  hedera-node/hedera-schedule-service-impl/src/main/java/com/hedera/node/app/service/schedule/impl/handlers/ScheduleSignHandler.java
  hedera-node/hedera-schedule-service-impl/src/test/java/com/hedera/node/app/service/schedule/impl/WritableScheduleStoreImplTest.java
  hedera-node/hedera-schedule-service/src/main/java/com/hedera/node/app/service/schedule/WritableScheduleStore.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/infra/IterableStorageManager.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/state/ContractStateStore.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/state/ReadableContractStateStore.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/state/WritableContractStateStore.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/infra/IterableStorageManagerTest.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/WritableAccountStore.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/WritableAirdropStore.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/WritableNftStore.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/WritableStakingInfoStore.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/WritableTokenRelationStore.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/WritableTokenStore.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/api/TokenServiceApiImpl.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenAirdropHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenUnfreezeAccountHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/TokenUpdateHandler.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/staking/EndOfStakingPeriodUpdater.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/staking/StakeInfoHelper.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/util/PendingAirdropUpdater.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/WritableAccountStoreTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/WritableAirdropStoreTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/WritableNftStoreTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/WritableStakingInfoStoreImplTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/WritableTokenRelationStoreTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/WritableTokenStoreTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/TokenRevokeKycFromAccountHandlerTest.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/TokenUnfreezeAccountHandlerTest.java
  platform-sdk/platform-apps/tests/PlatformTestingTool/src/main/java/com/swirlds/demo/virtualmerkle/transaction/handler/VirtualMerkleTransactionHandler.java
  platform-sdk/swirlds-benchmarks/src/jmh/java/com/swirlds/benchmark/CryptoBench.java
  platform-sdk/swirlds-benchmarks/src/jmh/java/com/swirlds/benchmark/VirtualMapBench.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/hashmap/ReusableBucketPool.java
  platform-sdk/swirlds-state-api/src/main/java/com/swirlds/state/spi/ReadableKVStateBase.java
  platform-sdk/swirlds-state-api/src/main/java/com/swirlds/state/spi/WrappedWritableKVState.java
  platform-sdk/swirlds-state-api/src/main/java/com/swirlds/state/spi/WritableKVState.java
  platform-sdk/swirlds-state-api/src/main/java/com/swirlds/state/spi/WritableKVStateBase.java
  platform-sdk/swirlds-state-api/src/test/java/com/swirlds/state/spi/WritableKVStateBaseTest.java
  platform-sdk/swirlds-state-api/src/testFixtures/java/com/swirlds/state/test/fixtures/MapWritableKVState.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/disk/OnDiskWritableKVState.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/logging/StateLogger.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/memory/InMemoryWritableKVState.java
  platform-sdk/swirlds-state-impl/src/test/java/com/swirlds/state/merkle/disk/OnDiskWritableStateTest.java
  platform-sdk/swirlds-state-impl/src/test/java/com/swirlds/state/merkle/memory/InMemoryWritableStateTest.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/VirtualMap.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNode.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/VirtualMapRandomTest.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/VirtualMapTests.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/VirtualMapValidator.java
Labels: Tech Debt Reduced, Platform Virtual Map, Platform Data Structures, Platform

#17838 fix: Update io.netty:netty-bom to io.netty:netty-bom:4.1.118.Final
  hiero-dependency-versions/build.gradle.kts
Labels: Audit

#17804 fix: 17803: LongListOffHeap snapshots + updates are broken
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/MerkleDbDataSource.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/AbstractLongList.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListDisk.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListHeap.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListOffHeap.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/AbstractLongListTest.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#17858 chore: Changed Roster to List<PeerInfo> wherever possible, in preparation for dynamic connections
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/Utilities.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gossip/SyncGossip.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gossip/modular/PeerCommunication.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gossip/modular/SyncGossipModular.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/metrics/ReconnectMetrics.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/network/ConnectionManager.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/network/InboundConnectionManager.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/network/OutboundConnectionManager.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/network/PeerInfo.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/network/connectivity/OutboundConnectionCreator.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/network/protocol/ReconnectProtocol.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/network/protocol/SyncProtocol.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/network/topology/StaticConnectionManagers.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/network/NetworkPeerIdentifierTest.java
  platform-sdk/swirlds-unit-tests/core/swirlds-platform-test/src/test/java/com/swirlds/platform/test/network/OutboundConnectionCreatorTest.java
  platform-sdk/swirlds-unit-tests/core/swirlds-platform-test/src/test/java/com/swirlds/platform/test/network/StaticConnectionManagersTest.java
  platform-sdk/swirlds-unit-tests/core/swirlds-platform-test/src/test/java/com/swirlds/platform/test/network/communication/multithreaded/ReturnOnceConnectionManager.java
Labels: Platform Gossip

#17875 chore: Revert chore: Minor Version Roll to 0.60.0-SNAPSHOT commit
  version.txt
Labels: github_actions

#17901 chore: Cherry pick fixes for codeowners and ci runners
  .github/CODEOWNERS
  .github/workflows/flow-node-performance-tests.yaml
  .github/workflows/flow-pull-request-formatting.yaml
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-preview.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/node-zxc-compile-application-code.yaml
  .github/workflows/node-zxc-deploy-preview.yaml
  .github/workflows/node-zxcron-main-fsts-regression.yaml
  .github/workflows/node-zxcron-release-branching.yaml
  .github/workflows/node-zxcron-release-fsts-regression.yaml
  .github/workflows/node-zxf-deploy-integration.yaml
  .github/workflows/node-zxf-snyk-monitor.yaml
  .github/workflows/platform-zxc-launch-jrs-workflow.yaml
  .github/workflows/platform-zxcron-main-jrs-regression.yaml
  .github/workflows/platform-zxcron-release-jrs-regression.yaml
  .github/workflows/zxc-jrs-regression.yaml
  .github/workflows/zxc-publish-production-image.yaml
  .github/workflows/zxc-verify-docker-build-determinism.yaml
  .github/workflows/zxc-verify-gradle-build-determinism.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-collect-workflow-logs.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: Release

#17899 chore: cherry pick codeowners and ci runner fixes for hiero-ledger
  .github/CODEOWNERS
  .github/workflows/flow-node-performance-tests.yaml
  .github/workflows/flow-pull-request-formatting.yaml
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-preview.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/node-zxc-compile-application-code.yaml
  .github/workflows/node-zxc-deploy-preview.yaml
  .github/workflows/node-zxcron-main-fsts-regression.yaml
  .github/workflows/node-zxcron-release-branching.yaml
  .github/workflows/node-zxcron-release-fsts-regression.yaml
  .github/workflows/node-zxf-deploy-integration.yaml
  .github/workflows/node-zxf-snyk-monitor.yaml
  .github/workflows/platform-zxc-launch-jrs-workflow.yaml
  .github/workflows/platform-zxcron-main-jrs-regression.yaml
  .github/workflows/platform-zxcron-release-jrs-regression.yaml
  .github/workflows/zxc-jrs-regression.yaml
  .github/workflows/zxc-publish-production-image.yaml
  .github/workflows/zxc-verify-docker-build-determinism.yaml
  .github/workflows/zxc-verify-gradle-build-determinism.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-collect-workflow-logs.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: Release

#17903 chore: Update github workflow references to hiero-consensus-node
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/node-zxcron-release-branching.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxf-collect-workflow-logs.yaml
Labels: github_actions

#17953 fix(release/0.58): backport changes from release 0.59 related to enhanced key loader private key detection
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/ServicesMain.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/info/DiskStartupNetworks.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/Browser.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/crypto/CryptoStatic.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/crypto/EnhancedKeyStoreLoader.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/recovery/internal/RecoveryPlatform.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/crypto/CryptoArgsProvider.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/crypto/EnhancedKeyStoreLoaderTest.java
Labels: Bug, P0

#17954 test: enable EcdsaSecp256k1VerifierTest
  platform-sdk/swirlds-common/src/test/java/com/swirlds/common/crypto/EcdsaSecp256k1VerifierTest.java
  platform-sdk/swirlds-common/src/testFixtures/java/com/swirlds/common/test/fixtures/crypto/EcdsaUtils.java
Labels: Test Development

#17770 test: enhance TurtleTests to connect a test component to the ConsensusEngine
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/SwirldsPlatform.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/builder/PlatformBuilder.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/builder/PlatformBuildingBlocks.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/builder/PlatformComponentBuilder.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/PlatformWiring.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/turtle/runner/TurtleNode.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/turtle/consensus/ConsensusRoundsHolder.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/turtle/consensus/ConsensusRoundsListContainer.java
Labels: Test Development, Platform

#17893 fix(cherrypick): Update io.netty:netty-bom to io.netty:netty-bom:4.1.118.Final
  hiero-dependency-versions/build.gradle.kts
Labels: Release

#18012 feat: Make base read and write state classes more customizable by constructor overload
  platform-sdk/swirlds-state-api/src/main/java/com/swirlds/state/spi/ReadableKVStateBase.java
  platform-sdk/swirlds-state-api/src/main/java/com/swirlds/state/spi/WritableKVStateBase.java
Labels: Platform

#17845 fix: 17841: Backport the fix for 17803 to release 0.59
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/MerkleDbDataSource.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/AbstractLongList.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListDisk.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListHeap.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListOffHeap.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/AbstractLongListTest.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#18080 docs: Add documentation for AtomicBatch service
  hedera-node/docs/design/services/util-service/util-service.md
Labels: HiP-551
