Repository hiero-ledger/hiero-consensus-node, pull requests merged in 2025-08, with the labels that each got.

#20434 refactor: revisit state json
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/VirtualMapState.java
  platform-sdk/swirlds-state-impl/src/test/java/com/swirlds/state/merkle/VirtualMapStateTest.java
Labels: Platform

#20492 chore: Update variable values to fix snyk
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoTransferSuite.java
Labels: Improvement

#20401 feat: Virtual leaves should be hashed as valid block items
  hapi/hedera-protobuf-java-api/src/main/proto/platform/state/virtual_map_state.proto
  hedera-state-validator/src/main/java/com/hedera/statevalidation/validators/merkledb/ValidateLeafIndexHalfDiskHashMap.java
  hedera-state-validator/src/main/java/com/hedera/statevalidation/validators/servicesstate/AccountValidator.java
  hedera-state-validator/src/main/java/com/hedera/statevalidation/validators/servicesstate/TokenRelationsIntegrity.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/service/WritablePlatformStateStoreTest.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/MerkleStateRoot.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/StateUtils.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/VirtualMapState.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/disk/OnDiskIterator.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/disk/OnDiskQueueHelper.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/disk/OnDiskReadableKVState.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/disk/OnDiskSingletonHelper.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/disk/OnDiskWritableKVState.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/disk/OnDiskWritableQueueState.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/disk/OnDiskWritableSingletonState.java
  platform-sdk/swirlds-state-impl/src/test/java/com/swirlds/state/merkle/VirtualMapStateTest.java
  platform-sdk/swirlds-state-impl/src/test/java/com/swirlds/state/merkle/disk/OnDiskReadableStateTest.java
  platform-sdk/swirlds-state-impl/src/test/java/com/swirlds/state/merkle/disk/OnDiskWritableStateTest.java
  platform-sdk/swirlds-state-impl/src/testFixtures/java/com/swirlds/state/test/fixtures/merkle/MerkleTestBase.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/datasource/VirtualLeafBytes.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/datasource/VirtualLeafBytesTest.java
Labels: Platform

#20522 fix: 20515: CryptoBench hashing is unstable
  platform-sdk/swirlds-benchmarks/src/jmh/java/com/swirlds/benchmark/BenchmarkValue.java
  platform-sdk/swirlds-benchmarks/src/jmh/java/com/swirlds/benchmark/CryptoBench.java
  platform-sdk/swirlds-benchmarks/src/jmh/java/com/swirlds/benchmark/FCHashMapBench.java
  platform-sdk/swirlds-benchmarks/src/jmh/java/com/swirlds/benchmark/VirtualMapBench.java
Labels: Platform

#20519 chore: Fix the snyk issues with consistent ignores
  .gitignore
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoTransferSuite.java
Labels: dependencies

#20552 chore(ci): Update Promote Build Candidate to include SDLT trigger
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-single-day-longevity-test-controller-adhoc.yaml
Labels: github_actions

#20621 chore: upgrade to teleport version 18.1.4
  .github/workflows/zxc-execute-performance-test.yaml
  .github/workflows/zxc-single-day-longevity-nlg-test.yaml
  .github/workflows/zxc-single-day-performance-test.yaml
Labels: github_actions

#20641 ci: add fail tags to single day test workflows
  .github/workflows/zxf-single-day-longevity-test-controller-adhoc.yaml
  .github/workflows/zxf-single-day-longevity-test-controller.yaml
  .github/workflows/zxf-single-day-performance-test-controller-adhoc.yaml
  .github/workflows/zxf-single-day-performance-test-controller.yaml
Labels: github_actions

#20669 chore: Replace tag-sdlt-passing tag-sdlpt-passing with appropriate tag-*-result
  .github/workflows/zxf-single-day-longevity-test-controller-adhoc.yaml
  .github/workflows/zxf-single-day-longevity-test-controller.yaml
  .github/workflows/zxf-single-day-performance-test-controller-adhoc.yaml
  .github/workflows/zxf-single-day-performance-test-controller.yaml
Labels: Bug, github_actions

#20685 chore: update hederaCryptography package to 2.0.1
  hiero-dependency-versions/build.gradle.kts
Labels: dependencies, github_actions

#20716 ci: Remove milestone check from PR Formatting workflow
  .github/workflows/flow-pull-request-formatting.yaml
Labels: github_actions

#20682 chore: 20681: Backport the fix for 20629 to release 0.65
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/config/MerkleDbConfig.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/config/ConfigUtils.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/MerkleStateRoot.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/VirtualMapState.java
Labels: Performance, Platform

#20602 ci: Integrate rootly incident action with XTS workflows
  .github/workflows/zxcron-extended-test-suite.yaml
Labels: github_actions

#20822 ci: Add rootly integration to zxcron-promote-build-candidate
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: Improvement, github_actions

#20827 ci: Integrate Rootly with MATS tests
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
Labels: Improvement, github_actions

#20849 ci: Add rootly integration to SDLT
  .github/workflows/zxc-single-day-longevity-nlg-test.yaml
  .github/workflows/zxc-single-day-performance-test.yaml
  .github/workflows/zxf-single-day-longevity-test-controller-adhoc.yaml
  .github/workflows/zxf-single-day-longevity-test-controller.yaml
Labels: github_actions

#20770 ci: require TCK test pass for XTS pass tag
  .github/workflows/zxcron-extended-test-suite.yaml
Labels: github_actions

#20869 fix(ci): Invalid syntax wheen assigning rootly title to bash variable
  .github/workflows/zxc-single-day-longevity-nlg-test.yaml
  .github/workflows/zxc-single-day-performance-test.yaml
Labels: Bug
