Repository hiero-ledger/hiero-consensus-node, pull requests merged in 2025-07, with the labels that each got.

#19940 fix(bug): update hiero-gradle-convention to v0.4.6
  settings.gradle.kts
Labels: github_actions

#19959 ci: shorten description for skip tag and notification on SDPT
  .github/workflows/zxf-single-day-performance-test-controller.yaml
Labels: github_actions

#19958 ci: remove pbj repo checkout from SDPT
  .github/workflows/zxc-single-day-performance-test.yaml
Labels: github_actions

#19964 ci: remove NLG repo checkout from CITR workflow
  .github/workflows/zxc-execute-performance-test.yaml
  .github/workflows/zxc-single-day-performance-test.yaml
  .github/workflows/zxf-single-day-performance-test-controller.yaml
Labels: github_actions

#19973 test: NLG release 0.4.1 (with metrics support). Implements task #19938
  .github/workflows/zxc-execute-performance-test.yaml
  .github/workflows/zxc-single-day-performance-test.yaml
Labels: Performance, github_actions

#19980 chore: Add required build-tag input to the trigger mechanism for SDLT
  .github/workflows/zxcron-promote-build-candidate.yaml
Labels: github_actions

#20018 chore: Report TCK regression test to CITR Detailed Test Reports Channel
  .github/workflows/zxc-tck-regression.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxf-dry-run-extended-test-suite.yaml
Labels: github_actions

#20022 chore: Set color to grey if the TCK tests are cancelled
  .github/workflows/zxc-tck-regression.yaml
Labels: github_actions

#20147 fix: 20146: Bucket.keyEquals() may throw an underflow exception
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/hashmap/Bucket.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/files/hashmap/BucketTest.java
Labels: Bug, Platform Virtual Map, Platform Data Structures, Platform

#20173 chore: add checkout to deploy preview workflow
  .github/workflows/node-zxc-deploy-preview.yaml
Labels: github_actions

#20125 ci: inline namespace replacement in perf test workflow
  .github/workflows/support/citr/Taskfile.examples.yml
  .github/workflows/support/citr/Taskfile.yml
  .github/workflows/support/citr/application.properties.txt
  .github/workflows/support/citr/init-containers-values8.yaml
  .github/workflows/support/citr/merkledb-values.yaml
  .github/workflows/support/citr/nlg-values.yaml
  .github/workflows/support/citr/settings.txt
  .github/workflows/zxc-execute-performance-test.yaml
  .github/workflows/zxc-single-day-performance-test.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-single-day-performance-test-controller.yaml
Labels: github_actions

#20191 chore: Update XTS report name and add TCK regression status
  .github/workflows/zxcron-extended-test-suite.yaml
Labels: github_actions

#20217 chore: Update UBUNTU_TAG to noble-20250714
  hedera-node/infrastructure/docker/containers/production-next/consensus-node/Dockerfile
Labels: docker

#20233 chore: 20231: Swirlds benchmarks grafana scripts are broken
  platform-sdk/swirlds-benchmarks/grafana/run-docker.cmd
  platform-sdk/swirlds-benchmarks/grafana/run-docker.sh
Labels: Platform, Observability

#20248 fix: 20207: RecordAccessor / RecordAccessorImpl cleanup
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/RecordAccessor.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/RecordAccessorImpl.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNode.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/reconnect/TeacherPullVirtualTreeView.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/reconnect/TeacherPushVirtualTreeView.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/merkle/RecordAccessorTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNodeTest.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#20244 chore: Update zxc-execute-performance-test.yaml for SDPT infra changes
  .github/workflows/support/citr/Taskfile.yml
  .github/workflows/support/citr/init-containers-values7.yaml
  .github/workflows/zxc-execute-performance-test.yaml
  .github/workflows/zxc-single-day-performance-test.yaml
Labels: github_actions

#20290 chore: cherry pick final change for release/0.64 infra changes
  .github/workflows/zxc-execute-performance-test.yaml
Labels: github_actions

#20306 fix: Fix typo in xts-info output definition
  .github/workflows/zxcron-extended-test-suite.yaml
Labels: github_actions

#20328 test: 20324: VirtualMapTests.mapWithExistingHashedDataHasNonNullRootHash is flaky
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/VirtualMapTests.java
Labels: Test Development, Platform Virtual Map, Platform Data Structures, Platform, Stability

#20356 fix: Fix erroneous failure report in deploy prod release tag push
  .github/workflows/node-flow-deploy-release-artifact.yaml
Labels: Bug, github_actions

#20369 fix: JRS Failure: StreamDebugUtils: Deserialization failure
  platform-sdk/platform-apps/tests/ISSTestingTool/src/main/java/com/swirlds/demo/iss/ISSTestingToolState.java
  platform-sdk/platform-apps/tests/MigrationTestingTool/src/main/java/com/swirlds/demo/migration/MigrationTestingToolState.java
  platform-sdk/platform-apps/tests/PlatformTestingTool/src/main/java/com/swirlds/demo/platform/PlatformTestingToolState.java
Labels: Platform

#20360 chore: Cleanup solo and install with npm instead of building from source
  .github/workflows/support/citr/Taskfile.citr.yml
  .github/workflows/support/citr/Taskfile.yml
  .github/workflows/support/citr/log4j2.xml
  .github/workflows/zxc-execute-performance-test.yaml
  .github/workflows/zxc-single-day-performance-test.yaml
  .github/workflows/zxf-single-day-performance-test-controller-adhoc.yaml
  .github/workflows/zxf-single-day-performance-test-controller.yaml
Labels: github_actions

#20372 fix: 20363: Deleted hash mutations are redundant in virtual node cache
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/VirtualMap.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/RecordAccessor.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCache.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/VirtualMapHashingTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCacheTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/merkle/RecordAccessorTest.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#20370 fix: Fix ISS reporting mechanism
  platform-sdk/swirlds-logging/src/main/java/com/swirlds/logging/legacy/payload/IssPayload.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/builder/PlatformComponentBuilder.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/iss/DefaultIssDetector.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/IssDetectorTests.java
Labels: Platform

#20405 fix: 20399: HalfDiskHashMap resize support in the state validator
  hedera-state-validator/src/main/java/com/hedera/statevalidation/validators/merkledb/ValidateLeafIndexHalfDiskHashMap.java
  hedera-state-validator/src/main/java/module-info.java
Labels: Hedera State Validator

#20408 fix: state validator fails on large states
  hedera-state-validator/src/main/java/com/hedera/statevalidation/reporting/StorageReport.java
  hedera-state-validator/src/main/java/com/hedera/statevalidation/validators/merkledb/StateAnalyzer.java
Labels: Hedera State Validator

#20455 fix: 20454: Virtual hasher should not include any hash for path 2 if virtual tree has only one leaf
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/hash/VirtualHasher.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/hash/VirtualHasherTestBase.java
Labels: Platform Virtual Map, Platform Data Structures, Platform
