Repository hiero-ledger/hiero-consensus-node, pull requests merged in 2025-05, with the labels that each got.

#19010 feat: Implement staking activation with nonzero shard/realm
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/HapiPropertySource.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/HapiSpec.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/remote/RemoteNetworkFactory.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/remote/RemoteNodeSpec.java
  hedera-node/test-clients/src/main/java/module-info.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/accounts/SetupStakeCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/accounts/StakeCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/config/ConfigManager.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/config/domain/NetConfig.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/config/domain/NodeConfig.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/output/CommonMessages.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/StakeSetupSuite.java
Labels: Yahcli

#18860 chore: 12987 more code coverage for CryptoUpdateHandler
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/handlers/CryptoUpdateHandler.java
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoUpdateHandlerTest.java
Labels: Test Development

#18861 chore: 12987 more code coverage for CryptoTransferHandler
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoTransferHandlerTest.java
Labels: Test Development

#19063 feat: Yahcli nonzero shard/realm implementations for crypto transfers and sys file updates
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/HapiPropertySource.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/infrastructure/HapiClients.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/accounts/SendCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/files/SysFileUploadCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/config/ConfigManager.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/SendSuite.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/StakeSetupSuite.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/SysFileUploadSuite.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/Utils.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/util/HapiSpecUtils.java
  hedera-node/test-clients/yahcli/run/build.sh
  hedera-node/test-clients/yahcli/run/publish.sh
Labels: Yahcli

#19166 feat: Implement nonzero shard/realm for yahcli DAB transactions
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/nodes/CreateCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/nodes/DeleteCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/nodes/UpdateCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/CreateNodeSuite.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/DeleteNodeSuite.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/UpdateNodeSuite.java
  hedera-node/test-clients/yahcli/run/build.sh
  hedera-node/test-clients/yahcli/run/publish.sh
Labels: Yahcli

#19113 chore: 19096: improve data file writer
  platform-sdk/swirlds-base/src/testFixtures/java/com/swirlds/base/test/fixtures/util/DataUtils.java
  platform-sdk/swirlds-merkledb/build.gradle.kts
  platform-sdk/swirlds-merkledb/src/hammer/java/com/swirlds/merkledb/files/DataFileReaderHammerTest.java
  platform-sdk/swirlds-merkledb/src/jmh/java/com/swirlds/benchmark/DataFileWriterBenchmark.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/DataFileCollection.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/DataFileCompactor.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/DataFileIterator.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/DataFileMetadata.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/DataFileReader.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/DataFileWriter.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/files/DataFileLowLevelTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/files/DataFileMetadataTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/files/DataFileReaderCloseTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/files/DataFileReaderTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/files/DataFileWriterTest.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/files/DataFileCollectionTest.java
Labels: Tech Debt Reduced, Platform Virtual Map, Platform Data Structures, Platform

#19147 chore: Decouple `hapiTestCrypto` from shard/realm
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/HapiPropertySource.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/queries/HapiQueryOp.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/crypto/HapiCryptoCreate.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/Utils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/ethereum/EthereumSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/leaky/LeakyContractTestsSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/opcodes/Create2OperationSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/airdrops/AirdropFromContractTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/airdrops/AirdropToContractSystemContractTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/traceability/TraceabilitySuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/AutoAccountCreationSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/AutoAccountCreationUnlimitedAssociationsSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoCreateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoGetInfoRegression.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoTransferSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoUpdateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/HollowAccountFinalizationSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/QueryPaymentSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/AirdropsDisabledTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/AirdropsFeatureFlagTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/UnlimitedAutoAssociationSuite.java
Labels: Test Development

#19255 feat: Support accepting/declining rewards in yahcli DAB transactions
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/nodes/CreateCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/nodes/UpdateCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/config/domain/NetConfig.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/CreateNodeSuite.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/UpdateNodeSuite.java
  hedera-node/test-clients/yahcli/README.md
  hedera-node/test-clients/yahcli/run/build.sh
  hedera-node/test-clients/yahcli/run/publish.sh
Labels: Yahcli

#18617 feat: overwrite default config converters
  platform-sdk/docs/base/configuration/configuration.md
  platform-sdk/swirlds-config-impl/src/main/java/com/swirlds/config/impl/internal/ConverterService.java
  platform-sdk/swirlds-config-impl/src/test/java/com/swirlds/config/impl/ConfigApiTests.java
  platform-sdk/swirlds-config-impl/src/test/java/com/swirlds/config/impl/internal/ConverterServiceTest.java
Labels: Improvement, Base Config, Platform

#19117 ci: let Dependabot find updates for org.hiero.gradle.build
  .github/dependabot.yml
Labels: dependencies, Java

#19321 fix: 19319: Improve MerkleDb reconnect / compaction synchronization
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/MerkleDbCompactionCoordinator.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/AbstractLongList.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/CASableLongIndex.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/DataFileCompactor.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/AbstractLongListTest.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/CompactionInterruptTest.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/MerkleDbDataSourceSnapshotMergeTest.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/files/DataFileCollectionCompactionTest.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/files/DataFileCollectionTest.java
Labels: Platform Virtual Map, Platform Data Structures, Platform, Stability

#19297 feat: Support nonzero shard/realm in yahcli sys commands
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/keys/NewPemCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/system/FreezeAbortCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/system/FreezeOnlyCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/system/FreezeUpgradeCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/system/PrepareUpgradeCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/system/TelemetryUpgradeCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/CostOfEveryThingSuite.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/FreezeHelperSuite.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/UpgradeHelperSuite.java
  hedera-node/test-clients/yahcli/run/build.sh
  hedera-node/test-clients/yahcli/run/publish.sh
Labels: Yahcli

#18727 chore: Add TCK tests to CITR XTS flow
  .github/workflows/zxc-tck-regression.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxf-dry-run-extended-test-suite.yaml
Labels: Test Development

#19318 test: 19280 tests creating new instances of state must release them
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/state/merkle/DependencyMigrationTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/state/merkle/MerkleSchemaRegistryTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/state/merkle/SerializationTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/state/merkle/disk/OnDiskTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/SolvencyPreCheckTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/record/BlockRecordManagerTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/ingest/IngestCheckerTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/query/QueryCheckerTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/query/QueryWorkflowImplTest.java
  hedera-node/hedera-app/src/testFixtures/java/com/hedera/node/app/fixtures/AppTestBase.java
  hedera-node/hedera-app/src/testFixtures/java/module-info.java
  platform-sdk/platform-apps/tests/PlatformTestingTool/build.gradle.kts
  platform-sdk/platform-apps/tests/PlatformTestingTool/src/test/java/com/swirlds/demo/virtualmerkle/VirtualMerkleLeafHasherTest.java
  platform-sdk/platform-apps/tests/PlatformTestingTool/src/test/java/com/swirlds/demo/virtualmerkle/transaction/handler/VirtualMerkleTransactionHandlerTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/MerkleDbDataSourceMetricsTest.java
  platform-sdk/swirlds-merkledb/src/testFixtures/java/com/swirlds/merkledb/test/fixtures/MerkleDbTestUtils.java
  platform-sdk/swirlds-merkledb/src/testFixtures/java/module-info.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/DataSourceValidatorTest.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/MerkleDbDataSourceTest.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/MerkleDbSnapshotTest.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/MerkleDbTest.java
  platform-sdk/swirlds-platform-core/build.gradle.kts
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/SignedStateFileReadWriteTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/StateFileManagerTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/reconnect/DefaultSignedStateValidatorTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/reconnect/RandomVirtualMapReconnectTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/reconnect/ReconnectTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/reconnect/VirtualMapReconnectTestBase.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/BirthRoundStateMigrationTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/IssDetectorTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/MerkleStateRootTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/SignedStateReferenceTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/SignedStateTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/StateEventHandlerManagerUtilsTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/StateTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/SwirldsStateManagerTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/service/PlatformStateFacadeTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/signed/StartupStateUtilsTests.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/state/MerkleTestBase.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/state/RandomSignedStateGenerator.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/module-info.java
  platform-sdk/swirlds-state-impl/src/test/java/com/swirlds/state/merkle/disk/OnDiskReadableStateTest.java
  platform-sdk/swirlds-state-impl/src/test/java/com/swirlds/state/merkle/disk/OnDiskWritableStateTest.java
  platform-sdk/swirlds-state-impl/src/testFixtures/java/com/swirlds/state/test/fixtures/merkle/MerkleTestBase.java
  platform-sdk/swirlds-state-impl/src/testFixtures/java/module-info.java
  platform-sdk/swirlds-virtualmap/build.gradle.kts
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/merkle/VirtualMerkleNavigationTest.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/VirtualMapHashingTest.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/VirtualMapTests.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/reconnect/VirtualMapReconnectTestBase.java
Labels: Test Development, Tech Debt Reduced, Platform
