Repository hiero-ledger/hiero-consensus-node, pull requests merged in 2025-03, with the labels that each got.

#18142 chore: Re-enable Snyk Monitor job
  .github/workflows/node-zxf-snyk-monitor.yaml
Labels: github_actions

#18166 ci: revert snapshot version, update workflow to use ref
  .github/workflows/flow-increment-next-main-release.yaml
  version.txt
Labels: github_actions

#18178 ci: update ubuntu version to 24.04 and 22.04
  .github/workflows/zxc-verify-docker-build-determinism.yaml
  .github/workflows/zxc-verify-gradle-build-determinism.yaml
Labels: github_actions

#18146 perf: reduce heap allocation overhead in signature verification
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/MiscCryptoUtils.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/signature/impl/SignatureVerificationFutureImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/signature/impl/SignatureVerifierImpl.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/signature/impl/SignatureVerificationFutureImplTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/signature/impl/SignatureVerifierImplTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/hapi/ContractCallSuite.java
  platform-sdk/platform-apps/tests/PlatformTestingTool/src/main/java/com/swirlds/demo/platform/PlatformTestingToolStateLifecycles.java
  platform-sdk/platform-apps/tests/StatsSigningTestingTool/src/main/java/com/swirlds/demo/stats/signing/StatsSigningTestingToolStateLifecycles.java
  platform-sdk/platform-apps/tests/StatsSigningTestingTool/src/main/java/com/swirlds/demo/stats/signing/TransactionCodec.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/crypto/Cryptography.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/crypto/TransactionSignature.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/crypto/engine/CryptoEngine.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/crypto/engine/EcdsaSecp256k1VerificationProvider.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/crypto/engine/Ed25519VerificationProvider.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/utility/CommonUtils.java
  platform-sdk/swirlds-common/src/test/java/com/swirlds/common/crypto/CryptographyBenchmarkTests.java
  platform-sdk/swirlds-common/src/test/java/com/swirlds/common/crypto/TransactionSignatureTests.java
  platform-sdk/swirlds-common/src/test/java/com/swirlds/common/utility/CommonUtilsTest.java
  platform-sdk/swirlds-common/src/testFixtures/java/com/swirlds/common/test/fixtures/crypto/EcdsaSignedTxnPool.java
  platform-sdk/swirlds-common/src/testFixtures/java/com/swirlds/common/test/fixtures/crypto/SignaturePool.java
  platform-sdk/swirlds-common/src/timingSensitive/java/com/swirlds/common/crypto/CryptographyTests.java
Labels: Tech Debt Reduced, Performance

#18181 ci: update ubuntu version to 24.04 and 22.04
  .github/workflows/zxc-verify-docker-build-determinism.yaml
  .github/workflows/zxc-verify-gradle-build-determinism.yaml
Labels: Release

#18204 ci: Enable IssHandlingTestSuite in CI PR Checks
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-pull-request-checks.yaml
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/misc/IssHandlingTestSuite.java
Labels: github_actions

#18164 fix: 18094: Some LongList and HalfDiskHashMap values should be configurable
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/state/merkle/MerkleSchemaRegistry.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/state/merkle/MerkleSchemaRegistryTest.java
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/schemas/V0490TokenSchema.java
  platform-sdk/swirlds-benchmarks/src/jmh/java/com/swirlds/benchmark/DataFileCollectionBench.java
  platform-sdk/swirlds-benchmarks/src/jmh/java/com/swirlds/benchmark/KeyValueStoreBench.java
  platform-sdk/swirlds-merkledb/src/hammer/java/com/swirlds/merkledb/files/DataFileCollectionCompactionHammerTest.java
  platform-sdk/swirlds-merkledb/src/hammer/java/com/swirlds/merkledb/files/MemoryIndexDiskKeyValueStoreCompactionHammerTest.java
  platform-sdk/swirlds-merkledb/src/jmh/java/com/swirlds/benchmark/LongListBenchmark.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/MerkleDbDataSource.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/MerkleDbTableConfig.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/AbstractLongList.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/HashListByteBuffer.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListDisk.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListHeap.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListOffHeap.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/config/MerkleDbConfig.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/files/hashmap/HalfDiskHashMap.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/MerkleDbDataSourceMetricsTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/VirtualMapSerializationTests.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/AbstractLongListTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/HashListByteBufferTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/LongListAdHocTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/LongListDiskTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/LongListHeapTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/LongListOffHeapTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/LongListValidRangeTest.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/files/DataFileReaderCloseTest.java
  platform-sdk/swirlds-merkledb/src/test/resources/test_data/LongListHalfEmpty_10k_10pc_v1.ll
  platform-sdk/swirlds-merkledb/src/test/resources/test_data/LongListHalfEmpty_10k_10pc_v2.ll
  platform-sdk/swirlds-merkledb/src/testFixtures/java/com/swirlds/merkledb/test/fixtures/TestType.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/DataSourceValidatorTest.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/MerkleDbDataSourceTest.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/files/DataFileCollectionCompactionTest.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/files/DataFileCollectionTest.java
  platform-sdk/swirlds-merkledb/src/timingSensitive/java/com/swirlds/merkledb/files/MemoryIndexDiskKeyValueStoreTest.java
Labels: Platform Virtual Map, Platform Data Structures, Platform, Scalability

#18105 docs: move inlinePces doc to docs and describe the feature
  platform-sdk/docs/core/inlinePces/consensusPlatformArch.png
  platform-sdk/docs/core/inlinePces/inlinePces.md
  platform-sdk/docs/proposals/inlinePces/inlinePces.png
  platform-sdk/docs/proposals/inlinePces/inlinePcesProposal.md
Labels: Platform

#18303 fix: 18267: Backport the fix for 18235 to 0.59
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListDisk.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/AbstractLongListTest.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#18354 fix: 18353: Decrease maxKeysHint for token rels back to 1B
  hedera-node/hedera-token-service-impl/src/main/java/com/hedera/node/app/service/token/impl/schemas/V0490TokenSchema.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#18330 fix: 18271: HashListByteBuffer can't load from an old snapshot because of obsolete default config values
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/MerkleDbDataSource.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/AbstractLongList.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/HashList.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/HashListByteBuffer.java
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/config/MerkleDbConfig.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/HashListByteBufferTest.java
  platform-sdk/swirlds-merkledb/src/test/resources/test_data/HashList_48_1024_800_v1.hl
Labels: Regression, Platform Virtual Map, Platform Data Structures, Platform

#18250 fix: 18235: LongListDisk.writeLongsData() may corrupt data in snapshots
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListDisk.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/AbstractLongListTest.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#18269 fix: 18266: Backport the fix for 18235 to 0.60
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListDisk.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/collections/AbstractLongListTest.java
Labels: Platform Virtual Map, Platform Data Structures, Platform

#17478 fix: Cancun SELFDESTRUCT semantics incorrect when beneficiary is contract itself and it isn't deleted
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/operations/CustomSelfDestructOperation.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/hevm/HederaWorldUpdater.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/state/DispatchingEvmFrameState.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/state/EvmFrameState.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/state/ProxyWorldUpdater.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/operations/CustomSelfDestructOperationTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/opcodes/SelfDestructSuite.java
Labels: Hedera Smart Contract Service

#18364 fix: 18363: Random test failures because MapTest destroys virtual map copies asynchronously
  platform-sdk/swirlds-merkle/src/timingSensitive/java/com/swirlds/virtual/merkle/map/MapTest.java
Labels: Test Development, Tech Debt Reduced, Platform, Stability

#18148 ci: add release branch creation to semantic release workflow
  .github/workflows/flow-trigger-release.yaml
Labels: github_actions

#18437 perf: reduce gRPC allocation and copy overhead when processing KnownLengthStream
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/grpc/impl/netty/KnownLengthStream.java
Labels: Performance

#18473 ci: fix typo in workflow input file
  .github/workflows/flow-increment-next-main-release.yaml
Labels: github_actions

#17728 docs: add platform test improvement proposal documentation
  platform-sdk/docs/proposals/testing/ConsensusEngineCurrentWiring.png
  platform-sdk/docs/proposals/testing/ConsensusEngineProposedWiring.png
  platform-sdk/docs/proposals/testing/StateSignatureCollectorProposedWiring.png
  platform-sdk/docs/proposals/testing/TurtleFramework.png
  platform-sdk/docs/proposals/testing/TurtleNode.png
  platform-sdk/docs/proposals/testing/platform-tests-enhancement.md
Labels: Design, Platform

#18520 ci: Update reporting in promote-build-candidate to include links
  .github/workflows/flow-node-performance-tests.yaml
  .github/workflows/flow-pull-request-formatting.yaml
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-preview.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/node-zxc-compile-application-code.yaml
  .github/workflows/node-zxc-deploy-preview.yaml
  .github/workflows/node-zxcron-main-fsts-regression.yaml
  .github/workflows/node-zxcron-release-branching.yaml
  .github/workflows/node-zxcron-release-fsts-regression.yaml
  .github/workflows/node-zxf-deploy-integration.yaml
  .github/workflows/node-zxf-snyk-monitor.yaml
  .github/workflows/platform-zxc-launch-jrs-workflow.yaml
  .github/workflows/platform-zxcron-main-jrs-regression.yaml
  .github/workflows/platform-zxcron-release-jrs-regression.yaml
  .github/workflows/zxc-jrs-regression.yaml
  .github/workflows/zxc-publish-production-image.yaml
  .github/workflows/zxc-verify-docker-build-determinism.yaml
  .github/workflows/zxc-verify-gradle-build-determinism.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-collect-workflow-logs.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Labels: github_actions

#18514 chore: stop regression for 0.59 release tag
  .github/workflows/node-zxcron-release-fsts-regression.yaml
  .github/workflows/platform-zxcron-release-jrs-regression.yaml
Labels: Regression

#18369 test: add validations for consensus events used by Turtle tests
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/consensus/ConsensusTestDefinitions.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/consensus/IntakeAndConsensusTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/turtle/runner/Turtle.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/turtle/runner/TurtleBuilder.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/turtle/runner/TurtleNode.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/turtle/runner/TurtleTests.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/PlatformTest.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/ConsensusTestRunner.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/ConsensusTestNode.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/ConsensusTestOrchestrator.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/validation/ConsensusOutputValidation.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/validation/ConsensusOutputValidator.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/validation/ConsensusRoundValidation.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/validation/ConsensusRoundValidator.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/validation/OutputEventRatioValidation.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/validation/OutputEventsAddedInDifferentOrderValidation.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/validation/OutputEventsEqualityValidation.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/validation/OutputNoEventsLostValidation.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/validation/RoundAncientThresholdIncreasesValidation.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/validation/RoundInternalEqualityValidation.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/validation/RoundTimestampCheckerValidation.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/validation/TestFixtureValidationUtils.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/validation/TimestampChecker.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/validation/Validations.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/sync/SyncNode.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/turtle/consensus/ConsensusRoundsHolder.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/turtle/consensus/ConsensusRoundsListContainer.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/module-info.java
Labels: Test Development, Platform

#18569 ci: Add slack user if user is found in XTS failure report
  .github/workflows/zxcron-extended-test-suite.yaml
Labels: github_actions

#18515 feat: Enhance yahcli rekey with ECDSA support
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/keys/KeyUtils.java
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/keys/Secp256k1Utils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/HapiPropertySource.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/HapiSpecSetup.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/infrastructure/HapiSpecRegistry.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/keys/KeyFactory.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/keys/SigControl.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/inventory/AccessoryUtils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/inventory/SpecKeyFromEcdsaFile.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/inventory/SpecKeyFromFile.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/inventory/SpecKeyFromLiteral.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/inventory/SpecKeyFromMnemonic.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/inventory/SpecKeyFromPem.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/inventory/TypedKey.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/accounts/CreateCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/accounts/RekeyCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/RekeySuite.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/util/ParseUtils.java
  hedera-node/test-clients/yahcli/README.md
  hedera-node/test-clients/yahcli/run/build.sh
  hedera-node/test-clients/yahcli/run/publish.sh
Labels: Yahcli
